.english {
  @import "common/font_styling";

  /*--- Highlight language in mobile language menu ---*/
  #lang1 li > a[href="/tce"] {
    color: #d62d34 !important;
  }

  .check-english:before {
    content: "Ó†ç";
  }
}
