.espanol-america-latina {
  @import "common/font_styling";
  /*--- Highlight language in mobile language menu ---*/
  #lang1 li > a[href="/tce/espanol-america-latina"] {
    color: #d62d34 !important;
  }

  .check-espanol-america-latina:before {
    content: "Ó†ç";
  }

  /* Eveerything below here copied from espanol.scss */
  @media (min-device-width: 200px) and (max-width: 600px) {
    #sharediv {
      padding: 7% 5% 10% 20%;
      width: 70%;
    }

    #toc1 {
      width: 50%;
      margin: 0 10% 0 5%;
    }

    #toc2 {
      width: 35%;
      margin: 0 0 0 0%;
    }

    .leftintro p {
      padding: 0.5% 0 0 0;
    }

    .rightintro h3 {
      padding: 22% 5% 0% 0%;
      font-size: 12vw;
      line-height: 12vw;
    }

    #self h2 {
      padding: 6% 0 0 7%;
    }

    #answering h2 {
      padding: 2% 0 0 23%;
    }

    #relationships h2 {
      padding: 5% 0 0 9%;
    }

    #borders h2 {
      padding: 12% 0 0 17%;
    }

    #revolt h2 {
      padding: 50% 0 0 36%;
      color: white;
    }

    /*  #outro .leftintro p {

       }*/

    #takeflight h1 {
      font-size: 20.5vw;
      line-height: 17vw;
    }
  }

  /*-------------TABLET CSS------------------*/
  @media (min-width: 601px) and (max-width: 1023px) {
    #toc1 {
      width: 50%;
      margin: 0 10% 0 5%;
    }

    #toc2 {
      width: 35%;
      margin: 0 0 0 0%;
    }

    .title {
      padding-left: 9%;
      padding-top: 9%;
      width: 91%;
    }

    .title h1 {
      font-size: 11vw;
      line-height: 10vw;
    }

    .title h4 {
      font-size: 3.75vw;
      padding: 20.5% 0 0 20%;
      width: 80%;
    }

    /*#videopdf {
       padding-top: 22%;
       }*/

    #videopdf p {
      padding: 0.5% 0 0 8.8%;
    }

    #pdfright p {
      padding: 12% 0 0 0.5%;
    }

    .leftintro p {
      padding: 0.5% 0 0 0;
    }

    .rightintro h3 {
      padding: 22% 5% 0% 0%;
      font-size: 12vw;
      line-height: 12vw;
    }

    #self h2 {
      padding: 6% 0 0 7%;
    }

    #answering h2 {
      padding: 2% 0 0 23%;
    }

    #relationships h2 {
      padding: 5% 0 0 9%;
    }

    #borders h2 {
      padding: 12% 0 0 17%;
    }

    #revolt h2 {
      padding: 50% 0 0 36%;
      color: white;
    }

    #outro .leftintro p {
    }

    #takeflight h1 {
      font-size: 20.5vw;
      line-height: 17vw;
    }
  }

  /*-------------TABLET LANDSCAPE------------------*/
  @media (min-width: 1024px) and (max-width: 1200px) {
    .title {
      padding-left: 13%;
      padding-top: 5%;
    }

    .title h1 {
      font-size: 10vw;
      line-height: 8vw;
    }

    .title h4 {
      font-size: 2.75vw;
      padding: 20.5% 0 0 20%;
    }

    #videopdf {
      padding-top: 22%;
    }

    #videopdf p {
      padding: 0.5% 0 0 4.4%;
    }

    #pdfright p {
      padding: 6% 0 0 0.5%;
    }

    .leftintro p {
    }

    .rightintro h3 {
      font-size: 12.3vw;
      line-height: 13vw;
      padding: 20% 5% 0% 0%;
    }

    #self h2 {
      padding: 6% 0 0 7%;
    }

    #answering h2 {
      padding: 2% 0 0 23%;
    }

    #relationships h2 {
      padding: 5% 0 0 9%;
    }

    #borders h2 {
      padding: 12% 0 0 17%;
    }

    #revolt h2 {
      padding: 50% 0 0 36%;
      color: white;
    }

    #outro .leftintro p {
    }

    #takeflight h1 {
      font-size: 20.5vw;
      line-height: 17vw;
    }
  }

  /*-------------DESKTOP SMALL CSS------------------*/
  @media (min-width: 1201px) and (max-width: 1670px) {
    ul#toc {
      width: 465px;
    }

    ul#share {
      width: 270px;
    }

    .title {
      padding-left: 13%;
      padding-top: 5%;
    }

    .title h1 {
      font-size: 10vw;
      line-height: 8vw;
    }

    .title h4 {
      font-size: 2vw;
      padding: 20% 0 0 30%;
    }

    #videopdf {
      padding-top: 22%;
    }

    #videopdf p {
      padding: 0.5% 0 0 4.6%;
    }

    #pdfright p {
      padding: 4% 0 0 0.5%;
    }

    .leftintro p {
      font-size: 1.45vw;
    }

    .rightintro h3 {
      font-size: 5.9vw;
    }

    #self h2 {
      padding: 6% 0 0 7%;
    }

    #answering h2 {
      padding: 2% 0 0 23%;
    }

    #power .righttext {
      width: 76%;
      padding: 5% 14% 0% 10%;
    }

    #relationships h2 {
      padding: 5% 0 0 9%;
    }

    #borders h2 {
      padding: 12% 0 0 17%;
    }

    #reconciling .righttext {
      width: 84%;
      padding: 5% 6% 0% 10%;
    }

    #revolt h2 {
      padding: 50% 0 0 36%;
      color: white;
    }

    #revolt .righttext {
      width: 84%;
      padding: 1% 6% 0% 10%;
    }

    #control .righttext {
      width: 78%;
      padding: 8% 12% 0% 10%;
    }

    #hierarchy .righttext {
      width: 78%;
      padding: 7% 12% 0% 10%;
    }

    #government .righttext {
      width: 85%;
      padding: 5% 5% 0% 10%;
    }

    #profit .righttext {
      width: 80%;
      padding: 3% 10% 0% 10%;
    }

    #property .righttext {
      width: 80%;
      padding: 3% 10% 0% 10%;
    }

    #lastcrime .righttext {
      width: 70%;
      padding: 15% 20% 0% 10%;
    }

    .first {
      width: 23%;
      padding: 5% 7% 5% 8%;
    }

    .second {
      width: 28%;
      padding: 5% 7% 5% 0%;
    }

    .third {
      width: 20%;
      padding: 5% 7% 5% 0%;
    }

    #outro .leftintro p {
      font-size: 1.6vw;
      line-height: 2.1vw;
    }

    #takeflight h1 {
      font-size: 13vw;
      line-height: 10.75vw;
    }
  }

  /*-------------DESKTOP BIG CSS------------------*/
  @media (min-width: 1671px) {
    #toc a {
      width: 555px;
    }

    ul#toc {
      width: 605px;
    }

    ul#share {
      width: 330px;
    }

    .title {
      padding-left: 18%;
    }

    .title h4 {
      font-size: 2vw;
    }

    #videopdf p {
      padding: 0.5% 0 0 3.9%;
    }

    #pdfright p {
      padding: 4% 0 0 0.5%;
    }

    .leftintro p {
      font-size: 1.45vw;
    }

    .rightintro h3 {
      font-size: 5.9vw;
    }

    #self h2 {
      padding: 6% 0 0 7%;
    }

    #answering h2 {
      padding: 2% 0 0 23%;
    }

    #power .righttext {
      width: 65%;
      padding: 5% 20% 0% 15%;
    }

    #relationships h2 {
      padding: 5% 0 0 9%;
    }

    #borders h2 {
      padding: 12% 0 0 17%;
    }

    #reconciling .righttext {
      width: 79%;
      padding: 5% 6% 0% 15%;
    }

    #revolt h2 {
      padding: 50% 0 0 36%;
      color: white;
    }

    #revolt .righttext {
      width: 71%;
      padding: 5% 14% 0% 15%;
    }

    #hierarchy .righttext {
      width: 65%;
      padding: 10% 20% 0% 15%;
    }

    #government .righttext {
      width: 81%;
      padding: 5% 4% 0% 15%;
    }

    #profit .righttext {
      width: 70%;
      padding: 5% 15% 0% 15%;
    }

    #property .righttext {
      width: 80%;
      padding: 3% 5% 0% 15%;
    }

    #lastcrime .righttext {
      width: 65%;
      padding: 15% 20% 0% 15%;
    }

    .first {
      width: 23%;
      padding: 5% 7% 5% 8%;
    }

    .second {
      width: 28%;
      padding: 5% 7% 5% 0%;
    }

    .third {
      width: 20%;
      padding: 5% 7% 5% 0%;
    }

    #outro .leftintro p {
      font-size: 1.6vw;
      line-height: 2.1vw;
    }

    #takeflight h1 {
      font-size: 13vw;
      line-height: 10.75vw;
    }
  }
}
