@import "notokufiarabic";
.فارسی {
  @import "farsi/font_overrides";

  /*--- Highlight language in mobile language menu ---*/
  #lang1 li > a[href="/tce/farsi"] {
    color: #d62d34 !important;
  }
  .check-farsi:before {
    content: "";
  }

  /*-------------PHONE CSS------------------*/
  @media (min-device-width: 200px) and (max-width: 600px) {
    #intro h3,
    #self h2,
    #answering h2,
    #power h2,
    #relationships h2,
    #reconciling h2,
    #liberation h2,
    #revolt h2,
    #control h2,
    #hierarchy h2,
    #borders h2,
    #representation h2,
    #leaders h2,
    #government h2,
    #profit h2,
    #property h2,
    #lastcrime h2 {
      right: 0;
      padding: 0;
      padding-top: 10%;
      padding-right: 10%;
      width: 89%;
    }

    #intro {
      .rightintro {
        position: absolute;
        bottom: 5px;
      }
    }
    #relationships h2 {
      padding-top: 5%;
    }

    #outro {
      h3 {
        padding: 0;
        padding-right: 10%;
        padding-top: 10%;
        width: 89%;
      }
    }

    #takeflight {
      h1 {
        padding: 0;
        right: 10%;
        top: 10%;
        width: 89%;
      }
    }
  }

  /*-------------TABLET CSS------------------*/
  @media (min-width: 601px) and (max-width: 1023px) {
    #intro h3,
    #self h2,
    #answering h2,
    #power h2,
    #relationships h2,
    #reconciling h2,
    #liberation h2,
    #revolt h2,
    #control h2,
    #hierarchy h2,
    #borders h2,
    #representation h2,
    #leaders h2,
    #government h2,
    #profit h2,
    #property h2,
    #lastcrime h2 {
      right: 0;
      padding: 0;
      padding-top: 10%;
      padding-right: 10%;
      width: 89%;
    }
    #relationships h2 {
      padding-top: 5%;
    }

    #outro {
      h3 {
        padding: 0;
        padding-right: 10%;
        padding-top: 10%;
        width: 89%;
      }
    }

    #takeflight {
      h1 {
        padding: 0;
        right: 10%;
        top: 10%;
        width: 89%;
      }
    }
  }

  /*-------------TABLET LANDSCAPE------------------*/
  @media (min-width: 1024px) and (max-width: 1200px) {
    #intro h3,
    #self h2,
    #answering h2,
    #power h2,
    #relationships h2,
    #reconciling h2,
    #liberation h2,
    #revolt h2,
    #control h2,
    #hierarchy h2,
    #borders h2,
    #representation h2,
    #leaders h2,
    #government h2,
    #profit h2,
    #property h2,
    #lastcrime h2 {
      right: 0;
      padding: 0;
      padding-top: 10%;
      padding-right: 10%;
      width: 89%;
    }

    #outro {
      h3 {
        padding: 0;
        padding-right: 10%;
        padding-top: 10%;
        width: 89%;
      }
    }

    #takeflight {
      h1 {
        padding: 0;
        right: 10%;
        top: 10%;
        width: 89%;
      }
    }
  }

  /*-------------DESKTOP SMALL CSS------------------*/
  @media (min-width: 1201px) and (max-width: 1670px) {
    ul#share {
      width: 280px;
    }
    #intro h3 {
      padding: 0;
      padding-top: 5%;
      margin-right: 10%;
    }

    #self h2,
    #answering h2,
    #power h2,
    #relationships h2,
    #reconciling h2,
    #liberation h2,
    #revolt h2,
    #control h2,
    #hierarchy h2,
    #borders h2,
    #representation h2,
    #leaders h2,
    #government h2,
    #profit h2,
    #property h2,
    #lastcrime h2 {
      width: unset;
      right: 0;
      padding: 0;
      padding-top: 10%;
      margin-right: 10%;
    }

    #power h2 {
      padding-top: 5%;
    }

    #relationships h2 {
      padding-top: 5%;
    }

    #reconciling {
      h2 {
        padding-top: 5%;
      }
    }

    #borders h2 {
      padding-top: 5%;
    }
    #representation h2 {
      padding-top: 5%;
    }
    #leaders h2 {
      padding-top: 5%;
    }

    #profit {
      h2 {
        padding-top: 5%;
      }
    }
    #property {
      .left {
        padding-top: 50%;
      }
      h2 {
        padding-top: 5%;
      }
    }

    #outro h3 {
      width: 100%;
      padding: 0;
      padding-right: 10%;
      right: 10%;
    }

    #takeflight h1 {
      padding: 0;
      width: auto;
      right: 10%;
      padding-top: 10%;
    }
  }

  /*-------------DESKTOP BIG CSS------------------*/
  @media (min-width: 1671px) {
    ul#share {
      width: 280px;
    }
    #intro h3 {
      padding: 0;
      padding-top: 5%;
      margin-right: 10%;
    }

    #self h2,
    #answering h2,
    #power h2,
    #relationships h2,
    #reconciling h2,
    #liberation h2,
    #revolt h2,
    #control h2,
    #hierarchy h2,
    #borders h2,
    #representation h2,
    #leaders h2,
    #government h2,
    #profit h2,
    #property h2,
    #lastcrime h2 {
      width: unset;
      right: 0;
      padding: 0;
      padding-top: 10%;
      margin-right: 10%;
    }

    #power h2 {
      padding-top: 5%;
    }

    #relationships h2 {
      padding-top: 5%;
    }

    #reconciling h2 {
      padding-top: 5%;
    }

    #borders h2 {
      padding-top: 5%;
    }
    #representation h2 {
      padding-top: 5%;
    }
    #leaders h2 {
      padding-top: 5%;
    }

    #profit h2 {
      padding-top: 5%;
    }
    #property {
      .left {
        padding-top: 50%;
      }
      h2 {
        padding-top: 5%;
      }
    }

    #outro h3 {
      width: 100%;
      padding: 0;
      padding-right: 10%;
      right: 10%;
    }

    #takeflight h1 {
      padding: 0;
      width: auto;
      right: 10%;
      padding-top: 10%;
    }
  }
}
