@import "notokufiarabic";
.فارسی {
  @import "farsi/font_overrides";

  /*--- Highlight language in mobile language menu ---*/
  #lang1 li > a[href="/tce/farsi"] { color: #d62d34 !important; }
  .check-farsi:before { content: ""; }

  /* TODO: A lot of this can be removed if we use logical units in the
     common styles. */
  #intro, #outro {
    h3 {
      padding: 0;

      @media (min-device-width: 200px) and (max-width: 1200px) {
        padding-block-start: 10%;
        padding-inline-start: 10%;
        inline-size: 89%;
      }
    }
  }

  #intro {
    h3 {
      @media (min-device-width: 200px) and (max-width: 1200px) {
        inset-inline-start: 0;
      }

      @media (min-width: 1201px) {
        padding-block-start: 5%;
        margin-inline-start: 10%;
      }
    }

    .rightintro {
      @media (min-device-width: 200px) and (max-width: 600px) {
        position: absolute;
        inset-block-end: 5px;
      }
    }
  }

  #outro {
    h3 {
      @media (min-width: 1201px) {
        inline-size: 100%;
        padding-inline-start: 10%;
        inset-inline-start: 10%;
      }
    }
  }

  /*-------------PHONE CSS------------------*/
  @media (min-device-width: 200px) and (max-width: 600px) {
    #self h2,
    #answering h2,
    #power h2,
    #relationships h2,
    #reconciling h2,
    #liberation h2,
    #revolt h2,
    #control h2,
    #hierarchy h2,
    #borders h2,
    #representation h2,
    #leaders h2,
    #government h2,
    #profit h2,
    #property h2,
    #lastcrime h2 {
      right: 0;
      padding: 0;
      padding-top: 10%;
      padding-right: 10%;
      width: 89%;
    }

    #relationships h2 {
      padding-top: 5%;
    }

    #takeflight {
      h1 {
        padding: 0;
        right: 10%;
        top: 10%;
        width: 89%;
      }
    }
  }

  /*-------------TABLET CSS------------------*/
  @media (min-width: 601px) and (max-width: 1023px) {
    #self h2,
    #answering h2,
    #power h2,
    #relationships h2,
    #reconciling h2,
    #liberation h2,
    #revolt h2,
    #control h2,
    #hierarchy h2,
    #borders h2,
    #representation h2,
    #leaders h2,
    #government h2,
    #profit h2,
    #property h2,
    #lastcrime h2 {
      right: 0;
      padding: 0;
      padding-top: 10%;
      padding-right: 10%;
      width: 89%;
    }
    #relationships h2 {
      padding-top: 5%;
    }

    #takeflight {
      h1 {
        padding: 0;
        right: 10%;
        top: 10%;
        width: 89%;
      }
    }
  }

  /*-------------TABLET LANDSCAPE------------------*/
  @media (min-width: 1024px) and (max-width: 1200px) {
    #self h2,
    #answering h2,
    #power h2,
    #relationships h2,
    #reconciling h2,
    #liberation h2,
    #revolt h2,
    #control h2,
    #hierarchy h2,
    #borders h2,
    #representation h2,
    #leaders h2,
    #government h2,
    #profit h2,
    #property h2,
    #lastcrime h2 {
      right: 0;
      padding: 0;
      padding-top: 10%;
      padding-right: 10%;
      width: 89%;
    }

    #takeflight {
      h1 {
        padding: 0;
        right: 10%;
        top: 10%;
        width: 89%;
      }
    }
  }

  /*-------------DESKTOP SMALL CSS------------------*/
  @media (min-width: 1201px) and (max-width: 1670px) {
    ul#share {
      width: 280px;
    }

    #self h2,
    #answering h2,
    #power h2,
    #relationships h2,
    #reconciling h2,
    #liberation h2,
    #revolt h2,
    #control h2,
    #hierarchy h2,
    #borders h2,
    #representation h2,
    #leaders h2,
    #government h2,
    #profit h2,
    #property h2,
    #lastcrime h2 {
      width: unset;
      right: 0;
      padding: 0;
      padding-top: 10%;
      margin-right: 10%;
    }

    #power h2 {
      padding-top: 5%;
    }

    #relationships h2 {
      padding-top: 5%;
    }

    #reconciling {
      h2 {
        padding-top: 5%;
      }
    }

    #borders h2 {
      padding-top: 5%;
    }
    #representation h2 {
      padding-top: 5%;
    }
    #leaders h2 {
      padding-top: 5%;
    }

    #profit {
      h2 {
        padding-top: 5%;
      }
    }
    #property {
      .left {
        padding-top: 50%;
      }
      h2 {
        padding-top: 5%;
      }
    }

    #takeflight h1 {
      padding: 0;
      width: auto;
      right: 10%;
      padding-top: 10%;
    }
  }

  /*-------------DESKTOP BIG CSS------------------*/
  @media (min-width: 1671px) {
    ul#share {
      width: 280px;
    }

    #self h2,
    #answering h2,
    #power h2,
    #relationships h2,
    #reconciling h2,
    #liberation h2,
    #revolt h2,
    #control h2,
    #hierarchy h2,
    #borders h2,
    #representation h2,
    #leaders h2,
    #government h2,
    #profit h2,
    #property h2,
    #lastcrime h2 {
      width: unset;
      right: 0;
      padding: 0;
      padding-top: 10%;
      margin-right: 10%;
    }

    #power h2 {
      padding-top: 5%;
    }

    #relationships h2 {
      padding-top: 5%;
    }

    #reconciling h2 {
      padding-top: 5%;
    }

    #borders h2 {
      padding-top: 5%;
    }
    #representation h2 {
      padding-top: 5%;
    }
    #leaders h2 {
      padding-top: 5%;
    }

    #profit h2 {
      padding-top: 5%;
    }
    #property {
      .left {
        padding-top: 50%;
      }
      h2 {
        padding-top: 5%;
      }
    }

    #takeflight h1 {
      padding: 0;
      width: auto;
      right: 10%;
      padding-top: 10%;
    }
  }
}
