.lietuvos {
  @import "lietuvos/font_overrides";
  #lang2  li  > a[href="/tce/lietuvos"] { color: #d62d34 !important; }
  .check-lietuvos:before { content: 'Ó†ç'; }

  /*-------------DESKTOP SMALL CSS------------------*/
  @media (min-width:1201px) and (max-width:1670px) {
    #answering h2 { padding: 5% 0 0 20%; }
    #reconciling h2 { padding: 7% 0 0 3%; }
  }

  /*-------------DESKTOP BIG CSS------------------*/
  @media (min-width:1671px) {
    #answering h2 { padding: 5% 0 0 20%; }
    #reconciling h2 { padding: 7% 0 0 3%; }
  }
}
