.malay {
  @import "common/font_styling";
  /*--- Highlight language in mobile language menu ---*/
  #lang1  li  > a[href="/tce/malay"],
  #lang2  li  > a[href="/tce/malay"] {
    color: #d62d34 !important;
  }

  .check-malay:before {
    content: '';
  }

  #tocdiv { font-size: 3.5vw; }
  #tocdiv h1 {
      font-size: 3vw;
      line-height: 4vw;
  }

  @media (min-device-width: 200px) and (max-width: 600px) {
      .rightintro h3 { padding: 8% 5% 5% 0%; }
      .malay #intro .rightintro h3 { padding: 4% 5% 5% 0%; }
      .malay #next h1 {
          font-size: 10.7vw;
          line-height: 13vw;
      }
      .malay #takeflight h1 { font-size: 14vw; }
  }

  @media (min-width: 601px) and (max-width: 1023px) {
      .label { font-size: 2.1vw; }
      nav ul li { padding-left: 3%; }
      #menus { width: 74%; }

       .rightintro h3 { padding: 8% 5% 5% 0%; }
      .malay #intro .rightintro h3 { padding: 4% 5% 5% 0%; }
      .malay #next h1 {
          font-size: 10.7vw;
          line-height: 13vw;
      }
      .malay #takeflight h1 { font-size: 14vw; }
  }

  @media (min-width: 1024px) and (max-width: 1200px) {
      #tocdiv {
          line-height: 2.6vw;
          width: 75%;
      }
      .malay #tocdiv { font-size: 2.5vw; }
      .label { font-size: 2.1vw; }
      nav ul li { padding-left: 3%; }
      #menus { width: 74%; };
      .rightintro h3 { padding: 8% 5% 5% 0%; }
      .malay #intro .rightintro h3 { padding: 4% 5% 5% 0%; }
      .malay #next h1 {
          font-size: 10.7vw;
          line-height: 13vw;
      }
      .malay #takeflight h1 { font-size: 14vw; }
  }

  @media (min-width: 1201px) and (max-width: 1670px) {
      #navwrapper { width: 860px; }
      .leftintro .lefttext { padding: 4% 20% 0% 15%; }
      .malay .right p { line-height: 1.4vw; }
      #property .righttext { padding: 5% 12% 0% 10%; }
      #relationships h2,
      #reconciling h2,
      #liberation h2,
      #revolt h2,
      #control h2,
      #hierarchy h2,
      #borders h2,
      #representation h2,
      #leaders h2,
      #government h2,
      #profit h2,
      #property h2 { padding: 12% 0 0 10%; }
      .malay #outro .leftintro p { font-size: 1.5vw; }
      .malay #takeflight h1 { font-size: 13vw; }
  }
  @media (min-width: 1671px) {
      #navwrapper { width: 860px; }
      .leftintro .lefttext { padding: 4% 20% 0% 15%; }
      .malay .right p { line-height: 1.4vw; }
      #property .righttext { padding: 5% 12% 0% 10%; }
      #relationships h2,
      #reconciling h2,
      #liberation h2,
      #revolt h2,
      #control h2,
      #hierarchy h2,
      #borders h2,
      #representation h2,
      #leaders h2,
      #government h2,
      #profit h2,
      #property h2 { padding: 12% 0 0 10%; }
      .malay #outro .leftintro p { font-size: 1.5vw; }
      .malay #takeflight h1 { font-size: 13vw; }
  }
}
