@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("/tce/css/tcefont/noto-kufi-arabic.ttf")
       format("truetype");
  font-style: normal;
  font-weight: 400 700;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Noto Naskh Arabic";
  src: url("/tce/css/tcefont/noto-naskh-arabic.ttf")
       format("truetype");
  font-style: normal;
  font-weight: 400 700;
  font-optical-sizing: auto;
}
