.srpskohrvatski {
  @import "common/font_styling";
  /*--- Highlight language in mobile language menu ---*/
  #lang1  li  > a[href="/tce/srpskohrvatski"],
  #lang2  li  > a[href="/tce/srpskohrvatski"] {
    color: #d62d34 !important;
  }

  .check-srpskohrvatski:before {
    content: 'Ó†ç';
  }
}
