.한국어 {
  @import "korean/font_overrides";

  /*--- Highlight language in mobile language menu ---*/
  #lang2  li  > a[href="/tce/한국어"] { color: #d62d34 !important; }
  .check-한국어:before { content: ''; }

  .title {
    width: 70%;
    padding-left: 20%;
    padding-top: 4%;

    h1 {
      span.drop-word-1 {
        top: 0.37em;
        left: -0.2em;
        position: relative;
      }
      span.drop-word-2 {
        top: 0.4em;
        left: .4em;
        position: relative;
      }

      div.mirror-letter {
        transform: rotateY(180deg);
        display: inline-flex;
        padding-right: 3%;
        padding-left: 0;
        margin-left: -1%;
        margin-right: -2%;
      }
    }

    h4 { padding: 24% 0 0 16.5%; }
  }

  #videopdf { margin-top: 3%; }
  p { margin-bottom: 2vw; }

  #takeflight h1 {
    letter-spacing: 0;
    padding-left: 15%;
    width: 85%;
  }

  #self h2 {
    top: 30%;
    left: 40%;
    text-align: right;
  }

  #control h2 {
    top: unset;
    left: -20%;
    bottom: 5%;
  }

  #power h2 {
    top: 10%;
    left: -25%;
    text-align: right;
  }

  #borders h2 {
    top: 10%;
    left: -4%;

    div.right div.righttext { padding-top: 25%; }
  }

  #representation h2 {
    top: 10%;
    left: -30%;
  }
  #leaders h2 { left: -10%; }
  #property {
    .left { padding-top: 50%; }
    .right .righttext { padding-top: 3%; }
  }
  #hierarchy h2 {
    top: unset;
    left: -10%;
    bottom: 5%;
  }

  /*-------------PHONE CSS------------------*/
  @media (min-device-width: 200px) and (max-width: 600px) {
    #videopdf { margin-top: 3%; }
    .cover { padding-bottom: 88%; }
    .title {
      h1 { padding-top: 4%; }
      h4 { padding: 55% 0 0 16.5%; }
    }

    #power h2 {
      left: 20%;
    }
    #borders h2 {
      left: 4%;
    }
    #representation h2 {
      left: 5%;
    }
    #property {
      .left { padding-top: 100%; }
    }
  }

  /*-------------TABLET CSS------------------*/
  @media (min-width: 601px) and (max-width: 1023px) {
    #videopdf { margin-top: 24%; }
    .title {
      h1 { padding-top: 4%; }
      h4 {
        padding: 55% 0 0 16.5%;
        margin-bottom: -25%;
      }
    }

    #power h2 {
      left: 20%;
    }
    #borders h2 {
      left: 4%;
    }
    #representation h2 {
      left: 5%;
    }
    #property {
      .left { padding-top: 100%; }
    }
  }

  /*-------------TABLET LANDSCAPE------------------*/
  @media (min-width: 1024px) and (max-width: 1200px) {
    #videopdf { margin-top: 3%; }
    #pdfright p { padding: 4.6% 0 0 .5%; }

    .title {
      width: 75%;
      padding-left: 25%;
      padding-top: 2%;
      h4 { padding: 24vw 0 0 16.5%; }
    }

    #power h2 {
      left: 20%;
    }
    #borders h2 {
      left: 4%;
    }
    #representation h2 {
      left: 5%;
    }
    #property {
      .left { padding-top: 100%; }
    }
  }

  /*-------------DESKTOP SMALL CSS------------------*/
  @media (min-width: 1201px) and (max-width: 1670px) {
    #pdfright p { padding: 4% 0 0 .5%; }
    ul#share { width: 308px; }
    #self h2 {
      top: 22%;
      left: -20%;
      text-align: right;
    }
    
    #control h2 {
      top: unset;
      left: -20%;
      bottom: 5%;
    }

    #hierarchy h2 {
      top: unset;
      left: -20%;
      bottom: 5%;
    }
    #videopdf { margin-top: 3%; }
    .title {
      width: 75%;
      padding-left: 25%;

      h1 { padding-top: 0 }
      h4 {
        padding: 24vw 0 0 16.5%;
        margin-bottom: -25%;
      }
    }

    #lastcrime h2 { padding: 1vh 0 0 4vw; }
    #representation h2 { left: unset; }

    #hierarchy div.right div.righttext {
      padding-top: 5%;
      p { margin-bottom: .5vw; }
    }
  }

  /*-------------DESKTOP BIG CSS------------------*/
  @media (min-width:1671px) {
    ul#share { width: 400px; }
    #pdfright p { padding: 3% 0 0 .5%; }
    #self h2 {
      top: 22%;
      left: -20%;
      text-align: right;
    }

    #control h2 {
      top: unset;
      left: -20%;
      bottom: 5%;
    }

    #hierarchy h2 {
      top: unset;
      left: -20%;
      bottom: 5%;
    }
    #videopdf {
      margin-top: 5%;
      width: 70%;
      padding-left: 30%;
    }

    .title {
      width: 75%;
      padding-left: 25%;

      h1 span.drop-word-1 { top: 0.3em; }
      h1 span.drop-word-2 { top: 0.6em; }

      h1 { padding-top: 0 }
      h4 {
        padding: 22vw 0 0 18.5%;
        margin-bottom: -25%;
      }
    }

    #hierarchy div.right div.righttext {
      padding-top: 5%;
      p { margin-bottom: .5vw; }
    }

    #borders div.right div.righttext { padding-top: 25%; }
    #representation h2 { left: unset; }
    #lastcrime h2 { padding: 1vh 0 0 4vw; }
  }
}
