.한국어 {
    /*--- Highlight language in mobile language menu ---*/
    #lang2  li  > a[href="/tce/한국어"] {
        color: #d62d34 !important;
    }

    .check-한국어:before {
        content: '';
    }
}
