.한국어 {
    /*--- Highlight language in mobile language menu ---*/
    #lang2  li  > a[href="/tce/한국어"] {
        color: #d62d34 !important;
    }

    .check-한국어:before {
        content: '';
    }

    .title {
        width: 75%;
        padding-left: 25%;

        h1 {
            font-size: 10vw;

            span.drop-word-1 {
                top: 0.37em;
                left: -0.2em;
                position: relative;
            }
            span.drop-word-2 {
                top: 0.4em;
                left: .4em;
                position: relative;
            }
        }
    }

    p {
        text-indent: 0 !important;
        margin-bottom: 2vw;
    }

    #takeflight h1 {
        letter-spacing: 0;
        font-weight: 300;
        font-size: 14vw;
        padding-left: 15%;
        width: 85%;
        .bold { font-weight: 600; }
    }

    #outro > div.rightintro h3 {
        letter-spacing: 0;
        line-height: 1;
    }

    /*-------------DESKTOP SMALL CSS------------------*/
    @media (min-width: 1201px) and (max-width: 1670px) {
        #hierarchy div.right div.righttext {
            padding-top: 5%;

            p {
                margin-bottom: .5vw;
            }
        }
        #borders div.right div.righttext {
            padding-top: 25%;
        }
    }

    /*-------------DESKTOP BIG CSS------------------*/
    @media (min-width:1671px) {

        #hierarchy div.right div.righttext {
            padding-top: 5%;

            p {
                margin-bottom: .5vw;
            }
        }
        #borders div.right div.righttext {
            padding-top: 25%;
        }
    }
}
