@font-face {
  font-family: 'Alright Sans';
  font-style: normal;
  font-weight: 100;
  src:
    font-url('alrightsans-extrathin-webfont.woff2') format('woff2'),
    font-url('alrightsans-extrathin-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Alright Sans';
  font-style: italic;
  font-weight: 100;
  src:
    font-url('alrightsans-extrathinitalic-webfont.woff2') format('woff2'),
    font-url('alrightsans-extrathinitalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Alright Sans';
  font-style: normal;
  font-weight: 200;
  src:
    font-url('alrightsans-thin-webfont.woff2') format('woff2'),
    font-url('alrightsans-thin-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Alright Sans';
  font-style: italic;
  font-weight: 200;
  src:
    font-url('alrightsans-thinitalic-webfont.woff2') format('woff2'),
    font-url('alrightsans-thinitalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Alright Sans';
  font-style: normal;
  font-weight: 300;
  src:
    font-url('alrightsans-light-webfont.woff2') format('woff2'),
    font-url('alrightsans-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Alright Sans';
  font-style: italic;
  font-weight: 300;
  src:
    font-url('alrightsans-lightitalic-webfont.woff2') format('woff2'),
    font-url('alrightsans-lightinitalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Alright Sans';
  font-style: normal;
  font-weight: 400;
  src:
    font-url('alrightsans-regular-webfont.woff2') format('woff2'),
    font-url('alrightsans-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Alright Sans';
  font-style: italic;
  font-weight: 400;
  src:
    font-url('alrightsans-regularitalic-webfont.woff2') format('woff2'),
    font-url('alrightsans-regularitalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Alright Sans';
  font-style: normal;
  font-weight: 500;
  src:
    font-url('alrightsans-medium-webfont.woff2') format('woff2'),
    font-url('alrightsans-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Alright Sans';
  font-style: italic;
  font-weight: 500;
  src:
    font-url('alrightsans-mediumitalic-webfont.woff2') format('woff2'),
    font-url('alrightsans-mediumitalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Alright Sans';
  font-style: normal;
  font-weight: 700;
  src:
    font-url('alrightsans-bold-webfont.woff2') format('woff2'),
    font-url('alrightsans-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Alright Sans';
  font-style: italic;
  font-weight: 700;
  src:
    font-url('alrightsans-bolditalic-webfont.woff2') format('woff2'),
    font-url('alrightsans-bolditalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Alright Sans';
  font-style: normal;
  font-weight: 800;
  src:
    font-url('alrightsans-black-webfont.woff2') format('woff2'),
    font-url('alrightsans-black-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Alright Sans';
  font-style: italic;
  font-weight: 800;
  src:
    font-url('alrightsans-blackitalic-webfont.woff2') format('woff2'),
    font-url('alrightsans-blackitalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Alright Sans';
  font-style: normal;
  font-weight: 900;
  src:
    font-url('alrightsans-ultra-webfont.woff2') format('woff2'),
    font-url('alrightsans-ultra-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Alright Sans';
  font-style: italic;
  font-weight: 900;
  src:
    font-url('alrightsans-ultraitalic-webfont.woff2') format('woff2'),
    font-url('alrightsans-ultraitalic-webfont.woff') format('woff');
}
