<header class="site-header" id="header">
  <h1 class="header-logo"><%= link_to t("site_name"), [:root] %></h1>

  <%= render "shared/header/nav" %>

  <%= link_to t("header.support"), [:support], class: "button" %>
</header>
