<header class="site-header"role="banner">
  <h1 class="header-logo"><%= link_to t("site_name"), root_path %></h1>

  <%= render "shared/header/nav" %>

  <%= link_to t("header.donate_button_text"), "/support", class: "support-link button" %>
</header>
