<nav class="crumbtrail">
  <% if @type.present? %>
    <%= link_to "Tools", [:tools] %>
  <% else %>
    <%= link_to "Books", [:books] %>
  <% end %>

  <% if @type %>
    : <%= link_to @type.capitalize, [@type]  %>
  <% end %>
</nav>
