<nav class="crumbtrail">
  <% if @type == "books" %>
    <%= link_to "Books", [:books] %>
  <% else %>
    <%= link_to "Tools", [:tools] %>

    <% if action_name == 'show' %>
      : <%= link_to @type.capitalize, [@type]  %>
    <% end %>
  <% end %>
</nav>
