<%= render "admin/page_header", thing:    @redirect %>

<p>
  <%= redirect_http_status_code(@redirect) %>
</p>

<h2>
  <small>Source Path</small><br>
  <%= @redirect.source_path %>
</h2>

<h2>
  <small>Target Path</small><br>
  <%= @redirect.target_path %>
</h2>
