<%= render "admin/page_header", thing: @redirect %>

<p>
  <%= redirect_http_status_code(@redirect) %>
</p>

<h2>
  <small>FROM</small><br>
  <%= link_to @redirect.source_path, @redirect.source_path %>
</h2>

<h2>
  <small>TO</small><br>
  <%= link_to @redirect.target_path, @redirect.target_path %>
</h2>
