<%# encoding: utf-8 %>
.<%= url %> {
    @import "common/font_styling";
    /*--- Highlight language in mobile language menu ---*/
    /*--- TODO: make sure the div selection (e.g. #lang1) matches what was added in
          app/views/layouts/to_change_everything.html.erb ---*/
    #lang1  li  > a[href="/tce/<%= url %>"] {
        color: #d62d34 !important;
    }

    .check-<%= url %>:before {
        content: '';
    }
}
