<%# encoding: utf-8 -%>
.<%= lang_name %> {
  @import "common/font_styling";
  /*--- Highlight language in mobile language menu ---*/
  #lang1  li  > a[href="/tce/<%= lang_name %>"],
  #lang2  li  > a[href="/tce/<%= lang_name %>"] {
    color: #d62d34 !important;
  }

  .check-<%= lang_name %>:before {
    content: '';
  }
}
