<header>
  <h1>Further Reading</h1>
</header>

<ul>
  <li><a href='http://libcom.org/forums/thought/abolish-restaurants'>Abolish Restaurants</a></li>
  <li><a href='/posters/capitalism-is-a-pyramid-scheme'>Capitalism Is a Pyramid Scheme</a></li>
  <li><a href='/2018/09/03/the-mythology-of-work-eight-myths-that-keep-your-eyes-on-the-clock-and-your-nose-to-the-grindstone'>The Mythology of Work</a></li>
  <li><a href='/books/recipes-for-disaster): An Anarchist Cookboo'>Recipes for Disaster</a></li>
  <li><a href='/2016/09/28/feature-the-secret-is-to-begin-getting-started-further-resources-frequently-asked-questions'>The Secret Is to Begin</a></li>
  <li><a href='/tce'>To Change Everything</a></li>
  <li><a href='/2004/11/01/what-is-security-culture'>What Is Security Culture?</a></li>
  <li><a href='/books/work'>Work: Capitalism, Economics, Resistance</a></li>
</ul>
