<header>
  <h1>Getting robbed by the boss?</h1>
  <h2>April 15 is<br>Steal Something from Work&nbsp;Day!</h2>
</header>

<p>Does your boss work less than you but take home a bigger paycheck? Is somebody zipping around in a private jet at your expense? If the corporation is making money at the end of the day, that means they’re not paying you the full value of your labor—that’s where corporate profit comes from! So if you need something in your workplace, take it. You earned it!</p>

<p><em>Steal something from work!</em> &nbsp;It could be a paper clip, or some cash out of the register, or full-on embezzlement. If you’re a barista, grab a bag of coffee; if you work at a garage, get a wrench set. If you’re unemployed, take something from someone else’s workplace! Unemployment works for the bosses, too—it forces people to take any job they can, and sends the message to other workers that if they don’t knuckle under they’ll be in for it too.</p>

<p><em>Steal something from work!</em> &nbsp;You could share it with your friends, or give it to your family—the family you never see because of your job. You could use it yourself, to do something you’ve always dreamed of—maybe something making use of all that potential you would fulfill if only you didn’t have to work for someone else all the time.</p>

<p>Don’t take shit from your boss—<strong>steal it!</strong></p>

<p><em>Steal something from work!</em> Break down the divisions that separate you from your co-workers. Work together to maximize your under-the-table profit-sharing; make sure all of you are safe and getting what you need. Don’t let the boss pit you against each other—in the end, that only makes all of you more vulnerable. Build up enough trust that you can graduate from taking things from work to taking control of your workplace itself!</p>

<p>Chances are you already steal from your work—if not physical items, at least time on the clock. Good for you! But don’t stop there—think of how much more you could take, how much more you <em>deserve.</em></p>

<p><em>Mark your calendar and plan ahead—</em></p>

<p class='h4'>April 15 is Steal Something from Work Day!</p>

<div class="card my-5 bg-light">
  <div class="card-body lead text-muted">
    <strong>Disclaimer:</strong> This website is intended as a rhetorical device only; in simple terms, it aims to uncover the already prevalent phenomenon of workplace theft, not to encourage those who otherwise would not commit such illegal acts. Neither the host, nor the developers, are responsible for people navigating to it, or what they do afterwards.
  </div>
</div>

<%= render_markdown '[[ https://cloudfront.crimethinc.com/blog/wp-content/uploads/2015/04/2b.jpg Somebody buy this woman a drink. class:rounded ]]' %>
