<%= render_markdown_for page: "steal_something_from_work_day/introduction" %>

<div class="card my-5 bg-light">
  <div class="card-body lead text-muted">
    <%= render_markdown_for page: "steal_something_from_work_day/disclaimer" %>
  </div>
</div>

<%= render_markdown "[[https://cloudfront.crimethinc.com/assets/articles/2015/04/14/1b.jpg]]" %>
