<header>
  <h1>International Coverage</h1>
</header>

<h2 class='h5'>Bulgaria</h2>

<p><a href="http://aarmed.blogspot.com/2009/12/15-2010.html">СВЕТОВЕН ДЕН “ОТКРАДНИ НЕЩО ОТ РАБОТНОТО СИ МЯСТО” - 15 Април</a></p>

<h2 class='h5'>Greece</h2>

<p><a href="https://gr-contrainfo.espiv.net/2011/03/29/steal-something-from-work-day/">Ημέρα «Κλέψε κάτι απ’ τη δουλειά» (15/4)</a></p>

<h2 class='h5'>Spain</h2>

<p><a href="https://exopolis.wordpress.com/2010/02/01/15-abril-dia-mundial-robar-algo-curro/">15 de Abril, día mundial de robar algo del curro</a></p>


<div class='row'>
  <div class='col-lg-6'>
    <div class="card">
      <img src="http://minijob.cc/wp-content/uploads/2013/04/steal-from-work-day.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Germany</h5>
        <p class="card-text">
          <a href="http://crimethinc.blogsport.de/2013/11/01/beklau-deinen-arbeitsplatz-tag/">BEKLAU-DEINEN-ARBEITSPLATZ-TAG</a>
        </p>
      </div>
    </div><!-- .card -->
  </div><!-- .col -->

  <div class='col-lg-6'>
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/articles/2018/04/13/3.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Sweden</h5>
        <p class="card-text">
          A downloadable PDF of a sheet of these stickers.
        </p>

        <a href="https://cloudfront.crimethinc.com/assets/articles/2018/04/13/steal-something-from-work_swedish.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->
  </div><!-- .col -->
</div><!-- .row -->

<div class="embed-responsive embed-responsive-16by9">
  <%= render_markdown '[[ https://vimeo.com/264808377 **Sweden:** Sno-Från-Jobbet-Dagen: An action in support of Steal Something from Work Day 2018 in Sweden. The banner reads "Your job is eating you up—Steal a little back!" The line of the advertisement still visible below it urges "Don’t let pollen stop you this year." ]]' %>
</div>
