<!--
https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/journals/heist/heist-printing.jpg
https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/journals/heist/heist_print_black_and_white.pdf

https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/journals/heist/heist-reading.jpg
https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/journals/heist/heist_screen_single_page_view.pdf
-->


<header>
  <h1>Journal</h1>
</header>

<div class="row">
  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/journals/heist/heist-reading.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Heist (color)</h5>
        <p class="card-text">
          An on-screen reading version of <a href="/zines/heist">the journal in color</a>.
        </p>

        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/journals/heist/heist_screen_single_page_view.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->
  </div><!-- .col -->

  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/journals/heist/heist-printing.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Heist (color)</h5>
        <p class="card-text">
          A black-and-white PDF of <i>Heist</i> imposed for printing.
        </p>

        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/journals/heist/heist_print_black_and_white.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->
  </div><!-- .col -->
</div><!-- .row -->

<p class='lead text-danger my-5 py-5'>
  Until we can abolish capitalism—<b>make every profit cost them!</b>
</p>
