<header>
  <h1>Narratives</h1>
</header>

<%# Markdown file located in: /config/locales/pages/en/steal_something_from_work_day/narratives %>
<%= render_markdown_for page: "steal_something_from_work_day/narratives" %>
