<header>
  <h1>Stickers</h1>
</header>

<p class='my-4'>Print these out on a sheet of sticker paper, cut them up, and deploy!</p>

<div class="row">
  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/stickers/steal-from-work/steal-from-work_front_black_and_white.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Classic Sticker</h5>
        <p class="card-text">
          A downloadable PDF of a sheet of our classic
          <a href="/stickers/steal-from-work">Steal Something from Work Day stickers</a>
        </p>

        <a href="https://cloudfront.crimethinc.com/assets/stickers/steal-from-work/steal-from-work_front_black_and_white.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->

    <div class="card my-4">
      <img src="https://cloudfront.crimethinc.com/assets/articles/2018/04/13/1.jpg" class="card-img-top">
    </div><!-- .card -->
  </div><!-- .col -->

  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/stickers/steal-something-from-work-day/steal-something-from-work-day_front_black_and_white.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Sticker Mix</h5>
        <p class="card-text">A downloadable PDF of a sheet with <a href="/stickers/steal-something-from-work-day">a variety of Steal Something from Work Day stickers</a>.</p>
        <a href="https://cloudfront.crimethinc.com/assets/stickers/steal-something-from-work-day/steal-something-from-work-day_front_black_and_white.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->

  </div><!-- .col -->
</div><!-- .row -->


<header>
  <h1>Posters</h1>
</header>

<div class="row">
  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/posters/if-your-coworker-needs-something/if-your-coworker-needs-something_front_black_and_white.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">If Your Coworker Needs Something</h5>
        <p class="card-text">
          A downloadable PDF of a
          <a href='/posters/if-your-coworker-needs-something'>Steal Something from Work Day poster</a>.
        </p>

        <a href="https://cloudfront.crimethinc.com/assets/posters/if-your-coworker-needs-something/if-your-coworker-needs-something_front_black_and_white.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->
  </div><!-- .col -->

  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/posters/hang-in-there/hang-in-there_front_black_and_white.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Hang in There</h5>
        <p class="card-text">
          A downloadable PDF of a
          <a href='/posters/hang-in-there'>Steal Something from Work Day poster</a>.
        </p>
        <a href="https://cloudfront.crimethinc.com/assets/posters/hang-in-there/hang-in-there_front_black_and_white.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->
  </div><!-- .col -->
</div><!-- .row -->


<header>
  <h1>Trifold</h1>
</header>

<p class='my-4'>
  Print out
  <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold.pdf">this trifold</a>
  to spread the word. Slip it into lockers, leave it in a tip jar paper-clipped to your tip, give them out at the metro.
</p>

<div class="row">
  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold-1.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Trifold Front</h5>
        <p class="card-text">
          Print out this trifold to spread the word. Slip it into lockers, leave it in a tip jar paper-clipped to your tip, give them out at the metro.
        </p>

        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->
  </div><!-- .col -->

  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold-2.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Trifold Back</h5>
        <p class="card-text">
          Print out this trifold to spread the word. Slip it into lockers, leave it in a tip jar paper-clipped to your tip, give them out at the metro.
        </p>
        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->

  </div><!-- .col -->
</div><!-- .row -->


<header>
  <h1>Postcard</h1>
</header>

<div class="row">
  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/postcards/postcard-front.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Postcard Front</h5>
        <p class="card-text">

        </p>

        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->
  </div><!-- .col -->

  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/postcards/postcard-back.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Postcard Back</h5>
        <p class="card-text">

        </p>
        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->

  </div><!-- .col -->
</div><!-- .row -->


<header>
  <h1>Journal</h1>
</header>

<div class="row">
  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/journals/heist/heist-reading.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Heist (color)</h5>
        <p class="card-text">
          An on-screen reading version of <a href="/zines/heist">the journal in color</a>.
        </p>

        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/journals/heist/heist_screen_single_page_view.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->
  </div><!-- .col -->

  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/journals/heist/heist-printing.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Heist (color)</h5>
        <p class="card-text">
          A black-and-white PDF of <i>Heist</i> imposed for printing.
        </p>

        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/journals/heist/heist_print_black_and_white.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->
  </div><!-- .col -->
</div><!-- .row -->

<p class='lead text-danger my-5 py-5'>
  Until we can abolish capitalism—<b>make every profit cost them!</b>
</p>
