<header>
  <h1>Postcard</h1>
</header>

<div class="row">
  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/postcards/postcard-front.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Postcard Front</h5>
        <p class="card-text">

        </p>

        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->
  </div><!-- .col -->

  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/postcards/postcard-back.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Postcard Back</h5>
        <p class="card-text">

        </p>
        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->

  </div><!-- .col -->
</div><!-- .row -->
