<header>
  <h1>Selected Coverage</h1>
</header>

<ul>
  <li>
    <a href="https://www.theguardian.com/money/2019/mar/05/stick-it-to-corporate-america-why-we-are-so-willing-to-steal-from-work">The Guardian</a>
  </li>
  <li>
    <a href="http://www.haaretz.co.il/blogs/musar/1.3927952">Haaretz</a>
  </li>
  <li>
    <a href="http://www.enet.gr/?i=arthra-sthles.el.home&amp;id=267593">Enet.gr</a>
  </li>
  <li>
    <a href="https://bnn-news.com/april-15-%E2%80%93-steal-work-day-24341">Baltic News Network</a>
  </li>
</ul>

<h2 class='h5'>Horrified Partisans of Law, Order, and Exploitation Respond</h2>

<ul>
  <li>
    <a href="http://www.glennbeck.com/2011/04/18/something-missing-from-the-office-friday-was-national-steal-from-work-day">Glenn Beck</a>
  </li>
  <li>
    <a href="https://web.archive.org/web/20100519023758/https://signsofthetimes.org.au/archives/2010/april/trends.shtm">Signs of the Times</a>, the&nbsp;in-house magazine of the Seventh-Day Adventist Church of Australia and New Zealand
  </li>
  <li>
    <a href="https://forums.securityinfowatch.com/forum/security-what-not/off-topic-non-security-issues/11790-steal-something-from-work-day?11723-Steal-something-from-work-day=">Security InfoWatch Forums</a>
  </li>
  <li>
    <a href="https://web.archive.org/web/20130222073435/http://www.jpsimsconsulting.com/books-guides-reports/vi/">The Fraud Doctor</a>
  </li>
</ul>

<h2 class='h5'>Allies and Accomplices</h2>

<ul>
  <li>
    <a href="https://anarrespress.wordpress.com/2014/11/01/i-3-workplace-theft/"><em>I &lt;3 Workplace Theft</em></a>—Also available as a ’zine from our comrades at Strangers in a Tangled Wilderness, <a href="http://www.tangledwilderness.org/how-to-justify-workplace-theft/"><em>How to Justify Workplace Theft</em></a>
  </li>
  <li>
    <a href="https://web.archive.org/web/20100305231055/http://maroonweekly.com/2010/02/soapbox-steal-something-from-work-day/">Steal Something from Work Day in Texas</a>—A mysteriously positive column that appeared in the <em>Maroon Weekly</em>
  </li>
  <li>
    <a href="https://www.youtube.com/watch?v=KIXz_vzROrw">Indie Rock</a> arguments for stealing from work
  </li>
</ul>

<p>To give credit where it is due, STEAL SOMETHING FROM WORK DAY was inspired by <a href="http://www.urban75.org/archive/news088.html">Steal Something Day</a>, itself a response to Adbusters’ <a href="http://en.wikipedia.org/wiki/Buy_Nothing_Day">Buy Nothing Day</a>—both of which belong to another century.</p>
