<header>
  <h1>Stickers</h1>
</header>

<p class='my-4'>Print these out on a sheet of sticker paper, cut them up, and deploy!</p>

<div class="row">
  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/stickers/steal-from-work/steal-from-work_front_black_and_white.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Classic Sticker</h5>
        <p class="card-text">
          A downloadable PDF of a sheet of our classic
          <a href="/stickers/steal-from-work">Steal Something from Work Day stickers</a>
        </p>

        <a href="https://cloudfront.crimethinc.com/assets/stickers/steal-from-work/steal-from-work_front_black_and_white.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->

    <div class="card my-4">
      <img src="https://cloudfront.crimethinc.com/assets/articles/2018/04/13/1.jpg" class="card-img-top">
    </div><!-- .card -->
  </div><!-- .col -->

  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/stickers/steal-something-from-work-day/steal-something-from-work-day_front_black_and_white.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Sticker Mix</h5>
        <p class="card-text">A downloadable PDF of a sheet with <a href="/stickers/steal-something-from-work-day">a variety of Steal Something from Work Day stickers</a>.</p>
        <a href="https://cloudfront.crimethinc.com/assets/stickers/steal-something-from-work-day/steal-something-from-work-day_front_black_and_white.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->

  </div><!-- .col -->
</div><!-- .row -->
