<header>
  <h1>Testimonials</h1>
</header>

<%# Markdown file located in: /config/locales/pages/en/steal_something_from_work_day/testimonials %>
<%= render_markdown_for page: "steal_something_from_work_day/testimonials" %>
