<header>
  <h1>Trifold</h1>
</header>

<p class='my-4'>
  Print out
  <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold.pdf">this trifold</a>
  to spread the word. Slip it into lockers, leave it in a tip jar paper-clipped to your tip, give them out at the metro.
</p>

<div class="row">
  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold-1.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Trifold Front</h5>
        <p class="card-text">
          Print out this trifold to spread the word. Slip it into lockers, leave it in a tip jar paper-clipped to your tip, give them out at the metro.
        </p>

        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->
  </div><!-- .col -->

  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold-2.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Trifold Back</h5>
        <p class="card-text">
          Print out this trifold to spread the word. Slip it into lockers, leave it in a tip jar paper-clipped to your tip, give them out at the metro.
        </p>
        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->

  </div><!-- .col -->
</div><!-- .row -->
