#answering h2 {
  padding: 2% 0 0 31%;
}

#power h2 {
  padding: 2% 0 0 25%;
}

#reconciling h2 {
  padding: 7% 0 0 6%;
}

#revolt h2 {
  padding: 10% 0 0 10%;
}

#borders h2 {
  padding: 6% 0 0 13%;
}

#leaders h2 {
  padding: 6% 0 0 22%;
}

#government h2 {
  padding: 20% 0 0 16%;
}

#profit h2 {
  padding: 10% 0 0 15%;
}

#lastcrime h2 {
  padding: 5% 0 0 5%;
}

/*-------------PHONE CSS------------------*/
@media (min-device-width:200px) and (max-width:600px) {
  .title {
    padding-left: 7%;
    padding-top: 11%;
    width: 93%;
  }
  
  .title h1 {
    font-size: 15vw;
    line-height: 13vw;
  }
  
  .title h4 {
    font-size: 4.55vw;
    padding: 28% 0 0 9%;
    width: 90%;
  }
  
  #videopdf {
    margin-top: 10%;
  }
  
  #videopdf p {
    padding: .5% 0 0 6%;
  }
  
  #pdfright p {
    padding: 12% 0 0 .5%;
  }
  
  .leftintro p {
    padding: .5% 0 0 0;
  }
  
  .rightintro h3 {
    padding: 22% 5% 0% 0%;
    font-size: 12vw;
    line-height: 12vw;
  }
  
  #self h2 {
    padding: 6% 0 0 7%;
  }
  
  #relationships h2 {
    padding: 5% 0 0 9%;
  }
  
/*  #outro .leftintro p {
    
  }*/
  
  #takeflight h1 {
    font-size: 20.5vw;
    line-height: 17vw;
  }
  
}

/*-------------TABLET CSS------------------*/
@media (min-width:601px) and (max-width:1023px) {
  
  #menus {
    width: 74%;
  }
  
  .title {
    padding-left: 9%;
    padding-top: 9%;
    width: 91%;
  }
  
  .title h1 {
    font-size: 14vw;
    line-height: 12vw;
  }
  
  .title h4 {
    font-size: 3.75vw;
    padding: 26.5% 0 0 16%;
    width: 80%;
  }
  
  /*#videopdf {
    padding-top: 22%;
  }*/
  
  #videopdf p {
    padding: .5% 0 0 3.5%;
  }
  
  #pdfright p {
    padding: 12% 0 0 .5%;
  }
  
  .leftintro p {
    padding: .5% 0 0 0;
  }
  
  .rightintro h3 {
    padding: 22% 5% 0% 0%;
    font-size: 12vw;
    line-height: 12vw;
  }
    
  #self h2 {
    padding: 6% 0 0 7%;
  }
  
  #relationships h2 {
    padding: 5% 0 0 9%;
  }
  
  #outro .leftintro p {
    
  }
  
  #takeflight h1 {
    font-size: 20.5vw;
    line-height: 17vw;
  }
      
}



/*-------------TABLET LANDSCAPE------------------*/
@media (min-width:1024px) and (max-width:1200px) {
  
  .title {
    padding-left: 17%;
    padding-top: 4%;
  }
  
  .title h1 {
    font-size: 11vw;
    line-height: 9vw;
  }
  
  .title h4 {
    font-size: 2.75vw;
    padding: 22.5% 0 0 17%;
  }
  
  #videopdf {
    padding-top: 24%;
  }
  
  #videopdf p {
    padding: .5% 0 0 2.4%;
  }
  
  #pdfright p {
    padding: 6% 0 0 .5%;
  }
  
  .leftintro p {
    
  }
  
  .rightintro h3 {
    font-size: 12.3vw;
    line-height: 13vw;
    padding: 20% 5% 0% 0%;
  }
  
  #self h2 {
    padding: 6% 0 0 7%;
  }
  
  #relationships h2 {
    padding: 5% 0 0 9%;
  }
  
  #outro .leftintro p {
    
  }
  
  #takeflight h1 {
    font-size: 20.5vw;
    line-height: 17vw;
  }
    
}



/*-------------DESKTOP SMALL CSS------------------*/
@media (min-width:1201px) and (max-width:1670px) {
  
  #toc a {
    width: 565px;
  }
  
  ul#toc {
    width: 535px;
  }
  
  #navwrapper {
    width: 730px;
  }
  
  .title {
    padding-left: 18%;
    padding-top: 5%;
    width: 81%;
  }
  
  .title h1 {
    font-size: 10.5vw;
    line-height: 8.75vw;
  }
  
  .title h4 {
    font-size: 2vw;
    padding: 22% 0 0 25%;
  }
  
  
  #videopdf {
    padding-top: 23%;
  }
  
  #videopdf p {
    padding: .5% 0 0 2.1%;
  }
  
  #pdfright p {
    padding: 4% 0 0 .5%;
  }
  
  .leftintro p {
    font-size: 1.2vw;
  }
  
  .rightintro h3 {
    font-size: 5.9vw;
  }
  
  #self h2 {
    padding: 6% 0 0 7%;
  }
  
  #self .righttext {
    padding: 10% 15% 0% 10%;
  }
  
  #power .righttext {
    width: 77%;
    padding: 5% 13% 0% 10%;
  }
  
  #relationships h2 {
    padding: 5% 0 0 9%;
  }
  
  #reconciling .righttext {
    width: 79%;
    padding: 5% 11% 0% 10%;
  }
  
  #reconciling p {
    font-size: .9vw;
    line-height: 1.6vw;
  }
  
  #revolt .righttext {
    width: 84%;
    padding: 1% 6% 0% 10%;
  }
  
  #revolt p {
    line-height: 1.5vw;
  }
  
  #control .righttext {
    width: 78%;
    padding: 8% 12% 0% 10%;
  }
  
  #hierarchy .righttext {
    width: 78%;
    padding: 7% 12% 0% 10%;
  }
  
  #government .righttext {
    width: 85%;
    padding: 5% 5% 0% 10%;
  }
  
  #government p {
    font-size: .9vw;
    line-height: 1.5vw;
  }
  
  #profit .righttext {
    width: 80%;
    padding: 3% 10% 0% 10%;
  }
  
  #property .righttext {
    width: 80%;
    padding: 3% 10% 0% 10%;
  }
  
  #property p {
    font-size: .9vw;
  }
  #lastcrime .righttext {
    width: 70%;
    padding: 15% 20% 0% 10%;
  }
  
  .first {
    width: 24%;
    padding: 5% 7% 5% 8%;
  }
  
  .second {
    width: 27%;
    padding: 5% 7% 5% 0%;
  }
  
  .third {
    width: 20%;
    padding: 5% 7% 5% 0%;
  }
  
  #outro .leftintro p {
    font-size: 1.5vw;
    line-height: 2.1vw;
  }
  
  #takeflight h1 {
    font-size: 13vw;
    line-height: 10vw;
  }
      
}


/*-------------DESKTOP BIG CSS------------------*/
@media (min-width:1671px) {
  
  #toc a {
    width: 645px;
  }
  
  ul#toc {
    width: 705px;
  }
  
  #navwrapper {
    width: 730px;
  }
  
  .title {
    padding-left: 18%;
  }
  
  .title h1 {
    font-size: 10.5vw;
    line-height: 8.75vw;
  }
  
  .title h4 {
    font-size: 2vw;
    padding: 23% 0 0 25%;
  }
  
  #videopdf {
    padding-top: 23%;
  }
  
  #videopdf p {
    padding: .5% 0 0 2.1%;
  }
  
  #pdfright p {
    padding: 4% 0 0 .5%;
  }
  
  .leftintro p {
    font-size: 1.2vw;
  }
  
  .rightintro h3 {
    font-size: 5.9vw;
  }
  
  #self h2 {
    padding: 6% 0 0 7%;
  }
  
  #power .righttext {
    width: 70%;
    padding: 5% 20% 0% 10%;
  }
  
  #relationships h2 {
    padding: 5% 0 0 9%;
  }
  
  #reconciling .righttext {
    width: 74%;
    padding: 5% 11% 0% 15%;
  }
  
  #reconciling p {
    font-size: .8vw;
  }
  
  #revolt .righttext {
    width: 72%;
    padding: 5% 13% 0% 15%;
  }
  
  #hierarchy .righttext {
    padding: 5% 20% 0% 15%;
  }
  
  #borders .righttext {
    padding: 8% 25% 0% 15%;
  }
  
  #government .righttext {
    width: 81%;
    padding: 2% 4% 0% 15%;
  }
  
  #government p {
    font-size: .87vw;
    line-height: 1.4vw;
  }
  
  #profit .righttext {
    width: 70%;
    padding: 5% 15% 0% 15%;
  }
  
  #property .righttext {
    width: 80%;
    padding: 3% 5% 0% 15%;
  }
  
  #property p {
    font-size: .85vw;
    line-height: 1.35vw;
  }
  
  #lastcrime .righttext {
    width: 65%;
    padding: 15% 20% 0% 15%;
  }
  
  .first {
    width: 24%;
    padding: 5% 7% 5% 8%;
  }
  
  .second {
    width: 27%;
    padding: 5% 7% 5% 0%;
  }
  
  .third {
    width: 20%;
    padding: 5% 7% 5% 0%;
  }
  
  #outro .leftintro p {
    font-size: 1.5vw;
    line-height: 2.1vw;
  }
  
  #takeflight h1 {
    font-size: 13vw;
    line-height: 10vw;
  }
  
}


/*---------------RETINA BACKGROUNDS----------------*/



























