<%= render "admin/page_header", thing: @subscriber %>

<article>
  <header>
    <h1 class="p-name">
      <span class="h1"><%= @subscriber.email %></span><br>
      <span class="h2"><%= @subscriber.frequency.capitalize %></span>
    </h1>
  </header>
</article>
