<article>
  <header>
    <%= render_themed "tools/nav" %>

    <h1><%= t("views.tools.#{@type}_heading_text") %></h1>
  </header>

  <div class="e-content intro">
    <%= render_markdown t("views.tools.#{@type}_intro_text") %>
  </div>

  <% [@featured_tools, @tools].each do |collection| %>
    <% collection.each do |tool| %>
      <%= render_themed "tools/tool", tool: tool %>
    <% end %>

    <hr style="margin-bottom: 5rem">
  <% end %>
</article>
