<div class="h-feed">
  <header>
    <h1>Post-Order Glow</h1>
    <h2>Thanks for your order!</h2>
  </header>

  <div class="row">
    <div class="e-content">

      <p>Your payment has been authorized and you have been assigned order number <b><%= @order_id %></b>.</p>

      <p>You will shortly receive an email confirmation from us confirming your order.</p>

      <p>If you have spam filtering enabled, you might want to add <a href="mailto:house@crimethinc.com">house@crimethinc.com</a> to your address book to make sure you receive the confirmation.</p>

      <p>If at any time you wish to check the status of your order, you can visit:</p>

      <p><a href="https://www.buyolympia.com/OrderStatus?ordernum=<%= @order_id %>">https://www.buyolympia.com/OrderStatus?ordernum=<%= @order_id %></a></p>

      <p>We bill your credit card when your order ships. If you've used a debit card, sometimes banks will put the money for your order "on hold" before we actually ship — this isn't anything we can control, and is at the discretion of your bank. If you see a charge on your statement before your order ships, that's most likely the cause.</p>

      <p>If you have any questions about your order, feel free to contact us at <a href="mailto:house@crimethinc.com">house@crimethinc.com</a>.</p>

      <p><b>Thank you so much for your support!</b></p>

      <img src="https://cloudfront.crimethinc.com/css/boxes.jpg" />

      <br>
      <br>
      <br>

      <h2>Don't be alarmed! Styrofoam peanuts are pure evil, we agree.</h2>

      <p>It's possible that your package may contain styrofoam packing peanuts (most likely with larger orders). Yes, we know the limitless evil of Styrofoam peanuts and we would never, ever buy them for packaging. All packing peanuts we use come from one of several local businesses who give us their used peanuts (from packages they receive full of them). By re-using them, of course, we are not contributing to any more being made, and also reduce the use of other packing material we'd need to use in their place—best to get them at least one more use before they head to the landfill.</p>

    </div>
  </div>
</div>
