<div class="h-feed">
  <header>
    <h1>Invest Your Money in CrimethInc.—!</h1>
  </header>

  <div class="intro">
    <div class="row">
      <div class="column column-half">
        <header><h2>Make a recurring donation $50/month</h2></header>

        <script src="https://staging.cashmusic.org/public/cashmusic.js" data-element="5181"></script>
      </div>

      <div class="column column-half">
        <header><h2>Make a one-time donation $50</h2></header>

        <script src="https://staging.cashmusic.org/public/cashmusic.js" data-element="5181"></script>
      </div>
    </div>

    <br><br>

    <p>
      <i>
        Use the slider to adjust your donation. No amount is too big
        to be needed or too small to be helpful! If you can, sign up
        to donate on a monthly basis, so we can count on you to
        sustain us for the long haul.
      </i>
    </p>

    <p>
      CrimethInc. is an all-volunteer project with no outside
      sources of funding. We offer everything we do for free or at
      break-even prices while maintaining some of the highest
      quality standards in our field. We publish constantly,
      circulating material in <a href="/tce">over 30 languages</a> on
      <a href="/2008/01/06/now-serving-seven-continents">all seven continents</a>.
      We’ve kept this up for a quarter of a century.
    </p>

    <p>
      We do all this on a shoestring budget—but despite our
      ingenuity, some expenses are unavoidable. We depend on your
      assistance to cover those. With more resources, we could
      expand to utilize more formats and free up time to publish
      even more frequently.
    </p>

    <p>
      As always, however, the very best way to support what we are
      doing is to <i>do it yourself.</i>
    </p>
  </div>
</div>
