/*-----------------------------------------------------------------*/
/*-------------APPLY TO ALL VERSIONS-------------------------------*/
/*-----------------------------------------------------------------*/


h1, h2, h3, h4 {
  font-family: 'Vitesse SSm A', 'Vitesse SSm B'; font-weight: 300; font-style: normal;
}

h1 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  text-shadow: none;
  line-height: .85em;
}

h2 {
  color: #002776;
  text-align: left;
  line-height: .9em;
}

h3 {
  color: #002776;
  text-align: left;
  line-height: 1.05em;
}

h4 {
  color: #F7F7F7;
  text-align: center;
  text-shadow: -1px 1px 1px #000000;
  line-height: .85em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .4em;
}

.green, .green a {
  color: #61aa35;
}

.blue, .blue a {
  color: #3cbce9;
}

.pink, .pink a {
  color: #d62d34;
}

.semi {
  font-weight: 600;
}

.black {
  font-weight: 800;
}



/*------------ACCENT COLORS, INCLUDING LINKS----------------*/
.accent {
  color: #009a3a;
}

.accent a:link, .accent a:visited {
  color:#009a3a;
}

.accent a:hover, .accent a:active {
  color: black;
  text-shadow: 0px 0px 20px #009a3a;
}

.accent a:active {
  color:black;
}


/*------------------GENERIC LINKS----------------------------------*/

a {
  text-decoration: none;
  -webkit-transition:all .1s ease-in;
}

a:link, a:visited {
  color:#34AADC;
}

a:hover, a:active {
  color: black;
  text-shadow: 0px 0px 20px #34AADC;
}

a:active {
  color:black;
}

small a:hover, small a:active {
  color: #8E8E93;
}

h3 a:link, h3 a:visited {
  color:#61aa35;
}

h3 a:hover, h3 a:active {
  color: black;
  text-shadow: 0px 0px 20px #61aa35;
}

a:active {
  color:black;
}

.pdfbox1 a:link, .pdfbox2 a:link, .pdfbox1 a:visited, .pdfbox2 a:visited {
  color: black;
}

.pdfbox1 a:hover, .pdfbox2 a:hover, .pdfbox1 a:active, .pdfbox2 a:active {
  color: #34AADC;
  text-shadow: none;
}


/*-----------------FOOTNOTE COLORS------------------------*/

.refnumber, .fnumber {
  color: #FF2D55;
}

.footlink {
  color: #FF2D55;
}

.footlink a:link, .footlink a:visited {
  color: #FF2D55;
}

.footlink a:hover, .footlink a:active {
  color: black;
  text-shadow: 0px 0px 20px #FF2D55;
}

.footreturn a:link, .footreturn a:visited {
  color: #FF2D55;
  text-decoration: none;
}

.footreturn a:hover, .footreturn a:active {
  color: black;
  text-shadow: 0px 0px 20px #FF2D55;
}

.footref {
  color: #FF2D55;
}

.footnote a:link, .footnote a:visited {
  color: black;
  text-decoration: underline;
}

.footnote a:hover, .footnote a:active {
  color: black;
  text-shadow: 0px 0px 20px #8E8E93;
}

.specialquote {
  background: none !important;
}

.specialquote h5 {
  z-index: -100;
  position: absolute;
  text-align: center;
  color: white;
}

.specialquote img {
  position: relative;
  top: 0;
  left: 0;
  border: 0px solid #000000;
  width: 100%;
  z-index: -101;
}


/*----------------------------------------------------------*/
/*-------------RESPONSIVE CODE STARTS HERE------------------*/
/*----------------------------------------------------------*/



/*-------------PHONE CSS------------------*/
/*@media (min-device-width:200px) and (max-device-width:599px) OR  (max-width:599px) ORIGINAL COMBINED {*/
@media (min-device-width:200px) and (max-width:599px) {

  .headerwrapper {
    width: 100%;
    background-image: url('http://thecloud.crimethinc.com/assets/tce/get/images/header1080.jpg');
    background-size: 100%;
    padding-bottom: 71%;
    background-position:center top;
  }

  h1 {
    font-size: 200px;
    font-size: 8vw;
    margin-left: 1%;
    margin-top: 1%;
  }

  h2 {
    font-size: 30px;
    font-size: 9.4vw;
    margin: 20px 0 20px 0;
  }

  h3 {
    font-size: 32px;
    font-size: 10vw;
    margin: 7% 0 8% 0;
  }

  h3 img {
    width: 10%;
    margin: 0 2% -1% 9%;
  }

  h4 {
    font-size: 30px;
    /*font-size: 1.75vw;*/
    margin: 2% 0 0 15%;
  }
}



/*-------------TABLET CSS------------------*/
@media (min-width:600px) and (max-width:1023px) {

  .headerwrapper {
    width: 100%;
    background-image: url('http://thecloud.crimethinc.com/assets/tce/get/images/header2560.jpg');
    background-size: 100%;
    padding-bottom: 39%;
    background-position:center top;
  }

  h1 {
    font-size: 200px;
    font-size: 8vw;
    margin-left: 1%;
    margin-top: 1%;
  }

  h2 {
    font-size: 57px;
    font-size: 9.4vw;
    margin: 20px 0 20px 0;
  }

  h3 {
    font-size: 60px;
    font-size: 10vw;
    margin: 7% 0 8% 0;
  }

  h3 img {
    width: 10%;
    margin: 0 2% -1% 9%;
  }

  h4 {
    font-size: 30px;
    /*font-size: 1.75vw;*/
    margin: 2% 0 0 15%;
  }
}



/*-------------DESKTOP TINY CSS------------------*/
@media (min-width:1024px) and (max-width:1249px) {

  .headerwrapper {
    width: 100%;
    background-image: url('http://thecloud.crimethinc.com/assets/tce/get/images/header2560.jpg');
    background-size: 100%;
    padding-bottom: 39%;
    background-position:center top;
  }

  h1 {
    font-size: 200px;
    font-size: 8vw;
    margin-left: 1%;
    margin-top: 1%;
  }

  h2 {
    font-size: 61px;
    /*font-size: 33vw;*/
    margin: 20px 0 20px 0;
  }

  h3 {
    font-size: 55px;
    /*font-size: 33vw;*/
    margin: 7% 0 8% 0;
  }

  h3 img {
    width: 60px;
    margin: 0 15px -10px 10px;
  }

  h4 {
    font-size: 30px;
    /*font-size: 1.75vw;*/
    margin: 2% 0 0 15%;
  }
}



/*-------------DESKTOP SMALL CSS------------------*/
@media (min-width:1250px) and (max-width:1669px) {

  .headerwrapper {
    width: 100%;
    background-image: url('http://thecloud.crimethinc.com/assets/tce/get/images/header2560.jpg');
    background-size: 100%;
    padding-bottom: 39%;
    background-position:center top;
  }

  h1 {
    font-size: 200px;
    font-size: 8vw;
    margin-left: 1%;
    margin-top: 1%;
  }

  h2 {
    font-size: 75px;
    /*font-size: 33vw;*/
    margin: 40px 0 20px 0;
  }

  h3 {
    font-size: 75px;
    /*font-size: 33vw;*/
    margin: 7% 0 8% 0;
  }

  h3 img {
    width: 60px;
    margin: 0 20px -7px 10px;
  }

  h4 {
    font-size: 30px;
    /*font-size: 1.75vw;*/
    margin: 2% 0 0 15%;
  }
}



/*-------------DESKTOP BIG CSS------------------*/
@media (min-width:1670px) {

  .headerwrapper {
    width: 100%;
    background-image: url('http://thecloud.crimethinc.com/assets/tce/get/images/header2560.jpg');
    background-size: 100%;
    padding-bottom: 39%;
    background-position:center top;
  }

  h1 {
    font-size: 200px;
    font-size: 8vw;
    margin-left: 1%;
    margin-top: 1%;
  }

  h2 {
    font-size: 98px;
    /*font-size: 33vw;*/
    margin: 50px 0 20px 0;
  }

  h3 {
    font-size: 75px;
    /*font-size: 33vw;*/
    margin: 7% 0 8% 0;
  }

  h3 img {
    width: 70px;
    margin: 0 20px -10px 70px;
  }

  h4 {
    font-size: 30px;
    /*font-size: 1.75vw;*/
    margin: 2% 0 0 15%;
  }

}

/*--------RETINA HEADERS---------------*/

@media
(-webkit-min-device-pixel-ratio: 2) and (min-width:1670px),
(min-resolution: 192dpi) and (min-width:1670px) {
  .headerwrapper {
    background-image: url('http://thecloud.crimethinc.com/assets/tce/get/images/header5120.jpg');
  }

}
