#archives {
  main {
    .h-feed {

      .year-month {
        font: {
          weight: bold;
          weight: 800;
          size: 3rem;
        }

        line-height: 1em;
        margin-bottom: 1em;
        border-bottom: 1px solid $color-gray-light;
        padding-bottom: .25em;
        color: $color-true-black;
      }

    } // .h-feed
  } // main
} // #archives
