#article {
  main {
    padding: 0;
    margin: 0 auto;
  }

  .h-entry {
    &.article-with-no-header-image header .meta {
      position: relative;
      transform: none;
    }

    header {
      position: relative;
      border-top: $border-size-xsmall solid white;
      color: white;
      margin-bottom: 1em;

      /* for vertically aligning sub/title */
      transform-style: preserve-3d;

      .u-photo {
        background: black;
        width: 100%;
      }

      .meta {
        text-align: left;
        position: absolute;
        width: 100%;

        /* for vertically aligning sub/title */
        transform: translateY(-50%);
        top: 50%;

        @media screen and (min-width: #{$large-phone})  { font-size:  1.25em; }
        @media screen and (min-width: #{$large-tablet}) { font-size:  1.25em; top: 33%; }
        @media screen and (min-width: #{$small-laptop}) { font-size:  1.25em; }

        .p-name {
          padding: 10pt;
        }
      }

      h1 {
        font: {
          size: 2em;
          weight: 900;
        }
        letter-spacing: -.01em;
        line-height: 1em;
        margin-bottom: .1em;
      }

      h2 {
        font-size: 1.5em;
        line-height: 1.25em;
      }

      a {
        color: white;
      }

      .contributors {
        font-size: .5em;
        display: inline-block;
        margin: 0 auto;
        font-weight: lighter;
        font-weight: 300;

        th {
          text-align: right;
          padding-right: .25em;
          font: {
            weight: lighter;
            weight: 300;
            style: italic;
          }
        }

        td {
          text-align: left;
          font-weight: normal;
        }
      } /* .contributors */
    } /* header */

    .e-content {
      color: $color-black;
      padding: 0 $border-size-medium;
      font: {
        size: 1.25em;
        weight: lighter;
        weight: 300;
      }
      letter-spacing: .02em;

      * {
        margin: 0 auto;
        max-width: $large-tablet - 200px;
      }

      > :first-child {
        max-width: $large-tablet;
        font-size: 1.25em;
        line-height: 1.5em;
        margin-bottom: 1em;
      }

      a {
        color: $color-gray-medium;
        text-decoration: underline;
        font: {
          weight: bold;
          weight: 700;
        }
      }

      a:hover {
        color: black;
        text-decoration: underline;
      }

      h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        line-height: 1em;
        margin: 1em auto .5em auto;
      }

      h1 { font-size: 2em   ; font-weight: 700; }
      h2 { font-size: 1.5em ; font-weight: 700; }
      h3 { font-size: 1.33em; font-weight: 600; }
      h4 { font-size: 1.25em; font-weight: 600; }
      h5 { font-size: 1.2em;  font-weight: 500; }
      h6 { font-size: 1.1em ; font-weight: 500; }

      h1 + h2 { font-weight: 400; margin-top: -.5em; }

      p {
        line-height: 1.5em;
        margin-bottom: 1em;
      }

      i, cite, em, var, address, dfn, blockquote {
        font: {
          style: italic;
          weight: lighter;
          weight: 300;
        }
      }

      dt, b, strong {
        font: {
          weight: bold;
          weight: 700;
        }
      }

      blockquote {
        width: 80%;
        margin: 2em auto;
        font-size: 1.25em;
        line-height: 1.3em;

        strong,
        b {
          font-style: normal;
        }
      }

      dl {
        margin-bottom: 1em;
      }

      dd {
        margin: {
          left:  $border-size-large;
          start: $border-size-large;
        }
      }

      ul,
      ol {
        margin-bottom: 1em;
      }

      li ul,
      li ol {
        margin-top: .5em;
      }

      ol {
        list-style-type: square;
      }

      ul {
        list-style-type: decimal;
      }

      dd,
      dt,
      li {
        line-height: 1.5em;
      }

      li {
        margin: 0;
      }

      li li {
        margin: 0 0 0 1.5em;
      }

      hr {
        border: none;
        border-bottom: $border-size-xsmall solid #ccc;
        margin: 3em auto;
        width: 50%;
        display: block;
      }

      caption {
        // TODO
        font-weight: bold;
        font-weight: 700;
        padding: .5em;
      }

      th {
        // TODO
        font: {
          weight: bold;
          weight: 700;
        }
        text-align: left;
        background: #eee;
        border-bottom: $border-size-xsmall solid white;
      }

      th, td {
        // TODO
        padding: .5em;
      }

      // TODO dev only
      .bigimage {
        width: 100%;
        max-width: 100%;
      }

      /* for single images */
      img {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 2em auto;
      }

      img.auto-size {
        width: auto;
        max-width: auto;
      }

      // For figures (photo/video + caption)
      // TODO dev only
      .bigimage img,
      figure img {
        margin-bottom: 0;
      }

      figure > figcaption,
      img + .bigimagecaption p {
        margin: .5em auto 1em auto;
        font: {
          size: .66em;
          weight: normal;
        }
      }

      /* for groups of images */
      // TODO
      .images,
      .images-group {
        text-align: center;
        margin: 0 auto 2em auto;

        img {
          display: inline-block;
          margin: 0;
        }

        /* narrower desktop browser window in between phone and tablet */
        @media screen and (min-width: $small-tablet) {
          figure + figure,
          img + img {
            // TODO
            margin-left: 1em;
          }
        }

        figure {
          // TODO
          display: inline-block;
          margin: 0;
          max-width: 50%;
        }
      }

      .images-group {
        figure {
          max-width: 100%;
        }
      }

      table,
      figure {
        // TODO
        text-align: center;
        margin: 4em auto;
      }

      figcaption {
        // TODO
        font-weight: lighter;
        font-weight: 300;
        max-width: 80%;
        margin: 1em auto;
      }

      th {
        // TODO
        text-align: left;
        padding-right: .25em;
        font-weight: normal;
        font-weight: 500;
      }

      td {
        // TODO
        text-align: left;
        font-weight: lighter;
        font-weight: 300;
      }
    }  /* .e-content */

    footer {
      text-align: center;

      p {
        display: inline-block;
        margin:  $border-size-large 0;
        padding: $border-size-large;
        border-top: $border-size-xsmall solid #ccc;
        font-weight: lighter;
        font-weight: 300;
        font-style: italic;
      }
    } /* footer */

  } /* .h-entry */
} /* #article */

@media screen and (min-width: $small-tablet) {
  #article {
    .h-entry {

      header {
        .meta .p-name {
          padding: 50pt;
        }

        h1 {
          font-size: 4em;
          letter-spacing: -.01em;
          line-height: 1em;
        }

        h2 {
          font-size: 2em;
          letter-spacing: -.01em;
        }

        .contributors {
          font-size: 1em;
        }
      }

      .e-content {
        padding: 0 10pt;
        font-size: 1.5em;

        img.half-size {
          width: 50%;
          max-width: 50%;
        }
      }


      .e-content {
        padding: 0 50pt;
      }


      footer {
        margin:  50pt 0;
        padding: 50pt;
      }

    }
  }
}
