#home {
  main {
    padding: 0;
    margin: 0 auto;
  }

  .h-feed {
    margin:  0 0 $border-size-xsmall 0;
    padding: 0;
    list-style: none;
  }

  .pagination {
    margin: 0 0 $border-size-xlarge 0;
  }

  // all entries in the feed (including first/featured)
  .h-entry {
    *zoom: 1;
    background-color:    $color-true-black;
    background-position: center;
    background-size:     cover;
    border-bottom: $border-size-medium solid $color-white;
    color: $color-white;
    margin:  0;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
    height: 300pt;

    /* for vertically aligning title/subtitle/contributors */
    transform-style: preserve-3d;

    @media screen and (min-width: $small-phone) {
      height: 300pt;
    }

    @media screen and (min-width: $small-tablet) {
      height: 400pt;
      text-align: left;
    }

    a.read-more {
      text-indent: -9999em;
      z-index: 1;
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }

    header {
      margin: 0 $border-size-small;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      overflow: hidden;

      @media screen and (min-width: $small-phone) {
        margin: 0 $border-size-medium;
      }

      @media screen and (min-width: $large-tablet) {
        margin: 0 50pt;
      }
    }

    .p-name {
      padding: $border-size-medium;

      @media screen and (min-width: $small-phone) {
        padding: $border-size-medium;
      }
    }

    h1,
    h2 {
      margin: 0;
      padding: 0;
      text-shadow: 0 0 2rem $color-black;
    }

    h1 {
      font-size: 1.5em;
      font-weight: 900;
      letter-spacing: -.01em;
      line-height: 1em;
      margin-bottom: .1em;

      @media screen and (min-width: $small-phone) {
        font-size: 2em;
        margin-bottom: 0.2em;
      }

      @media screen and (min-width: $small-tablet) {
        font-size: 4em;
      }
    }

    h2 {
      font-size: 1em;
      line-height: 1.25em;
      text-shadow: 0 0 1rem $color-black;

      @media screen and (min-width: $small-phone) {
        font-size: 1.25em;
      }

      @media screen and (min-width: $small-tablet) {
        font-size: 1.5em;
      }
    }

    a {
      color: $color-white;
      text-decoration: none;
    }

    .contributors {
      display: none;

      @media screen and (min-width: $small-tablet) {
        display: inline-block;
        margin: 0 auto;

        th {
          text-align: right;
          padding-right: .25em;
          font-weight: normal;
        }

        td {
          text-align: left;
        }
      }
    }
  } /* .h-entry */

  // all entries in the feed except first/featured
  .row {
    @media screen and (min-width: $small-tablet) {
      display: flex;
    }

    .h-entry {
      height: 100pt;
      width: 100%;

      &:first-of-type {
        @media screen and (min-width: $small-tablet) {
          border-right: $border-size-medium solid $color-white;
        }
      }

      @media screen and (min-width: $small-phone) {
        height: 200pt;
        width: 100%;
      }

      @media screen and (min-width: $small-tablet) {
        height: 300pt;
        width: 50%;
      }

      h1 {
        font-size: 1.25em;

        @media screen and (min-width: $small-phone) {
          font-size: 1.5em;
        }

        @media screen and (min-width: $small-tablet) {
          font-size: 2em;
        }
      }

      h2 {
        font: {
          size: 0.8em;
          weight: 600;
        }

        @media screen and (min-width: $small-phone) {
          font-size: 1em;
        }

        @media screen and (min-width: $small-tablet) {
          font-size: 1.5em;
        }
      }
    }
  }
} /* #home */
