#home {
  main {
    padding: 0;
    margin: 0 auto;
  }

  .h-feed {
    margin:  0 0 $border-size-xsmall 0;
    padding: 0;
    list-style: none;
  }

  .pagination {
    margin: 0 0 $border-size-xlarge 0;
  }

  // all entries in the feed (including first/featured)
  .h-entry {
    *zoom: 1;
    background-color:    $color-true-black;
    background-position: center;
    background-size:     cover;
    border-bottom: $border-size-medium solid $color-white;
    color: $color-white;
    margin:  0;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
    height: 150pt;
    height: 300pt;

    /* for vertically aligning title/subtitle/contributors */
    transform-style: preserve-3d;

    a.read-more {
      text-indent: -9999em;
      z-index: 1;
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }

    header {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 $border-size-small;
      z-index: 10;
      overflow: hidden;
    }

    h1,
    h2 {
      margin:  0;
      padding: 0;
      text-shadow: 0 0 2rem $color-black;
    }

    h1 {
      font-size: 1.5em;
      font-weight: 900;
      letter-spacing: -.01em;
      line-height: 1em;
      margin-bottom: .1em;
    }

    h2 {
      font-size: 1em;
      line-height: 1.25em;
      text-shadow: 0 0 1rem $color-black;
    }

    a {
      color: $color-white;
      text-decoration: none;
    }

    .contributors {
      display: none;
    }
  } /* .h-entry */

  // all entries in the feed except first/featured
  .row .h-entry {
    height: 100pt;
    width: 100%;

    h1 {
      font-size: 1.25em;
    }

    h2 {
      font-size: .8em;
      font-weight: 600;
    }
  }

  /* narrower desktop browser window in between phone and tablet */
  @media screen and (min-width: 500px) {
    .row .h-entry {
      height: 200pt;
      width: 100%;

      h1 {
        font-size: 1.5em;
      }

      h2 {
        font-size: 1em;
      }
    }

    .h-entry {
      height: 300pt;

      header {
        margin: 0 $border-size-large;
      }

      h1 {
        font-size: 2em;
        margin-bottom: .2em;
      }

      h2 {
        font-size: 1.25em;
      }
    }
  }


  @media screen and (min-width: $small-tablet) {
    .row {
      display: flex;
    }

    .h-entry {
      height: 400pt;
      text-align: left;

      header {
        margin: 0 50pt;
      }

      h1 {
        font-size: 4em;
      }

      h2 {
        font-size: 1.5em;
      }

      .contributors {
        display: inline-block;
        margin: 0 auto;

        th {
          text-align: right;
          padding-right: .25em;
          font-weight: normal;
        }

        td {
          text-align: left;
        }
      }
    } /* .h-entry */

    .row .h-entry:first-of-type {
      border-right: $border-size-medium solid $color-white;
    }

    .row .h-entry {
      width: 50%;
      height: 300pt;

      h1 {
        font-size: 2em;
      }

      h2 {
        font-size: 1.5em;
      }
    }
  }

} /* #home */
