#home {
  main {
    padding: 0;
    margin: 0 auto;
  }

  .h-feed {
    margin:  0 0 $border-size-xsmall 0;
    padding: 0;
    list-style: none;

    // most recent entry only
    > .h-entry {
      height: 300pt;

      @media screen and (min-width: $small-tablet) {
        height: 400pt;
      }

      h1 {
        @media screen and (min-width: $small-phone) {
          font-size: 6rem;
        }

        @media screen and (min-width: $small-tablet) {
          font-size: 8rem;
        }
      }

      h2 {
        @media screen and (min-width: $small-tablet) {
          font-size: 3rem;
        }
      }
    }
  }

  .pagination {
    margin: 0 0 $border-size-xlarge 0;
  }

  // all entries in the feed (including most recent)
  .h-entry {
    background-color:    $color-true-black;
    background-position: center;
    background-size:     cover;
    border-bottom: $border-size-medium solid $color-white;
    color: $color-white;
    margin:  0;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;

    @media screen and (min-width: $small-tablet) {
      text-align: left;
    }

    header {
      height: 100%;
      margin: 0 $border-size-small;
      z-index: 10;

      @media screen and (min-width: $small-phone) {
        margin: 0 $border-size-medium;
      }

      @media screen and (min-width: $large-tablet) {
        margin: 0 50pt;
      }
    }

    .p-name {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: $border-size-medium;

      &.shadowed {
        h1 { text-shadow: 0 0 2rem $color-black; }
        h2 { text-shadow: 0 0 1rem $color-black; }
      }

      @media screen and (min-width: $small-phone) {
        padding: $border-size-medium;
      }
    }

    h1,
    h2 {
      margin: 0;
      padding: 0;
    }

    h1 {
      font-size: 3.5rem;
      font-weight: 900;
      letter-spacing: -.01em;
      line-height: 1em;
      margin-bottom: .1em;

      @media screen and (min-width: $small-phone) {
        font-size: 3rem;
        margin-bottom: 0.2em;
      }

      @media screen and (min-width: $small-tablet) {
        font-size: 4rem;
      }
    }

    h2 {
      font-size:   2rem;
      line-height: 1.2em;

      @media screen and (min-width: $small-phone) {
        font-size: 2.25rem;
      }

      @media screen and (min-width: $small-tablet) {
        font-size: 2.5rem;
      }
    }

    a {
      color: $color-white;
      text-decoration: none;
    }
  } /* .h-entry */

  // all entries in the feed except most recent
  .row {
    @media screen and (min-width: $small-tablet) {
      display: flex;
    }

    .h-entry {
      height: 100vw;
      width: 100%;

      &:first-of-type {
        @media screen and (min-width: $small-tablet) {
          border-right: $border-size-medium solid $color-white;
        }
      }

      @media screen and (min-width: $small-phone) {
        height: 200pt;
        width: 100%;
      }

      @media screen and (min-width: $small-tablet) {
        height: 300pt;
        width: 50%;
      }
    }
  }
} /* #home */
