#page {
  main {
    margin: $border-size-xlarge auto;
    max-width: $large-tablet;

    header {
      margin-bottom: $border-size-large;

      h1 {
        font: {
          weight: bold;
          weight: 800;
          size: 3rem;
        }
        line-height: 1.25em;
      }

      h2 {
        font: {
          weight: normal;
          weight: 300;
          size: 2rem;
        }
        line-height: 1.25em;
      }
    }

    .e-content {
      h2 {
        font: {
          weight: normal;
          weight: 500;
          size: 3rem;
        }

        line-height: 1.25em;
        margin-bottom: $border-size-small;
      }

      h3 {
        font: {
          weight: lighter;
          weight: 300;
          size: 2.5rem;
        }

        line-height: 1.25em;
        margin-bottom: $border-size-small;
        border-bottom: $border-size-xsmall solid $color-gray-light;

        &:first-child {
          border: none;
        }
      }

      audio {
        width: 100%;
        margin-bottom: $border-size-large;
      }

      video {
        width: 100%;
        margin-bottom: $border-size-large;
      }

      .buttons {
        margin-bottom: $border-size-xlarge;

        .button {
          margin: 0 $border-size-small $border-size-medium 0;
        }
      }

      li,
      p {
        font-size: 1.75rem;
        line-height: 1.5em;
        text-rendering: optimizeLegibility;
        margin-bottom: $border-size-large;
      }
    }

    .list {
      li {
        text-rendering: optimizeLegibility;
        margin-bottom: $border-size-large;
      }

      ul,
      ol {
        margin-bottom: 1em;
      }

      li ul,
      li ol {
        margin-top: .5em;
      }

      ol {
        list-style-type: square;
      }

      ul {
        list-style-type: square;
      }

      dd,
      dt,
      li {
        line-height: 1em;
      }

      li {
        margin: 0 0 .5em 0;
      }

      li li {
        margin: 0 0 0 1.5em;
        line-height: 1.5em;
      }
    }

    @media screen and (min-width: $large-phone) {
      .row {
        display: flex;
      }

      .column {
        padding-right: $border-size-large;
      }

      .column:last-child {
        padding-right: 0;
      }

      .column.column-one-third        { width: 33%; }
      .column.column-two-third        { width: 67%; }

      .column.column-one-quarter      { width: 25%; }
      .column.column-two-quarter      { width: 50%; }
      .column.column-three-quarter    { width: 75%; }

      .column.column-half:first-child { width: 50%; }
      .column.column-half:last-child  { width: 50%; }
    }

    @media screen and (min-width: $small-tablet) {
      header {
        h1 {
          font-size: 4rem;
        }

        h2 {
          font-size: 3rem;
        }
      }
    }

  }
}
