#store,
#watch,
#read {
  main {

    p {
      font-size: 2rem;
      line-height: 1.25em;
      margin-bottom: 1em;
    }

    .h-entry {
      h1 {
        margin-top: 1em;
        font: {
          weight: lighter;
          weight: 300;
          size: 3rem;
        }
        border-bottom: 1px solid $color-gray-light;
        padding-bottom: $border-size-small;
      }

      img {
        margin-top: 1rem;

        @media screen and (min-width: $small-tablet) {
          height: 300px;
          width: auto;
        }
      }

      ul {
        margin-top: 2rem;
        margin-left: 2rem;
      }

      &.section li:first-child {
        font: {
          weight: bold;
          weight: 700;
          size: 1.5em;
        }

        line-height: 1.2em;
        list-style-type: none;
      }

      iframe {
        // TODO add responsive width/height adjustments
        // TODO parse out [WIDTHxHEIGHT] in video.content to calulate aspect ratios
        width: 100%;
        height: 300px;
        margin: 1rem 0;
      }

      .video-info {
        font-style: italic;
        color: $color-gray;
      }

    } // .h-entry


    #years {
      a {
        font-weight: bold;
        display: inline-block;
        margin-right: .25em;
      }
    }

  } // main
} // #page
