#read {
  main {

    .h-entry {
      h2 {
        margin-top: 1em;
        font-weight: lighter;
        font-weight: 300;
        border-bottom: 1px solid $color-gray-light;
        padding-bottom: $border-size-small;
      }

      img {
        margin-top: 1rem;
      }

      ul {
        margin-top: 2rem;
        margin-left: 2rem;
      }

      .section li:first-child {
        font: {
          weight: bold;
          weight: 700;
          size: 1.5em;
        }

        line-height: 1.2em;
        list-style-type: none;
      }

      #years {
        a {
          font-weight: bold;
          display: inline-block;
          margin-right: .25em;
        }
      }


      @media screen and (min-width: $small-tablet) {
        .intro p {
          font-size: 1.25em;
        }

        img {
          height: 300px;
        }
      }

    } // .h-entry
  } // main
} // #page
