#article .related-articles {
  margin: $border-size-xlarge auto;
  max-width: $large-tablet;
  padding: 5rem 0;

  .related-articles-heading {
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid $color-black;
  }

  .related-articles-category  {
    margin-bottom: 3rem;
  }

  .related-articles-category-heading {
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .related-article {
    display: block;
    height: 200px;

    .related-article-image {
      width: 100%;
      height: 100%;
    }

    header {
      h2, h3{
        color: $color-black;
        a {
          color: $color-black;
        }
      }
    }
  }

  @media screen and (max-width: $large-phone) {
    .third-related-article {
      display: none;
    }

    .related-article-image {
      padding: 1rem;
    }
  }
}
