/* TODO: Is this used anywhere? */
#video {
  h1 {
    font: {
      size: 1.25em;
      weight: 900;
    }
    letter-spacing: -.01em;
    line-height: 1.2em;
    margin-bottom: .1em;
  }
}

.video-flexbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
