<% label_text ||= nil %>

<div class='mb-3'>
  <%= form.label      attr, label_text, class: 'form-label' %>
  <%= form.file_field attr, class: 'form-control form-control-lg', accept: '.jpg, .jpeg, .png, .gif' %>
</div>
