<div id="anarchy">
  <div class="first">
    <%=t('to_change_everything.show.anarchy.first_html')%>
  </div>
  <div class="second">
    <%=t('to_change_everything.show.anarchy.second_html')%>
  </div>
  <div class="third">
    <%=t('to_change_everything.show.anarchy.third_html')%>
    <img src="https://cloudfront.crimethinc.com/assets/tce/images/circle-a-logo-hands-white-large@2x.png" />
  </div>
</div>
