<% if locale == 'espanol' %>
  <li><a href="<%= t('.bulk_get.url').html_safe %>"><span class="icon"></span> <%= t('.bulk_get.text').html_safe %></a></li>
<% end %>

<li><a href="https://twitter.com/share?url=http%3A%2F%2Fwww.crimethinc.com%2Ftce&text=To%20Change%20Everything%2C%20an%20anarchist%20appeal&via=crimethinc" target="_blank"><span class="icon"></span> Twitter</a></li>
<li><a href="https://www.facebook.com/dialog/feed?app_id=184683071273&link=http%3A%2F%2Fcrimethinc.com%2Ftce&picture=http%3A%2F%2Fcloudfront.crimethinc.com%2Fassets%2Ftce%2Fimages%2Ftwitter-card-1486.jpg&name=To%20Change%20Everything%2C%20an%20anarchist%20appeal&caption=%20&description=The%20case%20for%20complete%20self-determination--a%20guide%20for%20the%20furious%2C%20the%20curious%2C%20and%20the%20pure%20of%20heart&redirect_uri=http%3A%2F%2Fwww.facebook.com%2F" target="_blank"><span class="icon">&thinsp;&thinsp;</span> Facebook</a></li>
<li><a href="http://www.tumblr.com/share/photo=http%3A%2F%2Fcloudfront.crimethinc.com%2Fassets%2Ftce%2Fimages%2Ftwitter-card-1486.jpg&caption=To%20Change%20Everything%2C%20an%20anarchist%20appeal%20-%20The%20case%20for%20complete%20self-determination--a%20guide%20for%20the%20furious%2C%20the%20curious%2C%20and%20the%20pure%20of%20heart&click_thru=http%3A%2F%2Fcrimethinc.com%2Ftce" target="_blank"><span class="icon">&thinsp;&thinsp;</span> Tumblr</a></li>
<li><a href="mailto:?subject=To%20Change%20Everything!&body=Check%20this%20shit%20out%20yo!%20The%20case%20for%20complete%20self-determination%E2%80%94a%20guide%20for%20the%20furious%2C%20the%20curious%2C%20and%20the%20pure%20of%20heart%0D%0A%0D%0Ahttp%3A%2F%2Fcrimethinc.com%2Ftce%2F"><span class="icon"></span> Email</a></li>
