<div class="spread" id="<%= section %>">
  <div class="leftintro">
    <div class="lefttext">
      <%= t "to_change_everything.show.#{section}.left_text_html" %>
    </div>
  </div>

  <div class="rightintro">
    <h3><%= t "to_change_everything.show.#{section}.right_text_html" %></h3>
  </div>
</div>
