html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

h1 {
  color: #F7F7F7;
  text-align: center;
  text-shadow: -1px 1px 1px #000000;
  font: 700 12vw/.85em "quatro-slab",serif;
}

h2 {
  color: #8E8E93;
  text-align: left;
  font: 700 8vw/1.75em "quatro-slab",serif;
  margin: 20px 0 10px 0;
  width: 88%;
  padding: 0 5% 0 7%;
}

h4 {
  color: #F7F7F7;
  text-align: center;
  /*text-shadow: -1px 1px 1px #000000;*/
  font: 400 4vw/.85em "quatro-slab",serif;
  margin: 4% 0 0 0;
  text-transform: uppercase;
  letter-spacing: .2em;
  text-shadow: -1px 1px 1px #000000;
}

p {
  font: 400 16px/1.5em "pt-sans",sans-serif;
  text-indent: 8%;
  }

.text h2+p, .text p:first-of-type {
  text-indent: 0px;
  }

.bigimage {
  width: 100%;
  margin: 5% 0 5% 0;
  background: grey;
  line-height: 0;
}

.bigimage img {
  width: 100%;
}

.bigimagecaption {
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 100;
  color: white;
  text-align: center;
  padding: 2% 0;
}

.bigimagecaption p {
  font: 400 14px/1em "pt-sans",sans-serif;
  text-indent: 0px;
  margin: 0;
  padding: 2%;
  }

.grandwrapper {
  width: 100%;
}

.header {
  /*position: absolute;*/
  /*top: 0; left: 0;*/
  clear: both;
  float: left;
  width: 100%;
  padding-top: 6%;
}

.headerwrapper {
  float: left;
  width: 100%;
  background-image: url('https://cloudfront.crimethinc.com/assets/features/digital-utopia/lcd760.jpg');
  background-color: grey;
  background-size: 100%;
  padding-bottom: 4%;
}

.content {
  width: 100%;
  margin: 0;
  clear: both;
}

.text {
  width: 100%;
}

.text p {
  width: 88%;
  padding: 0 5% 0 7%;
}

aside {
  width: 92%;
  padding: 5% 4% 5% 4%;
  text-align: right;
}

aside blockquote {
  font-family: "quatro-slab",serif;
  font-weight: 900;
  font-size: 6vw;
  line-height: .85em;
  color: #FF2A68;
}

small {
  display: none;
}

a {
  text-decoration: none;
  -webkit-transition:all .1s ease-in;
}

a:link, a:visited {
  color:#34AADC;
}

a:hover, a:active {
  color: black;
  text-shadow: 0px 0px 20px #34AADC;
}

a:active {
  color:black;
}

small a:hover, small a:active {
  color: #8E8E93;
}

.textfadepink a:link, .textfadepink a:visited {
  color: #FF2A68;
  text-shadow: none;
  text-decoration: underline;
}

.textfadepink a:hover, .textfadepink a:active {
  color: #8E8E93;
  text-shadow: none;
}

.footnote {
  width: 100%;
  background-color: #cecece;
  margin: -5% 0 0 0;
  padding: 6% 0 6% 0;
}

.footnote p {
  font: 400 14px/1.5em "pt-sans",sans-serif;
  text-indent: 0px;
  }

.footnote a:link, .footnote a:visited {
  color: black;
  text-decoration: underline;
}

.footnote a:hover, .footnote a:active {
  color: black;
  text-shadow: 0px 0px 20px #8E8E93;
}

.refnumber {
  display: none;
}

.fnumber {
  color: #FF2D55;
  font-weight: 700;
}

.footlink {
  color: #FF2D55;
  vertical-align: top;
  position: relative;
  top: -0.3em;
  font-size: 0.85em;
  font-weight: 700;
}

.footlink a:link, .footlink a:visited {
  color: #FF2D55;
}

.footlink a:hover, .footlink a:active {
  color: black;
  text-shadow: 0px 0px 20px #FF2D55;
}

.footreturn a:link, .footreturn a:visited {
  color: #FF2D55;
  text-decoration: none;
}

.footreturn a:hover, .footreturn a:active {
  color: black;
  text-shadow: 0px 0px 20px #FF2D55;
}

.footreturn {
  position: relative;
  top: .1em;
}

.footref {
  color: #FF2D55;
  font-weight: 700;
}

.textfadepink {
  background:
  -webkit-linear-gradient(-45deg, #FF2A68 0%,#FF5E3A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textfadeblue {
  background:
  -webkit-linear-gradient(-45deg, #1AD6FD 0%,#1D62F0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  width: 100%;
  height: 45px;
  margin: 0px auto 0px auto;
  background-color: rgba(44, 44, 44, 1);
  z-index: 100;
  position: relative;
/*  -moz-box-shadow: -1px 2px 2px #000000;
  -webkit-box-shadow: -1px 1px 2px #000000;
  box-shadow: -1px 2px 2px #000000;*/
}

.logo img {
  width: 37.5px;
  height: 32.5px;
  padding: 5px;
  margin-top: 2px;
  float: left;
}

.word img {
  width: 163px;
  height: 25px;
  padding: 10px 15px 0 0;
  float: left;
}

#navlinks {
  display: none;
  width: 100%;
  background-color: rgba(44, 44, 44, 1);
  font: 300 17px/1.5em "nimbus-sans",sans-serif;
  letter-spacing: .05em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  float: left;
  padding: 3px 0 10px 0;
  text-align: center;
}

#linkwrapper {
  padding-left: 4px;
}

#navlinks a:link, #navlinks a:visited {
  color: white;
}

#navlinks a:hover, #navlinks a:active {
  color: #34AADC;
  text-shadow: none;
}

#navlinks a:active {
  color: #34AADC;
}

#search {
  display: none;
  width: 100%;
  background-color: rgba(44, 44, 44, 1);
  font: 300 17px/1em "nimbus-sans",sans-serif;
  letter-spacing: .05em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  float: left;
  padding: 0;
  text-align: center;
}

.searchinput {
  margin: 1% 3% 3% 3%;
  padding: 9px 1% 6px 1%;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  font: 300 17px/1em "nimbus-sans",sans-serif;
  background-color: rgba(22, 22, 22, 0.5);
  border: 1px solid #333;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  letter-spacing: .05em;
  height: 30px;
  width: 91%;
  text-align: center;
}

.searchinput:focus {
  color: #34AADC;
}


@font-face {
  font-family: 'cwcex';
  src: url('/features/resources/fonts/cwcex.eot?45502484');
  src: url('/features/resources/fonts/cwcex.eot?45502484#iefix') format('embedded-opentype'),
       url('/features/resources/fonts/cwcex.woff?45502484') format('woff'),
       url('/features/resources/fonts/cwcex.ttf?45502484') format('truetype'),
       url('/features/resources/fonts/cwcex.svg?45502484#cwcex') format('svg');
  font-weight: normal;
  font-style: normal;
}

.menusearch p {
  font: normal 24px/1em "cwcex",serif;
  text-indent: none;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.menusearch {
  float: right;
  width: auto;
  position: relative;
  padding-top: 10px;
}

.menu {
  font-size: 1.2em;
  padding: 0 12px 0 0;
  position: relative;
}

.searchglass {
  padding: 0 12px 0 0;
  position: relative;
  top: -0.075em;
}

.menusearch a:link, .menusearch a:visited {
  color: white;
}

.menusearch a:hover, .menusearch a:active {
  color: white;
  text-shadow: none;


