<p class="form-text text-muted">
  You can apply color to any item by putting a CSS directive on the immediate line after it.
  <code>{: .COLOR}</code>.<br>

  Allowed colors are:
  <code> {: .darkgreen} {: .darkred} {: .deeppink} {: .goldenrod} {: .olive} {: .slategray} {: .steelblue} </code>
</p>
