<p class="form-text text-muted">
  Include all footnotes/sidenotes here.
  The references to them still need to go in the <code>content</code> as <code>[^1]</code> etc.
  But the notes themselves go here with <code>[^1]:</code> etc.
</p>
