<%= render "admin/page_header", thing: @article %>

<% if @article.english? %>
  <%= render 'admin/translate_this', resource: @article %>
<% end %>

<%= render "form" %>

<div class="row">
  <div class="col-12 col-lg-9 offset-lg-3 col-xl-6 offset-xl-6">
    <%= render "admin/danger_zone",
               thing: @article,
               label: "article",
               path: [:admin, @article] if Current.user.can_delete? %>
  </div>
</div>
