<h2 class="mb-3">
  <%= link_to "NEW", [:new, :admin, :article], class: 'btn btn-outline-primary mb-2' %>

  <span class='font-weight-light'>Articles</span>
  <span class="text-muted">:</span>
  <b>Published</b>

  <span class="float-right">
    <%= link_to_unless_current "Draft ➡️", [:draft, :admin, :articles], class: 'btn btn-outline-primary mb-2' %>
  </span>
</h2>

<%= render 'list', articles: @articles %>

<%= paginate @articles, views_prefix: 'admin', theme: 'twitter-bootstrap-4' %>
