<%= render 'admin/page_header', thing: @articles %>

  <h2 id='published' class='font-weight-light pt-3'>
    Published Articles
    <%= link_to 'Draft Articles ➡️', [:draft, :admin, :articles], class: 'btn btn-sm btn-outline-primary' %>
  </h2>

<%= render 'list', articles: @articles %>

<%= paginate @articles, views_prefix: 'admin', theme: 'twitter-bootstrap-4' %>
