<% if article.categories.present? %>
  <div class="categories">
    <b class="label">Categories:</b>
    <ul>
      <% article.categories.each do |category| %>
        <%# TODO enable when /category pages work %>
        <!-- <li><%#= link_to category.name, "/category/#{category.slug}", rel: "tag", class: "p-category" %></li> -->
        <li><%= category.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>
