<% if article.categories.present? %>
  <div class="categories">
    <b class="label">Categories:</b>
    <ul>
      <% article.categories.each do |category| %>
        <li><%= link_to category.name, category_path(category.slug), rel: "tag", class: "p-category" %></li>
      <% end %>
    </ul>
  </div>
<% end %>
