<% if article.contributions.present? %>
  <div class="contributions">
    <ul>
      <% article.contributions.each do |contribution| %>
        <li>
          <%= contribution.role.name.titleize %>
          by
          <span class="p-author"><%= contribution.contributor.name %></span>.
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
