<% if article.localizations.present? %>
  <div class="localizations">
    <b class="badge">Localizations:</b>

    <% if action_name == 'show' %>
      <%= image_tag 'library/localizations.png', class: 'icon-image' %>
    <% end %>

    <ul>
      <% article.localizations.each do |article| %>
        <li><%= link_to locale(article.locale).name, article.path %></li>
      <% end %>
    </ul>
  </div>
<% end %>
