<section class="pinned-page pinned-page-<%= position %>" role="region">
  <article class="h-entry" role="article">
    <header class="p-name">
      <h1 class="dm-title"><%= article.title %></h1>
      <h2 class="dm-subtitle"><%= article.subtitle %></h2>
    </header>

    <div class="e-content">
      <%= simple_format article.content %>
    </div>
  </article>
</section>
