<p class="screen-reader-only">
  <time class="dt-published" datetime="<%= display_date article.published_at if article.dated? %>">

    <% if article.draft? %>
      <%= link_to article.path do %>
        <b><%= display_date article.published_at %></b>
      <% end %>
    <% elsif article.dated? %>
      <b class="label">Published</b>
      <%= display_date article.published_at %>
    <% else %>
      <em>Publication date not yet set.</em>
    <% end %>

  </time>
</p>
