<% if article.related.present? %>
  <div class="related-articles">
    <h1 class="related-articles-heading">Related Articles</h1>

    <% article.related.each do |category, articles| %>
      <div class="related-articles-category">
        <h2 class="related-articles-category-heading"><%= link_to category.name, category.path %></h2>

        <div class="row">
          <% articles.each do |article| %>
            <% if article == articles.last %>
              <div class="related-article column column-one-third third-related-article">
            <% else %>
              <div class="related-article column column-one-third">
            <% end %>

            <% if article.image.present? && !lite_mode? %>
              <%= link_to image_tag(article.image, class: "related-article-image", alt: article.image_description), article.path %>
            <% end %>

            <header class="article-titles">
              <h2 class="p-x-title">
                <%= link_to article.title.html_safe, article.path %>
              </h2>

              <% if article.subtitle.present? %>
                <h3 class="p-x-subtitle">
                  <%= link_to article.subtitle.html_safe, article.path %>
                </h3>
              <% end %>
            </header>
            </div>
          <% end %>
          </div>
        </div>
    <% end %>

    </div>
  </div><!-- .related-articles -->
<% end %>
