<% if article.tags.present? %>
  <div class="tags">
    <b class="label">Tagged</b>
    <ul>
      <% article.tags.each do |tag| %>
        <li><%= link_to tag.name, "/tags/#{tag.slug}", rel: "tag", class: "p-category" %></li>
      <% end %>
    </ul>
  </div>
<% end %>
