<% if article.theme.present? %>
  <div class="theme">
    <p>
      <%= link_to "/themes/#{article.theme.slug}" do %>
        <b class="label">Theme</b>
        <i class="name"><%= article.theme.name %></i>
      <% end %>
    </p>
  </div>
<% end %>
