<div class="p-name <%= 'shadowed' if header.is_a?(Article) && header.header_shadow_text? %>">
  <%= link_to header.path do %>

    <h1 class="p-x-title">
      <%= RubyPants.new(header.title).to_html.html_safe %>
    </h1>

    <% if header.subtitle.present? %>
      <span class="screen-reader-only sr-only"> : </span>

      <h2 class="p-x-subtitle">
        <%= RubyPants.new(header.subtitle).to_html.html_safe %>
      </h2>
    <% end %>

  <% end %>
</div>
