<div class="meta p-name" <% unless controller_name == 'home' %>
     style="background-image: url(<%= @article.image %>)"
<% end %>>
  <h1 class="p-x-title">
    <%= link_to_if linked, RubyPants.new(header.title).to_html.html_safe, header.path %>
  </h1>

  <% if header.subtitle.present? %>
    <h2 class="p-x-subtitle">
      <%= link_to_if linked, RubyPants.new(header.subtitle).to_html.html_safe, header.path %>
    </h2>
  <% end %>
</div>
