<h3 class="card-title">Lists</h3>

<p class="lead">
  There are two kinds of lists: ordered (numbers) and unordered (bullets).
</p>

<p>
  For unordered lists,
  each list item text is prefixed with a hyphen, a dot and then a space.
  (<code>-</code>)

  For ordered lists,
  each list item text is prefixed with a digit, a dot and then a space.
  (<code>1.</code>)
</p>

<p>
  The digit and order of digits does not matter. You can use a different digit
  for each list item or the same digit for all all items in the list.
  They will be converted to the proper digits when the recipe viewed in a browser.
</p>

<p>Each list item goes on its own line.</p>

<p>A list should always have a blank line above and below it.</p>

<pre class="card bg-light"><code class="card-body">1. First item
2. Second item
3. Third
4. And so on…
</code></pre>

<hr>

<h4>Example Markdown : Ordered Lists</h4>

<pre class="card bg-light"><code class="card-body">1. First item
1. Second item
1. Third
1. And so on…
</code></pre>

<p>Or</p>

<pre class="card bg-light"><code class="card-body">1. First item
2. Second item
3. Third
4. And so on…
</code></pre>

<h4>Generated HTML : Ordered Lists</h4>

<pre class="card bg-light"><code class="card-body">&lt;ol&gt;
  &lt;li&gt;First item&lt;/li&gt;
  &lt;li&gt;Second item&lt;/li&gt;
  &lt;li&gt;Third&lt;/li&gt;
  &lt;li&gt;And so on…&lt;/li&gt;
&lt;/ol&gt;</code></pre>

<h4>Rendered HTML : Ordered Lists</h4>

<div class="card pt-4 pb-2">
  <ol>
    <li>First item</li>
    <li>Second item</li>
    <li>Third</li>
    <li>And so on…</li>
  </ol>
</div>

<hr class="my-5">


<h4>Example Markdown : Unordered Lists</h4>

<pre class="card bg-light"><code class="card-body">- First item
- Second item
- Third
- And so on…
</code></pre>

<h4>Generated HTML : Unordered Lists</h4>

<pre class="card bg-light"><code class="card-body">&lt;ul&gt;
  &lt;li&gt;First item&lt;/li&gt;
  &lt;li&gt;Second item&lt;/li&gt;
  &lt;li&gt;Third&lt;/li&gt;
  &lt;li&gt;And so on…&lt;/li&gt;
&lt;/ul&gt;</code></pre>

<h4>Rendered HTML : Unordered Lists</h4>

<div class="card pt-4 pb-2">
  <ul>
    <li>First item</li>
    <li>Second item</li>
    <li>Third</li>
    <li>And so on…</li>
  </ul>
</div>
