<h3 class="card-title">Bold and Italics</h3>

<p class="lead">
  Any text in any Markdown tag can be made bold or italicized.
</p>

<p>
  To embolden text, wrap it in double asterisks
  (<code>** **</code>).

  To italicize text, wrap it in underscores
  (<code>_ _</code>).
</p>

<pre class="card bg-light"><code class="card-body">Plain **Bold** _Italics_</code></pre>

<hr>

<h4>Example Markdown</h4>

<pre class="card bg-light"><code class="card-body">A sentence with **bold** and _italics_ in it.</code></pre>

<h4>Generated HTML</h4>

<pre class="card bg-light"><code class="card-body">A sentence with &lt;b&gt;bold&lt;/b&gt; and &lt;i&gt;italics&lt;/i&gt; in it.</code></pre>

<h4>Rendered HTML</h4>

<div class="card pt-3 pb-2 px-4">
  <p>
    A sentence with <b>bold</b> and <i>italics</i> in it.
  </p>
</div>
