<h3 class="card-title">Links</h3>

<p class="lead">
  Links are made of two pieces: link text and link URL. The link text is what is
  displayed in a browser. The link URL is where the link goes to once clicked.
</p>

<p>
  The link text is wrapped in square brackets (<code>[]</code>).
  The link URL is wrapped in parentheses (<code>()</code>).
  There is no space separating the two pieces.
</p>

<p>A link can be used inline in any Markdown text (paragraphs, lists, headings).</p>

<pre class="card bg-light"><code class="card-body">[link text](link url)

[My Website](http://example.com)

Courtesy of: [Eli](https://eliduke.com/recipes/wacky-cake/)

- A [link](http://example.com) in a list item</code></pre>

<hr>

<h4>Example Markdown</h4>

<pre class="card bg-light"><code class="card-body">[A link to a website](http://example.com)</code></pre>

<h4>Generated HTML</h4>

<pre class="card bg-light"><code class="card-body">&lt;a href="http://example.com"&gt;A link to a website&lt;/a&gt;</code></pre>

<h4>Rendered HTML</h4>

<div class="card pt-3 pb-1 px-4">
  <p>
    <a href="http://example.com">A link to a website</a>
  </p>
</div>
