<h1 class="font-weight-light">Admin Dashboard</h1>

<nav class="mb-5">
  <p class="h6 text-muted">Jump to</p>
  <%= link_to "Draft Articles ➡️",     [:draft, :admin, :articles], class: "btn btn-lg btn-outline-primary mb-3" %><br>
  <%= link_to "Published Articles ➡️", [:admin, :articles], class: "btn btn-lg btn-outline-primary mb-3" %>
</nav>
