<article>
  <header>
    <%= render_themed "tools/nav" %>

    <h1><%= t("views.tools.journals_heading_text") %></h1>
  </header>

  <div class="e-content intro">
    <%= render_markdown t("views.tools.journals_intro_text") %>
  </div>

  <% @journals.each do |journal| %>
    <%= render_themed "journals/journal", journal: journal %>
  <% end %>
</article>
