<div id="syndication">
  <fieldset>
    <legend>Syndication</legend>

    <div class="mb-3">
      <%= form.label :summary, class: "form-label" %>
      <%= form.textarea :summary, class: "form-control form-control-lg", rows: 5 %>

      <p class="form-text text-muted">
        Maximum 150 characters.
        Used for page description and previews in story cards on other sites.
      </p>
    </div>
  </fieldset>
</div><!-- #syndication -->
