<div class="mb-3 mt-3">
  <%= form.label :tags, "Tags", class: "form-label" %>
  <%= text_field_tag :tags, @article.tags.map(&:name).join(", "), class: "form-control form-control-lg" %>
  <p class="form-text text-muted">Comma separated. For example, <em>dogs, cats, etc</em>.</p>
</div>
