@font-face {
  font-family: "alright_sansmedium";
  src: font-url("alrightsans-medium-webfont.eot");
  src: font-url("alrightsans-medium-webfont.eot?#iefix") format("embedded-opentype"),
       font-url("alrightsans-medium-webfont.woff2") format("woff2"),
       font-url("alrightsans-medium-webfont.woff") format("woff"),
       font-url("alrightsans-medium-webfont.ttf") format("truetype"),
       font-url("alrightsans-medium-webfont.svg#alright_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright_sanslight_italic";
  src: font-url("alrightsans-lightitalic-webfont.eot");
  src: font-url("alrightsans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),
       font-url("alrightsans-lightitalic-webfont.woff2") format("woff2"),
       font-url("alrightsans-lightitalic-webfont.woff") format("woff"),
       font-url("alrightsans-lightitalic-webfont.ttf") format("truetype"),
       font-url("alrightsans-lightitalic-webfont.svg#alright_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright_sanslight";
  src: font-url("alrightsans-light-webfont.eot");
  src: font-url("alrightsans-light-webfont.eot?#iefix") format("embedded-opentype"),
       font-url("alrightsans-light-webfont.woff2") format("woff2"),
       font-url("alrightsans-light-webfont.woff") format("woff"),
       font-url("alrightsans-light-webfont.ttf") format("truetype"),
       font-url("alrightsans-light-webfont.svg#alright_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright_sansextra_thin";
  src: font-url("alrightsans-extrathin-webfont.eot");
  src: font-url("alrightsans-extrathin-webfont.eot?#iefix") format("embedded-opentype"),
       font-url("alrightsans-extrathin-webfont.woff2") format("woff2"),
       font-url("alrightsans-extrathin-webfont.woff") format("woff"),
       font-url("alrightsans-extrathin-webfont.ttf") format("truetype"),
       font-url("alrightsans-extrathin-webfont.svg#alright_sansextra_thin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright_sansbold";
  src: font-url("alrightsans-bold-webfont.eot");
  src: font-url("alrightsans-bold-webfont.eot?#iefix") format("embedded-opentype"),
       font-url("alrightsans-bold-webfont.woff2") format("woff2"),
       font-url("alrightsans-bold-webfont.woff") format("woff"),
       font-url("alrightsans-bold-webfont.ttf") format("truetype"),
       font-url("alrightsans-bold-webfont.svg#alright_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright_sansblack";
  src: font-url("alrightsans-black-webfont.eot");
  src: font-url("alrightsans-black-webfont.eot?#iefix") format("embedded-opentype"),
       font-url("alrightsans-black-webfont.woff2") format("woff2"),
       font-url("alrightsans-black-webfont.woff") format("woff"),
       font-url("alrightsans-black-webfont.ttf") format("truetype"),
       font-url("alrightsans-black-webfont.svg#alright_sansblack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright_sansmedium_italic";
  src: font-url("alrightsans-mediumitalic-webfont.eot");
  src: font-url("alrightsans-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"),
       font-url("alrightsans-mediumitalic-webfont.woff2") format("woff2"),
       font-url("alrightsans-mediumitalic-webfont.woff") format("woff"),
       font-url("alrightsans-mediumitalic-webfont.ttf") format("truetype"),
       font-url("alrightsans-mediumitalic-webfont.svg#alright_sansmedium_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright_sansextra_thin_italic";
  src: font-url("alrightsans-extrathinitalic-webfont.eot");
  src: font-url("alrightsans-extrathinitalic-webfont.eot?#iefix") format("embedded-opentype"),
       font-url("alrightsans-extrathinitalic-webfont.woff2") format("woff2"),
       font-url("alrightsans-extrathinitalic-webfont.woff") format("woff"),
       font-url("alrightsans-extrathinitalic-webfont.ttf") format("truetype"),
       font-url("alrightsans-extrathinitalic-webfont.svg#alright_sansextra_thin_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright_sansregular";
  src: font-url("alrightsans-regular-webfont.eot");
  src: font-url("alrightsans-regular-webfont.eot?#iefix") format("embedded-opentype"),
       font-url("alrightsans-regular-webfont.woff2") format("woff2"),
       font-url("alrightsans-regular-webfont.woff") format("woff"),
       font-url("alrightsans-regular-webfont.ttf") format("truetype"),
       font-url("alrightsans-regular-webfont.svg#alright_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright_sansregular_italic";
  src: font-url("alrightsans-regularitalic-webfont.eot");
  src: font-url("alrightsans-regularitalic-webfont.eot?#iefix") format("embedded-opentype"),
       font-url("alrightsans-regularitalic-webfont.woff2") format("woff2"),
       font-url("alrightsans-regularitalic-webfont.woff") format("woff"),
       font-url("alrightsans-regularitalic-webfont.ttf") format("truetype"),
       font-url("alrightsans-regularitalic-webfont.svg#alright_sansregular_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright_sansbold_italic";
  src: font-url("alrightsans-bolditalic-webfont.eot");
  src: font-url("alrightsans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
       font-url("alrightsans-bolditalic-webfont.woff2") format("woff2"),
       font-url("alrightsans-bolditalic-webfont.woff") format("woff"),
       font-url("alrightsans-bolditalic-webfont.ttf") format("truetype"),
       font-url("alrightsans-bolditalic-webfont.svg#alright_sansbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright_sansblack_italic";
  src: font-url("alrightsans-blackitalic-webfont.eot");
  src: font-url("alrightsans-blackitalic-webfont.eot?#iefix") format("embedded-opentype"),
       font-url("alrightsans-blackitalic-webfont.woff2") format("woff2"),
       font-url("alrightsans-blackitalic-webfont.woff") format("woff"),
       font-url("alrightsans-blackitalic-webfont.ttf") format("truetype"),
       font-url("alrightsans-blackitalic-webfont.svg#alright_sansblack_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright_sansultra";
  src: font-url("alrightsans-ultra-webfont.eot");
  src: font-url("alrightsans-ultra-webfont.eot?#iefix") format("embedded-opentype"),
       font-url("alrightsans-ultra-webfont.woff2") format("woff2"),
       font-url("alrightsans-ultra-webfont.woff") format("woff"),
       font-url("alrightsans-ultra-webfont.ttf") format("truetype"),
       font-url("alrightsans-ultra-webfont.svg#alright_sansultra") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright_sansthin_italic";
  src: font-url("alrightsans-thinitalic-webfont.eot");
  src: font-url("alrightsans-thinitalic-webfont.eot?#iefix") format("embedded-opentype"),
       font-url("alrightsans-thinitalic-webfont.woff2") format("woff2"),
       font-url("alrightsans-thinitalic-webfont.woff") format("woff"),
       font-url("alrightsans-thinitalic-webfont.ttf") format("truetype"),
       font-url("alrightsans-thinitalic-webfont.svg#alright_sansthin_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright_sansultra_italic";
  src: font-url("alrightsans-ultraitalic-webfont.eot");
  src: font-url("alrightsans-ultraitalic-webfont.eot?#iefix") format("embedded-opentype"),
       font-url("alrightsans-ultraitalic-webfont.woff2") format("woff2"),
       font-url("alrightsans-ultraitalic-webfont.woff") format("woff"),
       font-url("alrightsans-ultraitalic-webfont.ttf") format("truetype"),
       font-url("alrightsans-ultraitalic-webfont.svg#alright_sansultra_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright_sansthin";
  src: font-url("alrightsans-thin-webfont.eot");
  src: font-url("alrightsans-thin-webfont.eot?#iefix") format("embedded-opentype"),
       font-url("alrightsans-thin-webfont.woff2") format("woff2"),
       font-url("alrightsans-thin-webfont.woff") format("woff"),
       font-url("alrightsans-thin-webfont.ttf") format("truetype"),
       font-url("alrightsans-thin-webfont.svg#alright_sansthin") format("svg");
  font-weight: normal;
  font-style: normal;
}
