<div class="card text-white bg-danger mb-3" style="margin-top: 10rem">
  <div class="card-header h3">The Danger Zone™</div>

  <div class="card-body bg-light text-dark">
    <h2 class="card-title text-danger h5">
      Want to delete this <%= label.gsub("_", " ").titleize %>?
    </h2>

    <p class="card-text">
      You can delete this <%= label.gsub("_", " ").titleize %> at anytime.
      All of its associated data will be immediately and permanently deleted.
      There is <b>NO UNDO</b>.
    </p>

    <div class="text-right">
      <%= link_to "Delete", path, method: :delete, data: { confirm: "Are you sure you're sure? There is NO UNDO." }, class: "btn btn-danger" %>
    </div>
  </div>
</div>
