<div class="row">
  <div class="col-12 col-lg-9 offset-lg-3 col-xl-6 offset-xl-6">

    <div class="card text-white mb-5" style="margin-top: 10rem">
      <div class="card-header h3 bg-danger">The Danger Zone™</div>

      <div class="card-body text-secondary">
        <h2 class="card-title text-danger h5">
          Want to delete this <%= label.humanize.titleize %>?
        </h2>

        <p class="card-text">
          You can delete this <%= label.humanize.titleize %> at anytime.
          All of its associated data will be immediately and permanently deleted.
          There is <b>NO UNDO</b>.
        </p>

        <div class="text-end">
          <%= button_to t('admin.ui.delete'),
                      path,
              class: "btn btn-danger",
              method: 'delete' %>
        </div>
      </div>
    </div>

  </div>
</div>
