<div class="form-group" id="publication_datetime">
  <%= f.label :published_at, "Publication Date &amp; Time".html_safe %>

  <div class="row">
    <div class="col-md-4 col-lg-6">
      <input id="publication_date"
             type="date"
             name="published_at_date"
             value="<%= admin_form_date(post) %>"
             class="form-control form-control-lg datetime-select">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-lg-6">
      <input id="publication_time"
             placeholder="hh:mm"
             type="time"
             name="published_at_time"
             value="<%= admin_form_time(post) %>"
             class="form-control form-control-lg datetime-select timepicker">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-8">
      <%= time_zone_select type,
      :published_at_tz,
      [ActiveSupport::TimeZone['Pacific Time (US & Canada)'], ActiveSupport::TimeZone['Eastern Time (US & Canada)']],
      {},
      class: "form-control form-control-lg datetime-select"
      %>
    </div>
  </div>
</div>
