<div class="mb-3" id="publication_datetime">
  <%= form.label :published_at, "Publication Date &amp; Time".html_safe, class: "form-label" %>

  <div class="row">
    <div class="col-12">
      <input id="publication_date"
             placeholder="YYYY-MM-DD"
             type="date"
             name="published_at_date"
             value="<%= admin_form_date(post) %>"
             class="form-select form-select-lg"
             autocomplete="off">

      <p class="form-text text-muted">Example: 1999-11-30</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <input id="publication_time"
             placeholder="HH:MM"
             type="time"
             name="published_at_time"
             value="<%= admin_form_time(post) %>"
             class="form-select form-select-lg"
             autocomplete="off">

      <p class="form-text text-muted">Example: 23:59</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= time_zone_select type,
                           :published_at_tz,
                           [ActiveSupport::TimeZone['Pacific Time (US & Canada)'], ActiveSupport::TimeZone['Eastern Time (US & Canada)']],
                           {},
                           class: "form-select form-select-lg mb-2" %>
    </div>
  </div>
</div>
