<div class="card mb-3">
  <div class="card-body">
    <div id="publication-status">
      <%= form.label :publication_status, t('admin.forms.publication_status'), class: "form-label" %><br>

      <% Publishable.publication_statuses_for(user: Current.user).each do |state| %>
        <%= form.radio_button :publication_status, state, id: "publication_status_#{state}", class: "btn-check" %>

        <%= form.label "publication_status_#{state}",
                       state.capitalize,
                       for: "publication_status_#{state}",
                       class: "btn btn-outline-#{state == :draft ? :secondary : 'primary'}" %>
      <% end %>
    </div><!-- #publication-status -->
  </div>
</div>
