<div class="translate-this mb-3">
  <p class="p-0 m-0">Translate this to</p>

  <% Locale.all.each do |locale| %>
    <% next if locale.english? %>
    <% next if article.localizations.map(&:locale).include? locale.abbreviation %>

    <%= link_to locale.abbreviation.upcase, [:new, :admin, :article, canonical_id: article.id, locale: locale.abbreviation], class: "button button-buy btn btn-outline-primary mb-2" %>
  <% end %>
</div>
