<div class="translate-this">
  <p>Translate this to</p>

  <% Locale.all.each do |locale| %>
    <% next if locale.english? %>
    <%= link_to locale.abbreviation, [:new, :admin, :article, canonical_id: article.id, locale: locale.abbreviation], class: "button button-buy" %>
  <% end %>
</div>
