/*-----------------------------------------------------------------*/
/*-------------APPLY TO ALL VERSIONS-------------------------------*/
/*-----------------------------------------------------------------*/


h1, h2, h3, h4 {
	font-family: "alternate-gothic-no-3-d",sans-serif;
	letter-spacing: -.03em;
}

h1 {
	color: white;
	text-shadow: none;
	line-height: 1.05em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: -.03em;
}

h2 {
	color: black;
	text-align: left;
	line-height: .95em;
}

h3 {
	color: #002776;
	text-align: left;
	line-height: 1.05em;
}

h4 {
	color: #F7F7F7;
	text-align: center;
	text-shadow: -1px 1px 1px #000000;
	line-height: .85em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .4em;
}

aside blockquote {
	font-family: "alternate-gothic-no-3-d",sans-serif;
	text-transform: uppercase;
	color: red;
}

/*------------ACCENT COLORS, INCLUDING LINKS----------------*/
.accent {
  color: #009a3a;
}

.accent a:link, .accent a:visited {
	color:#009a3a;
}    

.accent a:hover, .accent a:active {
	color: black;
	text-shadow: 0px 0px 20px #009a3a;
}

.accent a:active {
	color:black;
} 


/*------------------GENERIC LINKS----------------------------------*/

a {
	text-decoration: none;
	-webkit-transition:all .1s ease-in;
}

a:link, a:visited {
	color:#34AADC;
}    

a:hover, a:active {
	color: black;
	text-shadow: 0px 0px 20px #34AADC;
}

a:active {
	color:black;
} 

small a:hover, small a:active {
	color: #8E8E93;
}


/*-----------------FOOTNOTE COLORS------------------------*/

.refnumber, .fnumber {
	color: #FF2D55;
}

.footlink {
	color: #FF2D55;
}

.footlink a:link, .footlink a:visited {
	color: #FF2D55;
}    

.footlink a:hover, .footlink a:active {
	color: black;
	text-shadow: 0px 0px 20px #FF2D55;
}

.footreturn a:link, .footreturn a:visited {
	color: #FF2D55;
	text-decoration: none;
}    

.footreturn a:hover, .footreturn a:active {
	color: black;
	text-shadow: 0px 0px 20px #FF2D55;
}

.footref {
	color: #FF2D55;
}

.footnote a:link, .footnote a:visited {
	color: black;
	text-decoration: underline;
}    

.footnote a:hover, .footnote a:active {
	color: black;
	text-shadow: 0px 0px 20px #8E8E93;
}


/*----------------------------------------------------------*/
/*-------------RESPONSIVE CODE STARTS HERE------------------*/
/*----------------------------------------------------------*/
	
	
	
/*-------------PHONE CSS------------------*/
@media (min-device-width:200px) and (max-width:599px) {
	
	.headerwrapper {
		float: left;
		width: 100%;
		background-image: url('https://cloudfront.crimethinc.com/assets/features/demands/images/header1200.jpg');
		background-size: 100%;
		padding-bottom: 0;
		padding-top: 12%;
		margin-bottom: 0px;
		background-position:center top;
	}
	
	h1 {
		font-size: 73px;
		font-size: 23vw;
		margin-top: 0%;
		margin-bottom: 5%;
	}
	
	@media (min-width:320px) and (max-width:359px) {
		h1 {
			font-size: 73px;
			font-size: 23vw;
		}
		}
	
	@media (min-width: 360px) and (max-width:379px) {
		h1 {
			font-size: 82px;
			font-size: 23vw;
		}
		
		}
	
	@media (min-width: 384px) and (max-width:399px) {
		h1 {
			font-size: 88px;
			font-size: 23vw;
		}
		
		}
	
	@media (min-width: 400px) and (max-width:599px) {
		h1 {
			font-size: 92px;
			font-size: 23vw;
		}
		
		}
	
	h2 {
		font-size: 19px;
		font-size: 6vw;
		margin: 50px 0 20px 0;
		padding: 0 5% 0 7%
	}
	
	h3 {
		font-size: 15px;
		/*font-size: 33vw;*/
		margin: 50px 0 20px 0;
	}
	
	h4 {
		font-size: 30px;
		/*font-size: 1.75vw;*/
		margin: 2% 0 0 15%;
	}
	
	aside blockquote {
		font-size: 22px;
		font-size: 7vw;
	}
	
	.bottomsmall {
		padding: 0% 5% 10% 5% !important;
	}
	
}



/*-------------TABLET CSS------------------*/
@media (min-width:600px) and (max-width:1023px) {
	
	.headerwrapper {
		width: 100%;
		background-image: url('https://cloudfront.crimethinc.com/assets/features/demands/images/header2560.jpg');
		background-size: 100%;
		padding-bottom: 50%;
		background-position:center top;
	}
	
	h1 {
		font-size: 114px;
		font-size: 18vw;
		margin-left: 0;
		margin-top: 4%;
	}
	
	h2 {
		font-size: 40px;
		/*font-size: 33vw;*/
		margin: 50px 0 20px 0;
		padding: 0 10% 0 11%;
	}
	
	h3 {
		font-size: 15px;
		/*font-size: 33vw;*/
		margin: 50px 0 20px 0;
	}
	
	h4 {
		font-size: 30px;
		/*font-size: 1.75vw;*/
		margin: 2% 0 0 15%;
	}
	
	aside blockquote {
		font-size: 40px;
	}
	
	.bottomsmall {
		padding: 0% 10% 10% 11% !important;
	}
	
	
}



/*-------------DESKTOP TINY CSS------------------*/
@media (min-width:1024px) and (max-width:1249px) {
	
	.headerwrapper {
		width: 100%;
		background-image: url('https://cloudfront.crimethinc.com/assets/features/demands/images/header2560.jpg');
		background-size: 100%;
		padding-bottom: 50%;
		background-position:center top;
	}
	
	h1 {
		font-size: 194px;
		font-size: 18vw;
		margin-left: 0;
		margin-top: 1%;
	}
	
	h2 {
		font-size: 50px;
		/*font-size: 33vw;*/
		margin: 50px 0 20px 0;
	}
	
	h3 {
		font-size: 15px;
		/*font-size: 33vw;*/
		margin: 50px 0 20px 0;
	}
	
	h4 {
		font-size: 30px;
		/*font-size: 1.75vw;*/
		margin: 2% 0 0 15%;
	}
	
	aside blockquote {
		font-size: 55px;
	}
	
}



/*-------------DESKTOP SMALL CSS------------------*/
@media (min-width:1250px) and (max-width:1669px) {
	
	.headerwrapper {
		width: 100%;
		background-image: url('https://cloudfront.crimethinc.com/assets/features/demands/images/header2560.jpg');
		background-size: 100%;
		padding-bottom: 50%;
		background-position:center top;
	}
	
	h1 {
		font-size: 237px;
		font-size: 19vw;
		margin-left: 0;
		margin-top: 3%;
	}
	
	h2 {
		font-size: 40px;
		/*font-size: 33vw;*/
		margin: 50px 0 20px 0;
	}
	
	h3 {
		font-size: 15px;
		/*font-size: 33vw;*/
		margin: 50px 0 20px 0;
	}
	
	h4 {
		font-size: 30px;
		/*font-size: 1.75vw;*/
		margin: 2% 0 0 15%;
	}
	
	aside blockquote {
		font-size: 40px;
	}
	
	.bottompull {
		margin-top: 65px;
	}
	
}



/*-------------DESKTOP BIG CSS------------------*/
@media (min-width:1670px) {
	
	.headerwrapper {
		width: 100%;
		background-image: url('https://cloudfront.crimethinc.com/assets/features/demands/images/header2560.jpg');
		background-size: 100%;
		padding-bottom: 50%;
		background-position:center top;
	}
	
	h1 {
		font-size: 317px;
		font-size: 19vw;
		margin-left: 0;
		margin-top: 4%;
	}
	
	h2 {
		font-size: 50px;
		/*font-size: 33vw;*/
		margin: 50px 0 20px 0;
	}
	
	h3 {
		font-size: 15px;
		/*font-size: 33vw;*/
		margin: 50px 0 20px 0;
	}
	
	h4 {
		font-size: 30px;
		/*font-size: 1.75vw;*/
		margin: 2% 0 0 15%;
	}
	
	aside blockquote {
		font-size: 60px;
	}
	
	.bottompull {
		margin-top: 45px;
	}
}