@layer base {
  :root {
    --link-underline-thickness: var(--_link-underline-thickness, .15ch);
    --link-underline-offset: var(--_link-underline-offset, 0.1em);
    --link-color: var(--_link-color, currentColor);
    --link-hover-color: oklch(from currentColor calc(l - 50) c h);
  }

  * {
    box-sizing: border-box;
  }

  html,
  body {
    font-size: 62.5%;
    max-width: $large-desktop;
    margin: 0 auto;
  }

  body {
    margin-bottom: 0;
    background: var(--color-white);
    color: var(--color-black);
    font: {
      size: $base-font-size;
      family: $font-body;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  span {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  b,
  strong {
    font-weight: 700;
  }

  i,
  em {
    font-style: italic;
  }

  input[type="search"] {
    -webkit-appearance: textfield;
  }

  main {
    clear: both;
    width: 100%;
    padding: 0 var(--border-size-medium);
    margin: 0 auto var(--border-size-xlarge) auto;
  }


  a, a:link, a:visited, a:hover, a:active {
    color: var(--link-color);

    &:has(h1,h2) { text-decoration: none;  }
  }

  nav a {
    color: var(--link-color);

    &:link, &:visited { text-decoration: none; }
    &:hover, &:active {
      text-decoration: underline solid currentColor var(--link-underline-thickness);
      text-underline-offset: var(--link-underline-offset);
    }
  }

  p a {
    color: var(--link-color);

    &:link, &:visited, &:hover, &:active {
      text-decoration: underline solid currentColor var(--link-underline-thickness);
      text-underline-offset: var(--link-underline-offset);
      font-weight: 700;
    }
    &:hover, &:active { color: var(--link-hover-color); }
  }

  video,
  audio,
  img {
    max-width: 100%;
    height: auto;
  }

  sup {
    display: inline-block;
    font: {
      size: 0.625em;
      weight: 500;
    }
    position: relative;
    top: -0.625em;
    left: -0.125em;

    > a {
      &:link,
      &:visited,
      &:hover,
      &:active {
        display: block;
        text-decoration: none;
      }
    }
  }

  audio {
    display: block;
    margin: {
      top: var(--border-size-large);
      bottom: var(--border-size-xlarge);
    }
    min-height: var(--border-size-xlarge);
  }
}
