<% if ex_workers_collection.present? %>
  <!-- Ex-Workers’ Collection -->
  <p class='mb-2 pt-5' id='ex-workers-collection'><%= tt :ex_workers_collection %></p>

  <% @ex_workers_collection.each do |article| %>
    <%= render_themed 'home/sections/article',
                      article:     article,
                      image_class: cycle(:first, :last, name: 'image'),
                      text_class:  cycle(:last, :first, name: 'text') %>
  <% end %>
  <!-- /Ex-Workers’ Collection -->
<% end %>
