<p>
  <%= link_to tool.class, tool.class.to_s.downcase.pluralize.to_sym %>
</p>

<%= link_to tool.path do %>
  <h2><%= tool.title %></h2>

  <% if tool.subtitle.present? %>
    <h4 class='fw-light'><%= tool.subtitle %></h3>
  <% end %>
<% end %>
