html,
body {
  font-size: 62.5%;
}

body {
  margin-bottom: 0;
  background: $color-white;
  color: $color-black;
  font: {
    size: $base-font-size;
    family: $font-body;
  }
}

h1, h2, h3, h4, h5, h6, p, a, span {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

strong {
  font-weight: 600;
}

input[type=search] {
  -webkit-appearance: textfield;
}

main {
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: $large-desktop;
}

a {
  color: black;
}