<%= render_markdown "[[ https://vimeo.com/#{video.vimeo_id} ]]" %>

<div class="e-content">
  <p class="video-info">
    <span class="video-quality"><%= video.quality %></span>
    <span class="video-duration"><%= video.duration %></span>
  </p>

  <%= render_markdown video.content %>
</div>
