<% content_for(:head) do %>
  <%= rel_next_prev_link_tags(@videos) %>
<% end %>

<div>
  <header>
    <h1>Emergency Broadcast System</h1>
    <h2>A Selection of Videos from CrimethInc. Perpetual Motion Pictures</h2>
  </header>

  <div class="video-flexbox-container">
    <% @videos.sort_by{ |v| v.content.length }.each do |video| %>

      <div class="column column-half section h-entry">
        <% unless video.blank? %>
          <h1 class="p-name"><%= link_to video.title, video_path(video.slug) %></h1>

          <%= render video %>
        <% end %>
      </div>

    <% end %>
  </div>
</div>

<%= paginate @videos %>
