<% if Rails.env.development? %>
  <style>
    #development-mode-banner {
      background: yellow;
      text-align: center;
      font-weight: bold;
      padding: 2rem;
    }
  </style>

  <div id="development-mode-banner">
    DEVELOPMENT MODE
  </div>
<% end %>
