<footer role="contentinfo">
  <div class="footer-sections">
    <%= render "shared/footer/nav" %>
    <%= render "shared/footer/about" %>
    <%= render "shared/footer/contact" %>
  </div>

  <div rel="license" class="license">
    <p>
      Your heart is as free as the air you breathe. The ground you stand on is liberated territory.
    </p>
  </div>
</footer>
