<% cache [Digest::MD5.hexdigest(Marshal.dump(social_links))] do %>
  <footer id="site-footer">
    <div class="footer-sections">
      <%= render "shared/footer/nav" %>
      <%= render "shared/footer/about" %>
      <%= render "shared/footer/contact" %>
    </div>

    <div rel="license" class="license">
      <p><%= t("footer.mantra").sample %></p>
    </div>
  </footer>
<% end %>
