<style>
  #redesign-header {
    padding: 2rem;
    background: #FB00BB;
    text-align: center;
    color: white;
    font-weight: bold;
  }
</style>

<nav id="redesign-header">
  You have the 2.0 redesign feature flag enabled.
</nav>
