<div class="secondary-navigation">
  <%= form_tag "/search", class: "header-search-form" do %>
    <%= label_tag        "search-archives",                   t("header.search_form_placeholder").html_safe, class: "screen-reader-only" %>
    <%= search_field_tag "search-archives", nil, placeholder: t("header.search_form_placeholder").html_safe, class: "search-field" %>
  <% end %>

  <div class="starter-link">
    <%= link_to t("header.first_time"), "start" %>
  </div>
</div>
