<table class="table table-striped table-sm mb-3">
  <thead class="table-dark">
    <tr>
      <th></th>
      <th>Name</th>
      <th class="text-end">Publication Date</th>
      <th class="text-end">Content Present?</th>
    </tr>
  </thead>

  <tbody>
    <% definitions.each do |definition| %>
      <tr>
        <td>
          <%= link_to "EDIT", [:edit, :admin, definition], class: "btn btn-outline-primary btn-sm" %>
        </td>
        <td>
          <b><%= link_to definition.name, [:admin, definition] %></b>
        </td>
        <td class="text-end">
          <% if definition.published_at.blank? %>
            <span class="badge bg-danger">DRAFT</span>
          <% else %>
            <%= display_date definition.published_at %>
          <% end %>
        </td>
        <td class="text-end">
          <% if definition.content.present? %>
              ✅
          <% else %>
            <span class="badge bg-info">TODO</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
