/*-----------------------------------------------------------------*/
/*-------------APPLY TO ALL VERSIONS-------------------------------*/
/*-----------------------------------------------------------------*/


h1, h2, h3, h4, h5, h6 {
	font-family: "ff-meta-serif-web-pro",serif;
}

h1 {
	color: white;
	text-align: left;
	text-shadow: none;
	line-height: .85em;
	/*font-style: italic;*/
	letter-spacing: -.01em;
	font-weight: 700;
	/*text-transform: uppercase;*/
}

h2 {
	color: #ac2229;
	text-align: left;
	line-height: 1.05em;
	/*font-style: italic;*/
	/*letter-spacing: -.03em;*/
}

h3 {
	color: #ac2229;
	text-align: left;
	line-height: 1.05em;
}

h4 {
	color: white;
	text-align: left;
	text-shadow: none;
	line-height: .85em;
	/*font-style: italic;*/
	letter-spacing: -.03em;
	font-weight: 700;
	text-transform: uppercase;
}

h5 {
	color: white;
	text-align: left;
	text-shadow: none;
	line-height: .85em;
}

h6 {
	color: #3e3736;
	text-align: center;
	line-height: .85em;
	/*font-style: italic;*/
	letter-spacing: -.03em;
}

aside blockquote {
	font-family: "news-gothic-std",sans-serif;
	font-weight: 400;
	line-height: 1.1em;
	letter-spacing: -.03em;
}

aside blockquote p {
	font-family: "news-gothic-std",sans-serif;
	font-weight: 400;
	line-height: 1.1em;
	letter-spacing: -.03em;
}

.footnote {
	margin: 0;
}

/*------------ACCENT COLORS, INCLUDING LINKS----------------*/
.accent {
  color: #948582;
}

.accent a:link, .accent a:visited {
	color:#FF2D55;
}    

.accent a:hover, .accent a:active {
	color: black;
	text-shadow: 0px 0px 20px #FF2D55;
}

.accent a:active {
	color:black;
} 


/*------------------GENERIC LINKS----------------------------------*/

a {
	text-decoration: none;
	-webkit-transition:all .1s ease-in;
}

a:link, a:visited {
	color:#34AADC;
}    

a:hover, a:active {
	color: black;
	text-shadow: 0px 0px 20px #34AADC;
}

a:active {
	color:black;
} 

small a:hover, small a:active {
	color: #8E8E93;
}


/*-----------------FOOTNOTE COLORS------------------------*/

.refnumber, .fnumber {
	color: #FF2D55;
}

.footlink {
	color: #FF2D55;
}

.footlink a:link, .footlink a:visited {
	color: #FF2D55;
}    

.footlink a:hover, .footlink a:active {
	color: black;
	text-shadow: 0px 0px 20px #FF2D55;
}

.footref {
	color: #FF2D55;
}

.footnote a:link, .footnote a:visited {
	color: black;
	text-decoration: underline;
}    

.footnote a:hover, .footnote a:active {
	color: black;
	text-shadow: 0px 0px 20px #8E8E93;
}

.footreturn a:link, .footreturn a:visited {
	color: #FF2D55;
	text-decoration: none;
}    

.footreturn a:hover, .footreturn a:active {
	color: black;
	text-shadow: 0px 0px 20px #FF2D55;
}

.specialquote {
	background: none !important;
}

.specialquote h5 {
	z-index: -100;
	position: absolute;
	text-align: left;
	color: white;
	/*text-transform: uppercase;*/
	letter-spacing: -.03em;
}

.specialquote img {
	position: relative;
	top: 0;
	left: 0;
	border: 0px solid #000000;
	width: 100%;
	z-index: -101;
}


/*----------------------------------------------------------*/
/*-------------RESPONSIVE CODE STARTS HERE------------------*/
/*----------------------------------------------------------*/
	
	
	
/*-------------PHONE CSS------------------*/
@media (min-device-width:200px) and (max-width:599px) {
	
	.headerwrapper {
		float: left;
		width: 100%;
		background-image: url('http://thecloud.crimethinc.com/assets/features/destination/images/header1200.jpg');
		background-size: 100%;
		padding-bottom: 0;
		margin-bottom: -15px;
		background-position:center top;
	}
	
	.header {
		padding-top: 98%;
		padding-bottom: -1%;
	}
	
	h1 {
		font-size: 200px;
		font-size: 9.5vw;
		margin-left: 0%;
		background-color: rgb(111, 99, 97);
		width: 96%;
		padding: 5% 2% 1% 2%;
	}
	
	@media (min-width:320px) and (max-width:359px) {
		h1 {
			font-size: 30px;
			font-size: 9.5vw;
		}
		}
	
	@media (min-width: 360px) and (max-width:379px) {
		h1 {
			font-size: 34px;
			font-size: 9.5vw;
		}
		
		}
	
	@media (min-width: 384px) and (max-width:399px) {
		h1 {
			font-size: 36px;
			font-size: 9.5vw;
		}
		
		}
	
	@media (min-width: 400px) and (max-width:599px) {
		h1 {
			font-size: 38px;
			font-size: 9.5vw;
		}
		
		}
		
	h4 {
		font-size: 23px;
		font-size: 7.1vw;
		margin-left: 0%;
		background-color: rgb(111, 99, 97);
		width: 96%;
		padding: 2% 2% 5% 2%;
	}
	
	aside blockquote {
			font-size: 20px;
	}
	
	aside blockquote p {
		font-size: 18px;
		margin-top: 10px;
	}
	
	.text {
			padding-top: 30px;
	}
	
	.first h5 {
		margin: 25% 0 0 4%;
		font-size: 96px;
		font-size: 16vw;
		width: 96%;
	}
	
}



/*-------------TABLET CSS------------------*/
@media (min-width:600px) and (max-width:1023px) {
	
	.headerwrapper {
		width: 100%;
		background-image: url('http://thecloud.crimethinc.com/assets/features/destination/images/header2000.jpg');
		background-size: 100%;
		padding-bottom: 64%;
		background-position:center top;
	}
	
	h1 {
		font-size: 5vw;
		margin-left: 0%;
		margin-top: 30%;
		background-color: rgb(111, 99, 97);
		width: 50%;
		padding: 2% 2% 1% 2%;
		border-radius: 0px 20px 0px 0px;
		-moz-border-radius: 0px 20px 0px 0px;
		-webkit-border-radius: 0px 20px 0px 0px;
	}
	
	h4 {
		font-size: 3.7vw;
		margin-left: 0%;
		margin-top: 0%;
		background-color: rgb(111, 99, 97);
		width: 50%;
		padding: 1% 2% 2% 2%;
		border-radius: 0px 0px 20px 0px;
		-moz-border-radius: 0px 0px 20px 0px;
		-webkit-border-radius: 0px 0px 20px 0px;
	}
	
	aside blockquote {
		font-size: 25px;
	}
	
	aside blockquote p {
		font-size: 20px;
		margin-top: 18px;
	}
	
	.first h5 {
		margin: 25% 0 0 4%;
		font-size: 96px;
		font-size: 16vw;
		width: 96%;
	}
		
}


/*-------------DESKTOP TINY CSS------------------*/
@media (min-width:1024px) and (max-width:1249px) {
	
	.headerwrapper {
		width: 100%;
		background-image: url('http://thecloud.crimethinc.com/assets/features/destination/images/header2000.jpg');
		background-size: 100%;
		padding-bottom: 64%;
		background-position:center top;
	}
	
	h1 {
		font-size: 5vw;
		margin-left: 0%;
		margin-top: 30%;
		background-color: rgb(111, 99, 97);
		width: 50%;
		padding: 2% 2% 1% 2%;
		border-radius: 0px 20px 0px 0px;
		-moz-border-radius: 0px 20px 0px 0px;
		-webkit-border-radius: 0px 20px 0px 0px;
	}
	
	h4 {
		font-size: 3.7vw;
		margin-left: 0%;
		margin-top: 0%;
		background-color: rgb(111, 99, 97);
		width: 50%;
		padding: 1% 2% 2% 2%;
		border-radius: 0px 0px 20px 0px;
		-moz-border-radius: 0px 0px 20px 0px;
		-webkit-border-radius: 0px 0px 20px 0px;
	}
	
	aside {
		width: 770px;
	}
	
	aside blockquote {
		font-size: 25px;
	}
	
	aside blockquote p {
		font-size: 22px;
		margin-top: 10px;
	}
	
	.first h5 {
		margin: 300px 0px 0px 80px;
		font-size: 160px;
	}
	
	.longcaption {
		height: auto;
		padding-bottom: 8px;
		text-align: center;
	}
	
	/*div.smallimagecaption {
		background-color: black;
		margin-top: -30px;
		padding-left: 8px;
		width: 662px;
	}*/
	
	.bottompadded {
		padding-bottom: 30px;
	}
	
	.bottompaddedlong {
		padding-bottom: 60px;
	}
}



/*-------------DESKTOP SMALL CSS------------------*/
@media (min-width:1250px) and (max-width:1669px) {
	
	.headerwrapper {
		width: 100%;
		background-image: url('http://thecloud.crimethinc.com/assets/features/destination/images/header2000.jpg');
		background-size: 100%;
		padding-bottom: 64%;
		background-position:center top;
	}
	
	h1 {
		font-size: 4vw;
		margin-left: 0%;
		margin-top: 30%;
		background-color: rgb(111, 99, 97);
		width: 40%;
		padding: 2% 2% 1% 2%;
		border-radius: 0px 20px 0px 0px;
		-moz-border-radius: 0px 20px 0px 0px;
		-webkit-border-radius: 0px 20px 0px 0px;
	}
	
	h4 {
		font-size: 3vw;
		margin-left: 0%;
		margin-top: 0%;
		background-color: rgb(111, 99, 97);
		width: 40%;
		padding: 1% 2% 2% 2%;
		border-radius: 0px 0px 20px 0px;
		-moz-border-radius: 0px 0px 20px 0px;
		-webkit-border-radius: 0px 0px 20px 0px;
	}
		
	aside blockquote {
		font-size: 20px;
	}
	
	aside blockquote p {
		font-size: 18px;
		margin-top: 10px;
	}
	
	.first h5 {
		margin: 360px 0px 0px 80px;
		font-size: 200px;
	}
		
	.longcaption {
		height: auto;
		padding-bottom: 8px;
		text-align: center;
	}
	
	.smallimagecaption p {
		margin: 7px 5px 0 0;
	}
	
	/*div.smallimagecaption {
		background-color: black;
		margin-top: -30px;
		padding-left: 8px;
		width: 537px;
	}*/
	
	.bottompadded {
		padding-bottom: 30px;
	}
	
	.bottompaddedlong {
		padding-bottom: 60px;
	}
}



/*-------------DESKTOP BIG CSS------------------*/
@media (min-width:1670px) {
	
	.headerwrapper {
		width: 100%;
		background-image: url('http://thecloud.crimethinc.com/assets/features/destination/images/header2560.jpg');
		background-size: 100%;
		padding-bottom: 64%;
		background-position:center top;
	}
	
	h1 {
		font-size: 4vw;
		margin-left: 0%;
		margin-top: 30%;
		background-color: rgb(111, 99, 97);
		width: 40%;
		padding: 2% 2% 1% 2%;
		border-radius: 0px 20px 0px 0px;
		-moz-border-radius: 0px 20px 0px 0px;
		-webkit-border-radius: 0px 20px 0px 0px;
	}
	
	h4 {
		font-size: 3vw;
		margin-left: 0%;
		margin-top: 0%;
		background-color: rgb(111, 99, 97);
		width: 40%;
		padding: 1% 2% 2% 2%;
		border-radius: 0px 0px 20px 0px;
		-moz-border-radius: 0px 0px 20px 0px;
		-webkit-border-radius: 0px 0px 20px 0px;
	}
	
	
	aside blockquote {
		font-size: 30px;
	}
	
	aside blockquote p {
		font-size: 25px;
		margin-top: 20px;
	}
	
	.first h5 {
		margin: 460px 0px 0px 80px;
		font-size: 220px;
	}
		
	.longcaption {
		height: auto;
		padding-bottom: 8px;
		text-align: center;
	}
	
	.bigimage img {
		width: 1370px;
	}
	
	/*div.smallimagecaption {
		background-color: black;
		margin-top: -30px;
		padding-left: 8px;
		width: 662px;
	}*/
	
	.bottompadded {
		padding-bottom: 30px;
	}
	
	.bottompaddedlong {
		padding-bottom: 60px;
	}
	
}