<div id="position" class="form-group">
  <%= form.label :position, "Position this #{resource.namespace.singularize} on the index page" %>
  <%= form.number_field :position, step: 1, class: 'form-control' %>
</div><!-- #position -->
