<div id="position" class="form-group">
  <%= form.label :position, "Position this book on the index page" %>
  <%= number_field :book, :position, step: 1, class: 'form-control' %>
</div><!-- #position -->
