<!DOCTYPE html>
<%= tag.html dir:    html_dir,
             lang:   html_lang,
             class:  html_class,
             prefix: html_prefix do %>
  <head>
  </head>

  <body>
    <%= render_themed "shared/header" %>

    <main>
      <%= yield %>
    </main>
  </body>
<% end %>
