<article id="page-<%= @page.id %>" class="h-entry" role="article">
  <header>
    <%= render "articles/titles", header: @page, linked: false %>

    <% if @page.image.present? %>
      <%= image_tag @page.image, alt: @page.image_description, class: "u-photo" %>
    <% end %>
  </header>

  <div class="e-content">
    <%= @page.content_rendered %>
  </div>
</article>
