<article>
  <header>
    <h1>Books</h1>
  </header>

  <div class="book-series books-series-bullet">
    <div id="featured">
      <%= render "books/book", book: @bullet_books[0] %>
    </div>

    <% @bullet_books[1..-1].in_groups_of(2).each do |row| %>
      <div class="row">
        <% row.each do |book| %>

          <div class="column column-half section h-entry">
            <% unless book.blank? %>
              <%= render book %>
            <% end %>
          </div>

        <% end %>
      </div> <!-- .row -->
    <% end %>

  </div> <!-- .books-series-bullet -->
</article>

<article>
  <div class="book-series books-series-letters">
  <header>
    <h2>Letters Series</h2>
  </header>

  <div class="row">
    <% @letters_books.each do |book| %>
      <div class="column column-quarter h-entry">
        <%= render book %>
      </div>
    <% end %>
  </div>

  </div> <!-- .books-series-bullet -->
</article>
