<article>
  <header>
    <h1>We love making books.</h1>
  </header>

  <div class="e-content intro">
    <p>
      From passionate writing and meticulous editing, to intricate and unique design, to expert and careful production, these books are the result of much love and care. We've been at this for over a decade, and you'll find the proof in all the tiny details and orchestrated moments that can only be achieved with ink-soaked paper.
    </p>

    <p>
      All our books are printed with soy ink on 100% post-consumer recycled paper by skilled artisans in Louisville, Quebec, Canada using the finest offset printing presses.
    </p>
  </div>

  <div class="book-series book-series-bullet">
    <% @bullet_books.each do |book| %>
      <%= render "books/book", book: book %>
    <% end %>
  </div> <!-- .book-series-bullet -->
</article>

<!--
<article>
  <div class="book-series book-series-letters">
  <header>
    <h2>Letters Series</h2>
  </header>

  <div class="row">
    <% @letters_books.each do |book| %>
      <div class="column column-quarter h-entry">
        <%= render book %>
      </div>
    <% end %>
  </div>
-->

  <!-- </div> -->
   <!-- .book-series-letters -->
<!-- </article> -->
