<div class="h-entry">
  <header>
    <nav class="crumbtrail"><%= link_to "Books", [:books] %></nav>

    <div class="p-name">
      <h1 class="p-x-title">CrimethInc. Into Libraries</h1>
    </div>
  </header>

  <div class="row e-content">
    <div class="column column-two-third section meta">
      <p>
        Libraries are truly wonderful: free-to-use public spaces, filled with thousands of books from every gamut of human existence, existing to serve anyone who walks through their doors.
      </p>
      <p>
        Of course, a library is only as good as the books on its shelves, and we are making every effort to get our books onto the shelves of as many libraries as possible. We have spent a fair amount of our resources towards this direction (obtaining ISBN numbers, making the books available from a major book distributor, etc.) but the final move is up to you.
      </p>
      <p>
        Even if we had the desire, there is no way we would be able to institute a marketing campaign on the level necessary to get the attention of librarians and convince them to stock the books as is the norm in the book industry; so as usual, we are taking a nontraditional, grassroots approach that uses generosity and voluntary action in place of money and marketing sleight of hand.
      </p>
      <p>
        Libraries are delightfully responsive to properly filled out book request slips, and in fact a fair amount of books purchased by libraries are the result of requests made by library patrons. Simply go to the library, ask for book purchase request forms and fill them out properly (see right), and odds are the library will procure the books you request. Of course, the more people who request the book at any given library, the more likely it is they will pick it up. Also, you can do this at several libraries in your city, including both public and university libraries.
      </p>
      <p>
        As a result of your actions, anyone will be able to find out about and read these books for free, and if you ask me, I think we owe it—to all of the shy teenagers, homeless philosophers and desperate seekers—to all who are looking to the shelves for a way out of this reality. Ideas should never be held hostage by the dollar sign, and we thank you for helping us to make these free for anyone to read, in every city, in every library.
      </p>
      <h2>Practical Tips</h2>
      <p>
        The key ingredient in having success at this is to fill out the form as perfectly and completely as possible—presenting an appealing and simple task for the librarian to follow through on. Use neat handwriting and provide answers to every question on the form. To the right we have included all the information as it should appear on the form to facilitate an error-free database look-up. Most request slips ask for your address and sometimes library card number, etc., it is best to fill this out as truthfully as you feel comfortable with. Also, if you are not a member of the library, it would help to become one before filling out the form, and it is free anyway! The more serious they believe your request to be, the more likely it will be filled. OK, that should cover all the bases—I am sure you could have figured out all this on your own, but I thought it wouldn’t hurt to go over it. Good luck, and carry forth!
      </p>
      <p>
        <a href="http://www.crimethinc.com/blog/2009/10/18/crimethinc-into-libraries-progress-report-2/" title="CrimethInc. Into Libraries: Progress Report #2 | CrimethInc. Far East Blog">Click here to read the most recent progress report for our Into Libraries program.</a>
      </p>
    </div>

    <div class="column column-one-third section isbns">
      <h1>Book Request Info</h1>

      <p>
        <b>Title: Days of War, Nights of Love</b><br>
        <b>Author: </b>CrimethInc Workers' Collective<br>
        <b>Publisher: </b>CrimethInc Workers' Collective<br>
        <b>ISBN:</b> 0-9709101-0-X<br>
        <b>LC#:</b> HX833 .D39 2000 <br>
        <b>Price:</b> $9.95<br>
        <b>Format:</b> Softcover<br>
        <b>Edition:</b> 1st. Edition<br>
        <b>Date:</b> 2001
      </p>

      <p>
        <b>Title: Expect Resistance</b><br>
        <b>Author: </b>CrimethInc Workers' Collective<br>
        <b>Publisher: </b>CrimethInc Workers' Collective<br>
        <b>ISBN:</b> 0-9709101-6-9<br>
        <b>LC#:</b> HX833 .E97 2008<br>
        <b>Price:</b> $11.95<br>
        <b>Format:</b> Softcover<br>
        <b>Edition:</b> 1st. Edition<br>
        <b>Date:</b> 2008
      </p>

      <p>
        <b>Title: Work</b><br>
        <b>Author:</b> CrimethInc Workers' Collective<br>
        <b>Publisher</b>: CrimethInc Workers' Collective<br>
        <b>ISBN13:</b> 978-0-9709101-7-2<br>
        <b>LC#:</b> <em>pending</em><br>
        <b>Price:</b> $9.95<br>
        <b>Format: </b>Softcover<br>
        <b>Edition:</b> 1st. Edition<br>
        <b>Date:</b> 2011
      </p>

      <p>
        <b>Title: Contradictionary</b><br>
        <b>Author:</b> CrimethInc Workers' Collective<br>
        <b>Publisher</b>: CrimethInc Workers' Collective<br>
        <b>ISBN13:</b> 978-0-9709101-9-6<br>
        <b>LC#:</b> <em>pending</em><br>
        <b>Price:</b> $9.95<br>
        <b>Format: </b>Softcover<br>
        <b>Edition:</b> 1st. Edition<br>
        <b>Date:</b> 2013

        <b>Title: Recipes for Disaster</b><br>
        <b>Author:</b> CrimethInc Workers' Collective<br>
        <b>Publisher</b>: CrimethInc Workers' Collective<br>
        <b>ISBN:</b>0-9709101-8-5 <br>
        <b>LC#:</b> HX843 .R43 2004<br>
        <b>Price:</b> $14.95<br>
        <b>Format: </b>Softcover<br>
        <b>Edition:</b> 2nd. Edition<br>
        <b>Date:</b> 2012
      </p>

      <p>
        <b>Title: Off the Map</b><br>
        <b>Author:</b> Kika Kat &amp; Hib Chickena<br>
        <b>Publisher:</b> CrimethInc Workers' Collective<br>
        <b>ISBN:</b> 0-9709101-3-4<br>
        <b>LC#: </b>DB2614 .O34 2003<br>
        <b>Price:</b> $4.95<br>
        <b>Format:</b> Softcover<br>
        <b>Edition:</b> 1st. Edition<br>
        <b>Date:</b> 2003
      </p>

      <p>
        <b>Title: Evasion</b><br>
        <b>Author:</b> Anonymous<br>
        <b>Publisher:</b> CrimethInc Workers' Collective<br>
        <b>ISBN:</b> 0-9709101-1-8<br>
        <b>LC#:</b> HV4505 .E93 2001<br>
        <b>Price:</b> $7.95<br>
        <b>Format:</b> Softcover<br>
        <b>Edition:</b> 1st. Edition<br>
        <b>Date:</b> 2001
      </p>

      <p>
        They don’t ask for it, but it might help to put this in the margins:
        &ldquo;<q>Available from Baker &amp; Taylor, 800.775.2800</q>&rdquo;
      </p>
    </div>
  </div>
</div>
