<div class="h-entry">
  <header>
    <nav class="crumbtrail"><%= link_to "Books", [:books] %></nav>

    <div class="p-name">
      <h1 class="p-x-title">CrimethInc. Literature Distribution Kit</h1>
    </div>
  </header>

  <div class="row e-content">
    <div class="column column-two-third">
      <p>
        Perhaps one of the most radical ways to distribute literature, our Lit Kit is one big box full
        of everything you need to table at an event, or set-up a local radical literature distro.
        Rather than us sending out 1,000 separate orders for books to isolated individuals, the Lit
        Kit lets us send out 100 boxes to people who then act as agents on the ground, making contacts
        in their community and forming the roots for future collaboration. After years of extensive
        field research, our leading mad-scientists have come up with the perfect ratio of free stuff
        and stuff to sell to maximize the number of minds infected with radical ideas, and to ensure a
        return on your investment to sustain the battle. The Kit includes multiple copies of
        everything we distribute, and gives it all the maximum wholesale discount without requiring
        you to order the full wholesale quantity of each item. Paul likes to think the Lit Kit is the
        best idea he has had in years and the Kit&rsquo;s popularity seems to back that up.
      </p>

      <h2>One Lit Kit Includes:</h2>

      <ul class="list">
        <li><a href="/books/recipes-for-disaster">4 - Recipes for Disaster</a></li>
        <li><a href="/books/expect-resistance">4 - Expect Resistance</a></li>
        <li><a href="/books/days-of-war-nights-of-love">4 - Days of War, Nights of Love</a></li>
        <li><a href="/books/contradictionary">4 - Work</a></li>
        <li><a href="/books/contradictionary">4 - Contradictionary</a></li>
        <li><a href="/books/off-the-map">4 - Off the Map</a></li>
        <li><a href="/books/evasion">2 - Evasion</a></li>
        <li><a href="/tools/dvd.html" title="CWC Tools : DVD - Guerilla Film Series, Vol. 1">3 - CrimethInc. Guerilla Film Series, Vol. 1 DVD</a></li>
        <li><a href="/rt">4 - Rolling Thunder #12</a></li>
        <li><a href="/rt">1 - Rolling Thunder Bundle (#8,10-12)</a></li>
        <li><a href="/tools/posters.html" title="CWC Tools : Posters">5 - Poster Mix Kit (125 posters total)</a></li>
        <li><a href="/tools/guides.html" title="CWC Tools : Guides">2 - Guide Mix Kit (50 pamphlets total)</a></li>
        <li><a href="/tce">50 - To Change Everything</a></li>
        <li><a href="http://store.crimethinc.com/x/index.html#qr">100 - TCE QR Code Stickers</a></li>
        <li><a href="/prism">30 - PRISM Stickers</a></li>
      </ul>

      <h2>How to Use the Lit Kit</h2>

      <p>
        One of the things that make the Lit Kit, and CrimethInc. propaganda in general, unique is the
        combination of free items and books for sale. Most distros skip the free stuff, which creates
        quite a barrier for people who are interested in what you have to say, but are hesitant to
        make the commitment required by using their limited monetary resources. Having free items at
        your table lets people see what you are about and decide for themselves without having to
        spend money. Usually, in our experience, people come back excited about what they read, have
        good stories to tell about talks they had with their friends, adventures putting stickers and
        posters up in public places, etc. Also, they often ask how you can afford to give away all
        this stuff, and you point to the books for sale—&ldquo;This is how.&rdquo; The books sell, and the bigger,
        more complicated ideas get out into the world. We suggest setting up your table with a &lsquo;free&rsquo;
        section and a &lsquo;not free&rsquo; section; put the books and DVD on one side and the 450 posters,
        stickers, and zines on the other. People will love it and you&rsquo;ll love the feeling that comes
        with giving so much stuff away.
      </p>

      <h2>The Economics of the Lit Kit</h2>

      <p>
        But we all have to pay the piper, at least in this particular compromise we&rsquo;re making
        with the capitalist system, right? We have to pay the printers for all of these materials and
        you have to pay us, so we can pay the printers, so we can keep making these materials
        available&hellip; So, how can you sustain giving away the materials? By selling the books and
        DVD. We have structured the Kit so that if you sell all of the for-sale items at prices around
        what we sell them for, including the minimum postage we charge, you will make about $240. This
        allows you to pay off the cost of the Lit Kit, and have about $100 to re-invest in your own
        projects. And you can repeat the process with what is likely to be more and more success each
        time as word spreads. $100 can pay for a lot of stickers to be printed, silk screens to be
        burned, photocopies to be made and other more imaginative uses we&rsquo;ll leave up to you.
        Used properly, the Lit Kit really can become the seed for all kinds of radical activity right
        in your very own community.
      </p>


    </div>

    <div class="column column-one-third">
      <div id="buy-now">
        <%= render "books/buy_button", price: 14000, url: "http://store.crimethinc.com/x/AddToCart?Item=litkit&Dest=books" %>
      </div>

      <div class="buy-info">
        <p>Multiple kits are $135 each.</p>

        <p>The Lit Kit has been modified since the above photos were taken; the list to the left represents the exact contents.</p>
      </div>

      <div class="kit-photos">
        <%= link_to(image_tag("http://thecloud.crimethinc.com/assets/books/lit-kit/lit-kit-close-big.jpg",  alt: "Photo of Lit Kit"), "http://thecloud.crimethinc.com/assets/books/lit-kit/lit-kit-close-big.jpg")  %>

        <%= link_to(image_tag("http://thecloud.crimethinc.com/assets/books/lit-kit/lit-kit-wide.jpg", alt: "Photo of Lit Kit"), "http://thecloud.crimethinc.com/assets/books/lit-kit/lit-kit-wide-big.jpg") %>
      </div>

    </div>
  </div>
</div>
