/*-----------------------------------------------------------------*/
/*-------------APPLY TO ALL VERSIONS-------------------------------*/
/*-----------------------------------------------------------------*/


h1, h2, h3, h4 {
  font-family: "ff-meta-serif-web-pro",serif;
}

h1 {
  color: black;
  text-align: left;
  text-shadow: none;
  line-height: .85em;
  font-weight: 800;
}

h2 {
  color: #dc0b04;
  text-align: left;
  line-height: 1.05em;
}

h3 {
  color: #002776;
  text-align: left;
  line-height: 1.05em;
}

h4 {
  color: #dc0b04;
  text-align: center;
  /*text-shadow: -1px 1px 1px #000000;*/
  line-height: .85em;
  font-weight: 400;
  /*text-transform: uppercase;*/
  /*letter-spacing: .4em;*/
}

.video-container {
  padding-bottom: 73%;
}


/*------------ACCENT COLORS, INCLUDING LINKS----------------*/
.accent {
  color: #009a3a;
}

.accent a:link, .accent a:visited {
  color:#009a3a;
}

.accent a:hover, .accent a:active {
  color: black;
  text-shadow: 0px 0px 20px #009a3a;
}

.accent a:active {
  color:black;
}


/*------------------GENERIC LINKS----------------------------------*/

a {
  text-decoration: none;
  -webkit-transition:all .1s ease-in;
}

a:link, a:visited {
  color:#34AADC;
}

a:hover, a:active {
  color: black;
  text-shadow: 0px 0px 20px #34AADC;
}

a:active {
  color:black;
}

small a:hover, small a:active {
  color: #8E8E93;
}


/*-----------------FOOTNOTE COLORS------------------------*/

.refnumber, .fnumber {
  color: #FF2D55;
}

.footlink {
  color: #FF2D55;
}

.footlink a:link, .footlink a:visited {
  color: #FF2D55;
}

.footlink a:hover, .footlink a:active {
  color: black;
  text-shadow: 0px 0px 20px #FF2D55;
}

.footref {
  color: #FF2D55;
}

.footnote a:link, .footnote a:visited {
  color: black;
  text-decoration: underline;
}

.footnote a:hover, .footnote a:active {
  color: black;
  text-shadow: 0px 0px 20px #8E8E93;
}

.footreturn a:link, .footreturn a:visited {
  color: #FF2D55;
  text-decoration: none;
}

.footreturn a:hover, .footreturn a:active {
  color: black;
  text-shadow: 0px 0px 20px #FF2D55;
}

.specialquote {
  background: none !important;
}

.specialquote h5 {
  z-index: -100;
  position: absolute;
  text-align: center;
  color: white;
}

.specialquote img {
  position: relative;
  top: 0;
  left: 0;
  border: 0px solid #000000;
  width: 100%;
  z-index: -101;
}


/*----------------------------------------------------------*/
/*-------------RESPONSIVE CODE STARTS HERE------------------*/
/*----------------------------------------------------------*/



/*-------------PHONE CSS------------------*/
@media (min-device-width:200px) and (max-width:599px) {

  .headerwrapper {
    float: left;
    width: 100%;
    background-image: url('https://cloudfront.crimethinc.com/assets/features/kurdish/images/header1200.jpg');
    background-size: 100%;
    padding-bottom: 0;
    margin-bottom: -15px;
    background-position:center top;
  }

  h1 {
    font-size: 35px;
    font-size: 11vw;
    margin-left: 3%;
    margin-top: 6%;
    width: 90%;
  }

  @media (min-width:320px) and (max-width:359px) {
    h1 {
      font-size: 35px;
      font-size: 11vw;
    }
    }

  @media (min-width: 360px) and (max-width:379px) {
    h1 {
      font-size: 40px;
      font-size: 11vw;
    }

    }

  @media (min-width: 384px) and (max-width:399px) {
    h1 {
      font-size: 42px;
      font-size: 11vw;
    }

    }

  @media (min-width: 400px) and (max-width:599px) {
    h1 {
      font-size: 44px;
      font-size: 11vw;
    }

    }

  h2 {
    font-size: 25px;
    /*font-size: 33vw;*/
    margin: 50px 0 20px 0;
    padding: 0 5% 0 7%
  }

  h3 {
    font-size: 15px;
    /*font-size: 33vw;*/
    margin: 50px 0 20px 0;
  }

  h4 {
    font-size: 30px;
    font-size: 5.4vw;
    margin: 1% 0 45% 3%;
    width: 60%;
    text-align: left;
    line-height: 1em;
  }

  .specialquote h5 {
    font-size: 24px;
    font: 900 7.5vw/.85em "quatro-slab",serif;
    padding-top: 5%;
    text-shadow: -3px 3px 9px #000000;
    line-height: 1.1em;
    margin-right: 5%;
    margin-left: 5%;
  }

  .text {
      padding-top: 30px;
    }
}



/*-------------TABLET CSS------------------*/
@media (min-width:600px) and (max-width:1023px) {

  .headerwrapper {
    width: 100%;
    background-image: url('https://cloudfront.crimethinc.com/assets/features/kurdish/images/header2000.jpg');
    background-size: 100%;
    padding-bottom: 52%;
    background-position:center top;
  }

  h1 {
    font-size: 9vw;
    margin-left: 10%;
    margin-top: 6%;
  }

  h2 {
    font-size: 32px;
    /*font-size: 33vw;*/
    margin: 50px 0 20px 0;
    padding: 0 10% 0 11%;
  }

  h3 {
    font-size: 15px;
    /*font-size: 33vw;*/
    margin: 50px 0 20px 0;
  }

  h4 {
    font-size: 5vw;
    margin: 13% 0 0 5%;
    width: 70%;
  }

  .specialquote h5 {
    font: 900 100px/.85em "quatro-slab",serif;
    padding-top: 13%;
    text-shadow: -3px 3px 9px #000000;
    line-height: 1.2em;
  }
}



/*-------------DESKTOP TINY CSS------------------*/
@media (min-width:1024px) and (max-width:1249px) {

  .headerwrapper {
    width: 100%;
    background-image: url('https://cloudfront.crimethinc.com/assets/features/kurdish/images/header2000.jpg');
    background-size: 100%;
    padding-bottom: 52%;
    background-position:center top;
  }

  h1 {
    font-size: 9vw;
    margin-left: 10%;
    margin-top: 1%;
  }

  h2 {
    font-size: 32px;
    /*font-size: 33vw;*/
    margin: 50px 0 20px 0;
  }

  h3 {
    font-size: 15px;
    /*font-size: 33vw;*/
    margin: 50px 0 20px 0;
  }

  h4 {
    font-size: 4.25vw;
    margin: 14% 0 0 10%;
    width: 50%;
  }

  .specialquote h5 {
    font: 900 100px/.85em "quatro-slab",serif;
    padding-top: 13%;
    text-shadow: -3px 3px 9px #000000;
    line-height: 1.2em;
  }
}



/*-------------DESKTOP SMALL CSS------------------*/
@media (min-width:1250px) and (max-width:1669px) {

  .headerwrapper {
    width: 100%;
    background-image: url('https://cloudfront.crimethinc.com/assets/features/kurdish/images/header2000.jpg');
    background-size: 100%;
    padding-bottom: 52%;
    background-position:center top;
  }

  h1 {
    font-size: 8vw;
    margin-left: 10%;
    margin-top: 2%;
  }

  h2 {
    font-size: 26px;
    /*font-size: 33vw;*/
    margin: 50px 0 20px 0;
  }

  h3 {
    font-size: 15px;
    /*font-size: 33vw;*/
    margin: 50px 0 20px 0;
  }

  h4 {
    font-size: 2.25vw;
    margin: 1% 0 0 25%;
  }

  .specialquote h5 {
    font: 900 100px/.85em "quatro-slab",serif;
    padding-top: 13%;
    text-shadow: -3px 3px 9px #000000;
    line-height: 1.2em;
  }

}



/*-------------DESKTOP BIG CSS------------------*/
@media (min-width:1670px) {

  .headerwrapper {
    width: 100%;
    background-image: url('https://cloudfront.crimethinc.com/assets/features/kurdish/images/header2560.jpg');
    background-size: 100%;
    padding-bottom: 52%;
    background-position:center top;
  }

  h1 {
    font-size: 8vw;
    margin-left: 10%;
    margin-top: 3%;
  }

  h2 {
    font-size: 32px;
    /*font-size: 33vw;*/
    margin: 50px 0 20px 0;
  }

  h3 {
    font-size: 15px;
    /*font-size: 33vw;*/
    margin: 50px 0 20px 0;
  }

  h4 {
    font-size: 2.25vw;
    margin: 1% 0 0 25%;
  }

  .specialquote h5 {
    font: 900 100px/.85em "quatro-slab",serif;
    padding-top: 13%;
    text-shadow: -3px 3px 9px #000000;
    line-height: 1.2em;
  }
}