input[type=checkbox] {
  margin-right: .5rem;
}

.datetime-select {
  margin-bottom: 1rem;
}

.actions {
  text-align: right;
  margin: 2em 0 3em 0;
  padding-bottom: 1em;
  border-bottom: $border-size-xsmall solid #eee;
}

input[type="file"]::-webkit-file-upload-button {
  @extend .btn;
  @extend .btn-outline-primary;
}

.table img {
  max-width: 100px;
}
