body {
  margin-bottom: 10rem;
}

label + input[type=hidden] + input[type=checkbox] {
  margin-left: .5rem;
}

.datetime-select {
  margin-bottom: 1rem;
}

.actions {
  text-align: right;
  margin: 2em 0 3em 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
}
