<h1>CrimethInc. Support</h1>

<p>Click this link to edit your subscription:</p>

<p>
  <%= link_to support_edit_url(protocol: 'https', host: @host, token: @support_session.token),
              support_edit_url(protocol: 'https', host: @host, token: @support_session.token) %>
</p>

<p>That link will expire in one hour. If you don't get around to making the changes you want in time, no worries. We can always send you another super secret link from here:</p>

<p><%= support_url(protocol: 'https', host: @host) %></p>

<p>All the best,</p>

<p>CrimethInc.</p>
