local:
  service: Disk
  root:    <%= Rails.root.join 'storage' %>

test:
  service: Disk
  root:    <%= Rails.root.join 'tmp', 'storage' %>

amazon:
  service:           S3
  access_key_id:     <%= ENV.fetch('HDRIVE_S3_ACCESS_KEY') { 'TODO' } %>
  secret_access_key: <%= ENV.fetch('HDRIVE_S3_SECRET_KEY') { 'TODO' } %>
  bucket:            <%= ENV.fetch('HDRIVE_S3_BUCKET')     { 'TODO' } %>
  region:            <%= ENV.fetch('HDRIVE_S3_REGION')     { 'TODO' } %>
