<% content_for :auto_discovery do %>
  <%= auto_discovery_link_tag(:atom, tag_feed_path(@tag.slug), title: setting(:page_title)) %>
<% end %>

<header>
  <h1>Tag</h1>
  <h2><%= @tag.name %></h2>
</header>

<div class="h-feed">
  <%= render "articles/list", articles: @articles %>
</div>

<%= paginate @articles %>
