<% if book.table_of_contents.present? %>
  <div class="table-of-contents list">
    <h1>Table of Contents</h1>

    <%= render_markdown book.table_of_contents %>
  </div> <!-- #table-of-contents -->
<% end %>
