<% if article.tags.present? %>
  <div class='text-secondary'>
    <b><%= tt :tags %></b>

    <ul class='list-inline d-inline'>
      <% article.tags.each do |tag| %>
        <li class='list-inline-item m-0 underlined-links'>
          <%= link_to tag.name, tag_path(tag.slug), rel: 'tag', class: 'p-category text-secondary' %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
