<% if article.tags.present? %>
  <div class="tags">
    <b class="badge">Tags:</b>

    <ul>
      <% article.tags.each do |tag| %>
        <li><%= link_to tag.name, tag_path(tag.slug), rel: "tag", class: "p-category" %></li>
      <% end %>
    </ul>
  </div>
<% end %>
