<div id="social" class="social">
  <h1><%= t("footer.contact.social.heading") %></h1>
  <%= render_markdown t("footer.contact.social.description") %>

  <ul class="social-links">
    <% social_links.each do |name, url| %>
      <li class="social-link">
        <%= link_to name, url, class: social_link_classes(url: url, name: name), target: "_blank" %>
      </li>
    <% end %>
  </ul>

  <%= render "shared/site_search", location: :bottom %>
</div>
