<div class="newsletter-signup">
  <h1>Find CrimethInc. Elsewhere</h1>

  <p>
    CrimethInc. is lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>

  <ul class="social-links">
    <% @social_links.each do |link| %>
      <li><%= link_to link.name, link.url, class: social_link_classes(link) %></li>
    <% end %>
  </ul>
</div>
