<%= render "admin/page_header", thing: @roles %>

<table class="table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td>
          <%= link_to "EDIT", [:edit, :admin, role], class: "btn btn-primary btn-sm" %>
        </td>
        <td><%= link_to role.name, [:admin, role] %></td>
        <td>
          <%= link_to "DELETE", [:admin, role], method: :delete, data: { confirm: "Are you sure you're sure? There is NO UNDO." }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
