<% if signed_in? %>
  <style>
    #admin-header {
      padding: 2rem;
      background: #ff8300;
    }
  </style>

  <nav id="admin-header">
    <%= link_to "ADMIN Dashboard",    admin_path, class: "button" %>
    <%= link_to "Scroll to Site Top", "#header",  class: "button" %>

    <% if @editable.present? %>
      <b><%= link_to "Edit #{@editable.class}", [:edit, :admin, @editable], class: "button button-buy" %></b>
    <% end %>
  </nav>
<% end %>
