.alert {
  text-align: center;
  padding: var(--border-size-xlarge);
  font-size: 3rem;
  line-height: 1.25em;
  border-bottom: 10px solid black;

  p a {
    color: black;
    font-weight: bold;
    text-shadow: 8px 8px 5px rgba(0,0,0,.3);
  }
}

.alert.alert-notice {
  background: #FFAF19;
}

.alert.alert-floating {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.alert.alert-floating .close {
  float: right;
  cursor: pointer;
}
