.alert {
  text-align: center;
  padding: $border-size-xlarge;
  font-size: 3rem;
  line-height: 1.25em;

  a {
    color: white;
    text-shadow: 10px 10px 5px rgba(0,0,0,.25);
  }

  a i {
    font-weight: bold;
  }
}

.alert.alert-notice {
  background: #ff69b4;
}

.alert.alert-floating {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.alert.alert-floating .close {
  float: right;
  cursor: pointer;
}
