.button {
  display: inline-block;
  background: var(--color-gray);
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white) !important;
  border: var(--border-size-xsmall) solid var(--color-true-black);
  border-radius: 2px;
}

.download.button,
.buy-now.button,
.support-site.button {
  --button-green-border: lch(from var(--color-green) calc(l - 10) c h);

  background: var(--color-green);
  border-color: var(--button-green-border);
  font-weight: bold;
  font-weight: 500;
  color: var(--color-white);
}
