.darkgreen,
.darkgreen a {
  color: #006400 !important;
}
.darkred,
.darkred a {
  color: #8b0000 !important;
}
.deeppink,
.deeppink a {
  color: #ff1493 !important;
}
.goldenrod,
.goldenrod a {
  color: #daa520 !important;
}
.olive,
.olive a {
  color: #808000 !important;
}
.slategray,
.slategray a {
  color: #708090 !important;
}
.steelblue,
.steelblue a {
  color: #4682b4 !important;
}
