.site-header {
  position: relative;
  background-color: var(--color-true-black);
  padding: var(--border-size-large);

  @media screen and (max-width: $small-tablet) {
    padding: var(--border-size-medium);
  }

  .button {
    position: absolute;
    inset-block-start: var(--border-size-large);
    inset-inline-end: var(--border-size-large);
    background: var(--color-blue);

    @media screen and (max-width: $small-tablet) {
      inset-block-start: var(--border-size-medium);
      inset-inline-end: var(--border-size-medium);
      font-size: 12px;
      padding: 0.5em;
    }
  }
}

.header-logo a {
  background: var(--crimethinc-icon-svg);
  width: 15rem;
  height: 3rem;
  overflow: hidden;
  text-indent: -10000%;
  white-space: nowrap;
  display: inline-block;

  @media screen and (max-width: $small-tablet) {
    width: 10rem;
    height: 2rem;
  }
}

/* nav */
.primary-navigation {
  margin: 1rem 0 0 0;
  display: inline-block;
}

.nav-link {
  display: inline-block;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  margin-bottom: 1rem;
  margin-right: 1rem;

  a {
    text-decoration: none;

    &:link,
    &:visited {
      color: var(--color-white);
    }

    &:hover,
    &:active {
      border-bottom: 1px solid var(--color-white);
    }
  }
}

@media screen and (max-width: $small-tablet) {
  .site-header nav {
    margin-top: 0.4em;
  }
}

/* larger than $large-phone viewport */
@media screen and (min-width: $small-tablet) {
  .site-header .nav-link {
    font-size: 1.7rem;

    a {
      padding: 1rem 0;
    }
  }
}
