ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: center;

  li {
    display: inline;

    &.current div {
      font-weight: bold;
    }

    a,
    div {
      color: var(--color-black);
      float: left;
      padding: 8px 13px;
      text-decoration: none;
    }

    a:hover:not(.current) {
      background-color: var(--color-gray-light);
    }
  }
}

.pagination-container {
  text-align: center;
}
