.social {
  margin-top: 4rem;
  clear: both;
}

.social-links {
  margin-top: 2rem;

  .social-link {
    display: inline-block;

    a {
      display: inline-block;
      @include square(40px);
      @include social-icon("rss");
      margin: 0 $border-size-small $border-size-small 0;
    }

    // The Mastodon account is on a domain called todon.eu
    .link-domain-todon,
    .link-domain-mastodon  { @include social-icon("mastodon");  }
    .link-domain-facebook  { @include social-icon("facebook");  }
    .link-domain-github    { @include social-icon("github");    }
    .link-domain-instagram { @include social-icon("instagram"); }
    .link-domain-telegram  { @include social-icon("telegram");  }
    .link-domain-tiktok    { @include social-icon("tiktok");    }
    .link-domain-tumblr    { @include social-icon("tumblr");    }
    .link-domain-twitter   { @include social-icon("twitter");   }
    .link-domain-youtube   { @include social-icon("youtube");   }
    .link-domain-kolektiva, // the peertube instance domain is kolektiva.media
    .link-domain-peertube  { @include social-icon("peertube");  }
    .link-domain-bandcamp  { @include social-icon("bandcamp");  }
    .link-domain-reddit    { @include social-icon("reddit");  }
    .link-domain-bsky, // the bluesky domain is bsky for now, but it may change or have more in the future
    .link-domain-bluesky    { @include social-icon("bluesky");  }
  }
}
