// Move SUPPORT US button to left or right based on language direction
html[dir="ltr"] .site-header .button {
  right: var(--border-size-large);
}
html[dir="rtl"] .site-header .button {
  left: var(--border-size-large);
}
/* var(--small-tablet) */
@media screen and (max-width: 800px) {
  html[dir="ltr"] .site-header .button {
    right: var(--border-size-medium);
  }
  html[dir="rtl"] .site-header .button {
    left: var(--border-size-medium);
  }
}

.site-header {
  position: relative;
  background-color: var(--color-true-black);
  padding: var(--border-size-large);
  /* var(--small-tablet) */
  @media screen and (max-width: 800px) {
    padding: var(--border-size-medium);
  }

  .button {
    background: var(--color-blue);
    position: absolute;
    top: var(--border-size-large);
    /* var(--small-tablet) */
    @media screen and (max-width: 800px) {
      font-size: 12px;
      padding: 0.5em;
      top: var(--border-size-medium);
    }
  }
}

.header-logo a {
  @include image-replacement-graphic(
    "crimethinc-logo-type-white.svg",
    "crimethinc-logo-type-white.svg",
    15rem,
    3rem
  );
  @include size(15rem, 3rem);
  display: inline-block;
  /* var(--small-tablet) */
  @media screen and (max-width: 800px) {
    @include image-replacement-graphic(
      "crimethinc-logo-type-white.svg",
      "crimethinc-logo-type-white.svg",
      10rem,
      2rem
    );
    @include size(10rem, 2rem);
  }
}

.language-switcher a,
.language-switcher {
  color: white !important;
}

// nav
.primary-navigation {
  margin: 1rem 0 0 0;
  display: inline-block;
}

.nav-link {
  display: inline-block;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  margin-bottom: 1rem;
  margin-right: 1rem;

  a {
    text-decoration: none;

    &:link,
    &:visited {
      color: var(--color-white);
    }

    &:hover,
    &:active {
      border-bottom: 1px solid var(--color-white);
    }
  }
}
/* var(--small-tablet) */
@media screen and (max-width: 800px) {
  .site-header nav {
    display: block;
    margin-top: 0.4em;
  }
}

/* larger than var(--large-phone) viewport */
/* var(--small-tablet) */
@media screen and (min-width: 800px) {
  .site-header .nav-link {
    font-size: 1.7rem;

    a {
      padding: 1rem 0;
    }
  }
}
