<h1>CrimethInc. Support</h1>

<p>Click this link to edit your support:</p>

<p>
  <%= link_to support_edit_url(protocol: 'https', host: @host, token: @subscription_session.token),
              support_edit_url(protocol: 'https', host: @host, token: @subscription_session.token) %>
</p>

<p>All power to you.</p>
