$small-phone:     480px;
$large-phone:     640px;
$small-tablet:    800px;
$large-tablet:    960px;
$small-laptop:   1120px;
$medium-laptop:  1280px;
$large-laptop:   1440px;
$small-desktop:  1000px;
$medium-desktop: 1760px;
$large-desktop:  1920px;

$standard-def : "(-webkit-max-device-pixel-ratio: 1.49), (max-resolution: 143.9dpi), (max-resolution: 1.5dppx)";
$retina :       "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.49dppx)";
