<header>
  <h1><%= t 'page_titles.categories.index' %></h1>
</header>

<ul>
  <% @categories.each do |category| %>
    <li>
      <a href="<%= category.path %>">
        <strong><%= category.name %></strong>
        (<%= category.articles.count %>)
      </a>
    </li>
  <% end %>
</ul>
