<div class="footer-section footer-section-contact">
  <div class="footer-section-container">

    <%= render_themed "shared/footer/newsletter" %>
    <%= render_themed "shared/footer/social" %>

  </div>
</div>
