@font-face {
  font-family: "tcesymbols";
  src: url("/tce/css/tcefont/tcesymbols.eot?77890001");
  src: url("/tce/css/tcefont/tcesymbols.eot?77890001#iefix")
      format("embedded-opentype"),
    url("/tce/css/tcefont/tcesymbols.woff?77890001") format("woff"),
    url("/tce/css/tcefont/tcesymbols.ttf?77890001") format("truetype"),
    url("/tce/css/tcefont/tcesymbols.svg?77890001#tcesymbols") format("svg");
  font-weight: normal;
  font-style: normal;
}

nav {
  width: 100%;
  padding-top: 10%;
  margin-bottom: 10%;
  background-color: rgba(0, 0, 0, 0.79);
  z-index: 10;
  position: relative;
}
.label {
  display: none;
}

#navwrapper {
  margin: -10% 0 0 0;
  position: relative;
  width: 97%;
  overflow: visible;
  padding-bottom: 0px;
  z-index: 10;
}

#cwc {
  float: left;
  margin-left: 0;
  position: absolute;
  width: 100%;
}

#cwclogo {
  background-image: url("https://cdn.crimethinc.com/tce/images/cwclogo130.png");
  background-size: 100%;
  width: 9%;
  background-position: center top;
  float: left;
  background-repeat: no-repeat;
  margin: 1% 1% 0 2%;
  padding-top: 9%;
  position: relative;
}

#cwclabel {
  background-image: url("https://cdn.crimethinc.com/tce/images/cwcword50.png");
  background-size: 100%;
  width: 30%;
  background-position: center top;
  float: left;
  background-repeat: no-repeat;
  margin: 3.25% 0 0 0%;
  padding-top: 7%;
  position: relative;
}

#menus {
  float: right;
  margin-top: 2.1%;
}

nav ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;

  a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-family: "Vitesse SSm A", "Vitesse SSm B", Helvetica, Arial, sans-serif;
  }

  li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
  }
}

#toc a,
#language a,
#share a {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  padding: 4px 15px 0px 35px;
  font-family: "Vitesse SSm A", "Vitesse SSm B", Helvetica, Arial, sans-serif;
  width: 465px;
}
#language a {
  width: 220px;
}

#toc a:hover {
  color: #9ac149;
  text-decoration: none;
}

#language a:hover {
  color: #d62d34;
  text-decoration: none;
}

#share a:hover {
  color: #3cbce9;
  text-decoration: none;
}

ul#toc,
ul#language,
ul#share {
  padding-top: 20px;
  padding-bottom: 22px;
  border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-border-radius: 0px 0px 15px 15px;
  border: 0px solid #000000;
  background-color: rgba(23, 22, 22, 0.98);
}

ul#toc {
  width: 515px;
}
ul#language {
  width: 270px;
}
ul#share {
  width: 250px;
}

nav ul li.current-menu-item {
  background: #ddd;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(23, 22, 22, 0.98);
  padding: 0;

  li {
    float: none;
    width: 200px;
  }

  a {
    line-height: 120%;
    padding: 10px 15px;
  }
  ul {
    top: 0;
    left: 100%;
  }
}

.menuItem > a {
  display: inline-block;
}

.icon {
  width: 5vw;
  height: auto;
  padding-left: 5px;
}

#tocdiv {
  display: none;
  list-style: none;
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 4vw;
  line-height: 4vw;
  padding: 3% 5% 7% 5%;
  font-family: "Vitesse SSm A", "Vitesse SSm B", Helvetica, Arial, sans-serif;
  width: 90%;
  overflow: hidden;
  margin-bottom: -10%;
  text-indent: -5vw;
}

#languagediv {
  display: none;
  list-style: none;
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 6vw;
  line-height: 6vw;
  padding: 3% 5% 10% 12%;
  font-family: "Vitesse SSm A", "Vitesse SSm B", Helvetica, Arial, sans-serif;
  width: 83%;
  overflow: hidden;
  margin-bottom: -10%;
  text-indent: -5vw;
}

#sharediv {
  display: none;
  list-style: none;
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 6vw;
  line-height: 6vw;
  padding: 7% 5% 10% 30%;
  font-family: "Vitesse SSm A", "Vitesse SSm B", Helvetica, Arial, sans-serif;
  width: 65%;
  overflow: hidden;
  margin-bottom: -10%;

  .icon {
    color: #3cbce9;
  }

  a {
    color: white;
    text-decoration: none;
  }

  h1 {
    color: #3cbce9;
    text-decoration: none;
    font-weight: 300;
  }

  li {
    padding-top: 5%;
  }
}

#tocdiv h1 {
  color: #9ac149;
  text-decoration: none;
  font-weight: 300;
  font-size: 5vw;
  line-height: 12vw;
  font-family: "Vitesse SSm A", "Vitesse SSm B", Helvetica, Arial, sans-serif;
  text-align: center;
}

#tocdiv a {
  color: white;
  text-decoration: none;
}

#tocdiv a:hover,
#tocdiv a:active {
  color: #9ac149;
  text-decoration: none;
}

li.selected a:link,
li.selected a:visited {
  color: #d62d34 !important;
}

#languagediv a {
  color: white;
  text-decoration: none;
}

#languagediv a:hover,
#languagediv a:active {
  color: #d62d34;
  text-decoration: none;
}

.check {
  font-family: "tcesymbols", Helvetica, Arial, sans-serif;
}

#lang1,
#lang2 {
  width: 43%;
  margin: 0 0 0 7%;
  float: left;
  position: relative;

  li {
    padding-top: 7%;
  }
}

#toc1 {
  width: 50%;
  margin: 0 10% 0 7%;
  float: left;
  position: relative;

  li {
    padding-top: 6%;
  }
}

#toc2 {
  width: 28%;
  margin: 0 0 0 5%;
  float: left;
  position: relative;

  li {
    padding-top: 9.25%;
  }
}

/*-------------PHONE CSS------------------*/

/*-------------TABLET CSS------------------*/
@media (min-width: 601px) and (max-width: 1023px) {
  nav {
    padding-top: 5%;
  }

  .icon {
    width: 2vw;
  }

  .label {
    display: inline;
    font-size: 3vw;
    line-height: 3vw;
  }

  #cwclogo {
    width: 4.5%;
    margin: 5.5% 0.5% 0 1%;
    padding-top: 10%;
  }

  #cwclabel {
    width: 17%;
    margin: 6.3% 0 0 0%;
  }

  #menus {
    margin-top: 6%;
    width: 72%;
  }

  nav ul {
    width: 100%;

    li {
      padding-left: 5%;
    }
  }

  #languagediv {
    font-size: 4vw;
    line-height: 4vw;
    overflow: hidden;
  }

  #sharediv {
    font-size: 4vw;
    line-height: 4vw;
  }
}

/*-------------TABLET LANDSCAPE------------------*/
@media (min-width: 1024px) and (max-width: 1200px) {
  nav {
    padding-top: 3.2%;
  }

  .icon {
    width: 1.2vw;
  }

  .label {
    display: inline;
    font-size: 2vw;
    line-height: 2vw;
  }

  #cwclogo {
    width: 2.75%;
    margin: 7.3% 0.5% 0 1%;
    padding-top: 3%;
  }

  #cwclabel {
    width: 13%;
    margin: 7.4% 0 0 0%;
    padding-top: 2%;
  }

  #menus {
    margin-top: 7.5%;
    width: 60%;
  }

  nav ul {
    width: 100%;
    li {
      padding-left: 10%;
    }
  }

  #tocdiv {
    font-size: 2vw;
    line-height: 2vw;
    padding: 9% 2% 5% 7%;
    width: 50%;
    overflow: unset;
    float: left;
    position: absolute;
    top: 4.15%;
    background-color: #353535;
  }

  #languagediv {
    font-size: 2vw;
    line-height: 2vw;
    padding: 9% 5% 7.75% 6%;
    width: 30%;
    float: right;
    position: absolute;
    left: 59%;
    top: 4.15%;
    background-color: #353535;
  }

  #sharediv {
    font-size: 2vw;
    line-height: 2vw;
    padding: 8% 0% 2% 10%;
    width: 90%;
    overflow: hidden;
    margin-bottom: unset;
    z-index: 9;
    position: absolute;
    background-color: #353535;

    li {
      float: left;
      padding-right: 5.7%;
    }
  }

  #tocdiv h1 {
    display: none;
  }

  #toc1 {
    width: 37%;
    margin: 0 10% 0 15%;
  }
  #toc2 li {
    padding-top: 7%;
  }

  #lang1 {
    width: 59%;
  }
  #lang2 {
    width: 27%;
    li {
      padding-top: 15%;
    }
  }
}

/*-------------ALL DESKTOPS CSS------------------*/
@media (min-width: 1201px) {
  nav {
    background-color: rgba(52, 52, 52, 0.79);
    margin: 0;
    padding: 0;
    position: absolute;
  }

  .icon {
    padding-right: 5px;
    width: 1vw;
  }

  .label {
    display: inline;
  }

  #navwrapper {
    margin: 0 auto;
    width: 700px;
  }

  #cwc {
    position: unset;
    width: auto;
  }

  #cwclogo {
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    margin-right: 4px;
  }
  #cwclabel {
    height: 25px;
    width: 140px;
    padding: unset;
    margin-top: 7px;
    margin-right: 15px;
  }

  #menus {
    margin-top: 0;
  }

  nav ul {
    a {
      display: block;
      font-size: 18px;
      line-height: 32px;
      padding: 4px 15px 0;
    }
  }

  nav ul li:hover > ul {
    display: block;
    z-index: 10;
  }

  #tocdiv {
    display: none;
    position: fixed;
    top: -10000px;
    left: -10000px;
  }
  #languagediv {
    display: none;
    position: fixed;
    top: -10000px;
    left: -10000px;
  }
  #sharediv {
    display: none;
    position: fixed;
    top: -10000px;
    left: -10000px;
  }
}
/*-------------DESKTOP SMALL CSS------------------*/
@media (min-width: 1201px) and (max-width: 1670px) {
  #toc a,
  #language a,
  #share a {
    font-size: 18px;
    line-height: 26px;
  }

  #toc a {
    width: 345px;
  }
  #language a {
    width: 180px;
  }

  ul#toc {
    width: 395px;
  }
  ul#language {
    width: 230px;
  }
  ul#share {
    width: 210px;
  }
}
