html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}




h1 {
	color: #F7F7F7;
	text-align: left;
	text-shadow: -1px 1px 1px #000000;
	line-height: .85em;
	font-family: "quatro-slab",serif;
	font-weight: 700;
	font-size: 100px;
	font-size: 6.5vw;
	margin-left: 5%;
	margin-top: 23%;
}

h2 {
	color: #444F61;
	text-align: left;
	font: 700 40px/.95em "quatro-slab",serif;
	margin: 50px 0 10px 0;
}

h3 {
	color: #444F61;
	text-align: left;
	font: 400 20px/.95em "quatro-slab",serif;
	margin: 20px 0 20px 0;
}

h4 {
	color: #F7F7F7;
	text-align: center;
	/*text-shadow: -1px 1px 1px #000000;*/
	line-height: .85em;
	font-family: "quatro-slab",serif;
	font-weight: 400;
	font-size: 22px;
	font-size: 1.75vw;
	margin: 2% 0 0 15%;
	text-transform: uppercase;
	letter-spacing: .4em;
}

p {
  font: 400 17px/1.5em "pt-sans",sans-serif;
  text-indent: 26px;
  }

.text h2+p, .text p:first-of-type {
  text-indent: 0px;
  }

.bigimage {
	width: 1230px;
	margin-left: -505px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: grey;
	line-height: 0;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
}

.bigimage img {
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border: 0px solid #000000;
	width: 100%;
}

.bigimagecaption {
	width: 1230px;
	margin-top: -32px;
	height: 32px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	color: white;
	position: absolute;
	border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 0px 0px 7px 7px;
	text-align: right;
}

.bigimagecaption p {
  font: 400 13px/1.5em "pt-sans",sans-serif;
  text-indent: 0px;
  margin: 7px 15px 0 0;
}

.smallimage img {
 	width: 545px;
 	margin: 30px 0px 20px 0px;
 	position: relative;
}

.grandwrapper {
	width: 100%;
}

.header {
	position: absolute;
    top: 0; left: 0;
	width: 100%;
	padding-top: 7.5%;
}

.headerwrapper {
	width: 100%;
	background-image: url('http://thecloud.crimethinc.com/assets/features/ukraine/head2560.jpg');
	background-size: 100%;
	padding-bottom: 50%;
	background-position:center bottom;
}

.content {
	width: 1250px;
	margin: 0 auto;
	overflow: hidden;
}

.text {
	width: 545px;
	margin: 30px 0px 20px 515px;
	position: relative;
}

aside {
	width: 450px;
	margin-left: -490px;
	position: absolute;
	text-align: right;
}

aside blockquote {
	font-family: "quatro-slab",serif;
	font-weight: 100;	
	font-size: 40px;
	line-height: .95em;
}

small {
	width: 130px;
	position: absolute;
	left: 580px;
	font: 400 12px/1.2em "pt-sans",sans-serif;
	text-indent: -14px;
	margin-top: 7px;
	color: #8E8E93;
}

.list li {
	padding: 0px 0px 15px 0px;
	list-style-type: disc;
	color: black;
	}

a {
	text-decoration: none;
	-webkit-transition:all .1s ease-in;
}

a:link, a:visited {
	color:#34AADC;
}    

a:hover, a:active {
	color: black;
	text-shadow: 0px 0px 20px #34AADC;
}

a:active {
	color:black;
} 

small a:hover, small a:active {
	color: #8E8E93;
}

.grey a:link, .grey a:visited {
	color: #456C97;
	text-shadow: none;
	/*text-decoration: underline;*/
}

.grey a:hover, .grey a:active {
	color: black;
	text-shadow: 0px 0px 20px #34AADC;
}

.textfadegreen a:link, .textfadegreen a:visited {
	color: #5AD427;
	text-shadow: none;
	text-decoration: underline;
}

.textfadegreen a:hover, .textfadegreen a:active {
	color: #8E8E93;
	text-shadow: none;
}

.refnumber {
	color: #FF2D55;
	vertical-align: top; 
	position: relative; 
	top: -0.3em;
	font-size: 0.85em;
	font-weight: 700;
}

.fnumber {
	color: #FF2D55;
	font-weight: 700;
}

.footlink {
	display: none;
}


.grey {
  color: #444F61;
}

.textfadeblue {
  background:
  -webkit-linear-gradient(-45deg, #1AD6FD 0%,#1D62F0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   color: #1AD6FD;
}

.textfadegreen {
  background:
  -webkit-linear-gradient(-45deg, #5AD427 0%,#A4E786 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   color: #5AD427;
}

nav {
	width: 1000px;
	height: 45px;
	margin: 25px auto -70px auto;
	background-color: rgba(44, 44, 44, 0.95);
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	z-index: 100;
	position: relative;
	-moz-box-shadow: -1px 2px 7px #000000;
	-webkit-box-shadow: -1px 1px 10px #000000;
	box-shadow: -1px 2px 7px #000000;
}

.menu-link {
	float: left;
}

#logo img {
	width: 75px;
	height: 65px;
	padding: 5px;
	margin-top: -25px;
	
}

#word img {
	width: 163px;
	height: 25px;
	padding: 10px 15px 0 5px;
}

#navlinks {
	font: 300 17px/1em "nimbus-sans",sans-serif;
	letter-spacing: .05em;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;	
	float: left;
	padding: 15px 0 0 5px;
}

#navlinks a:link, #navlinks a:visited {
	color: white;
}    

#navlinks a:hover, #navlinks a:active {
	color: #34AADC;
	text-shadow: none;
}

#navlinks a:active {
	color: #34AADC;
}

#search {
	padding: 0;
	float:  right;
}

.searchinput {
	margin: 0;
	padding: 9px 12px 6px 0px;
	border-radius: 0px 7px 7px 0px;
	-moz-border-radius: 0px 7px 7px 0px;
	-webkit-border-radius: 0px 7px 7px 0px;
	font: 300 17px/1em "nimbus-sans",sans-serif;
	background-color: rgba(44, 44, 44, 0.00);
	border: none;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;	
	letter-spacing: .05em;
	height: 30px;
	width: 140px;
	text-align: right;
}

 .searchinput:focus {
 	color: #34AADC;
 }

.footnote {
	display: none;
}

.menusearch {
	display: none;
}

.phonebreak {
	display: none;
}


footer {
	width: 100%;
	background-color: #343434;
	position: relative;
	float: left;
	display: inline-block;
}

#footercontent {
	width:  1200px;
	margin: 0 auto;
	padding: 25px;
	overflow: hidden;
	color: white;
}

#moretexts {
	width: 300px;
	margin: 0;
	float: left;
	font: 400 16px/1em "pt-sans",sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	padding-right: 50px;
}

#moretexts li {
	margin: 12px 0 0 0;
	list-style-type: none;
	}
	
#moretexts a:hover, #moretexts a:active {
	color: white;
	text-shadow: none;
	}

#bookdisplay {
	width: 850px;
	margin: 0;
	float: left;
}

#bookdisplay h3 {
	font: 400 16px/1.5em "pt-sans",sans-serif;
	text-indent: 0px;
	margin: 0 0 30px 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	text-align: center;	
	color: white;
}

.bookinfo {
	width:  410px;
	margin: 0;
	float: left;
}

.bookinfoleft {
	margin-right: 30px !important;
}

.bookinfothird {
	display: none;
}

.bookinfo p {
	font: 400 14px/1.5em "pt-sans",sans-serif;
	text-indent: 0px;
	margin: 10px 0 0 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;	
}

.bookinfo h2 {
	font: 700 20px/1.75em "quatro-slab",serif;
}

.bookinfo img {
	width: 150px;
	float: left;
	-webkit-backface-visibility: hidden;
	background-color: #bec0c2;
	padding: 0 !important;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg); 
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);  
	transform: rotate(-3deg);  
	-webkit-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
	margin-right: 15px;
	background-color: #343434;
}

.roundedoutside {
	border-radius: 0px 12px 12px 0px;
	-moz-border-radius: 0px 12px 12px 0px;
	-webkit-border-radius: 0px 12px 12px 0px;
}

#bookdisplay a {
	text-decoration: none;
	-webkit-transition:all .1s ease-in;
}

#bookdisplay a:link, #bookdisplay a:visited {
	color: white;
}    

#bookdisplay a:hover, #bookdisplay a:active {
	color: white;
	text-shadow: 0px 0px 20px black;
}

#postfooter {
	width: 100%;
	background: #343434;
	float: left;
	display: inline-block;
}

#footercredits {
	width:  1200px;
	margin: 0 auto;
	padding: 0 0 25px 0;
	overflow: hidden;
	color: #eaeded;
	text-align: center;
}

#footercredits img {
	width: 27px;
	margin: 0 5px -5px 0;
}

#footercredits p {
	display: inline-block;
	font: 300 15px/1em "nimbus-sans",sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;	
}

#footercredits br {
	display: none;
}


