<% unless article.blank? %>
  <article class="h-entry" id="article-<%= article.id %>" style="background-image: url(<%= article.image %>)" role="article">
    <%= render "articles/header", article: article %>
  </article>
<% end %>



<!--
<footer>
  <% if article.categories.present? %>
    <div class="categories">
      <b>Categories:</b>
      <ul>
        <% article.categories.each do |category| %>
          <li><%= link_to category.name, category.slug, rel: "tag", class: "p-category" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</footer>
-->
