<% if @pinned_to_top.present? %>
  <%#= render "pages/pinned", page: @pinned_to_top, position: "top" %>
<% end %>

<div class="h-feed">
  <%= render "articles/card", article: @articles.shift %>

  <% @articles.in_groups_of(2).each do |row| %>
    <div class="row">
      <% row.each do |article| %>
        <%= render "articles/card", article: article %>
      <% end %>
    </div>
  <% end %>
</div>

<% if @pinned_to_bottom.present? %>
  <%#= render "pages/pinned", page: @pinned_to_bottom, position: "bottom" %>
<% end %>
