<% if @pinned_to_top.present? %>
  <%= render "articles/pinned", page: @pinned_to_top, position: "top" %>
<% end %>

<div class="h-feed">
  <div class="featured">
    <%= render "articles/card", article: @articles.pop %>
  </div>

  <% @articles.in_groups_of(2).each do |articles| %>
    <div class="row">
      <% articles.each do |article| %>
        <%= render "articles/card", article: article %>
      <% end %>
    </div>
  <% end %>
</div>

<% if @pinned_to_bottom.present? %>
  <%= render "articles/pinned", page: @pinned_to_bottom, position: "bottom" %>
<% end %>
