<header>
  <h1>
    <%= link_to "Archives", [:read] %>
  </h1>

  <h2>
    <time>
      <%= link_to_dates(year: @articles_year, month: @articles_month, day: @articles_day) %>
    </time>
  </h2>
</header>

<div class="h-feed">
  <% @articles.sort.reverse.each do |year, months| %>
    <% months.sort.reverse.each do |month, articles| %>

      <% unless @articles_day.present? or @articles_month.present? %>
        <h1 class="year-month"><%= link_to_dates(year: year, month: month) %></h1>
      <% end %>

      <%= render "articles/list", articles: articles %>

    <% end %>
  <% end %>
</div>
