.h-feed {

  .articles-list {
    .h-entry {
      margin-bottom: 4rem;

      header {
        margin: 0;
      }

      .screen-reader-only  { display: none; }

      .contributions { margin-top: 0.5em; }

      .u-photo {
        width: 100%;
        margin-bottom: 1rem;
      }

      h1 {
        font: {
          weight: bold;
          weight: 800;
          size: 3rem;
        }
        line-height: 1em;
        margin-bottom: .1em;
      }

      h2 {
        font-size: 2.5rem;
      }
    } // .h-entry
  } //.articles-list

} // .h-feed
