.button {
  display: inline-block;
  background: $color-gray;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;
  outline: $border-size-xsmall solid $color-true-black;
  border: none;
}

.buy-now.button,
.support-site.button {
  background: $color-green;
  background: green;
  outline-color: darken($color-green, 20%);
  font-weight: bold;
  font-weight: 500;
}
