.button {
  display: inline-block;
  background: $color-gray;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;
  border: $border-size-xsmall solid $color-true-black;
  border-radius: 2px;
}

.download.button,
.buy-now.button,
.support-site.button {
  background: $color-green;
  border-color: darken($color-green, 10%);
  font-weight: bold;
  font-weight: 500;
  color: $color-white;
}
