.h-entry {
  .tags,
  .categories,
  .dt-published,
  .contributions {
    ul,
    li {
      display: inline-block;
    }

    .label { font-weight: bold; }
  }

  .dt-published {
    display: inline-block;
    margin-top: .5em;
  }

  .contributions {
    margin-bottom: .5em;
  }

  .categories {
    display: none;

    @media screen and (min-width: $small-tablet) {
      display: block;
      margin-bottom: .5em;
      text-transform: uppercase;
    }

    .badge {
      display: none;
    }
  }

  #download-pdf {
    margin-top: 1em;
  }
}
