@media screen and (min-width: $large-phone) {
  .row {
    display: flex;
  }

  .column {
    margin-right: $border-size-large;
  }

  .column:last-child {
    padding-right: 0;
  }

  .column.column-one-third        { width: 33.333333333%; }
  .column.column-two-third        { width: 67%; }

  .column.column-one-quarter      { width: 25%; }
  .column.column-two-quarter      { width: 50%; }
  .column.column-three-quarter    { width: 75%; }

  .column.column-half             { width: 50%; }
}

