.site-header {
  align-items: center;
  background-color: $color-true-black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $border-size-medium $border-size-medium;

  label {
    @include hide-text();
    display: inherit;
    position: relative;

    &::after {
      bottom: -2.2rem;
      color: $color-black;
      content: "\1F50D";
      font-size: 2rem;
      position: absolute;
      right: 1rem;
    }
  }
}

.header-logo a {
  @include image-replacement-graphic("crimethinc-logo-type-white.svg", "crimethinc-logo-type-white.svg", 15rem, 3rem);
  @include size(15rem, 3rem);
  display: block;
}

.bulb-and-bones-logo {
  @include image-replacement-graphic("icons/icon-120x120.png", "icons/icon-120x120.png", 3rem, 3rem);
  @include size(3rem, 3rem);
  display: block;
}
