.site-header {
  align-items: center;
  background-color: #76c261;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $border-size-medium $border-size-medium;
  -webkit-animation: colorfader linear infinite;
  -webkit-animation-duration: 90s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: colorfader linear infinite;
  -moz-animation-duration: 90s;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;

  label {
    @include hide-text();
    display: inherit;
    position: relative;

    &::after {
      bottom: -2.2rem;
      color: $color-black;
      content: "\1F50D";
      font-size: 2rem;
      position: absolute;
      right: 1rem;
    }
  }
}

.header-logo a {
  @include image-replacement-graphic("crimethinc-logo-type-white.svg", "crimethinc-logo-type-white.svg", 15rem, 3rem);
  @include size(15rem, 3rem);
  display: block;

  @media screen and (max-width: $small-tablet) {
    @include image-replacement-graphic("crimethinc-logo-type-white.svg", "crimethinc-logo-type-white.svg", 10rem, 2rem);
    @include size(10rem, 2rem);
  }
}

.bulb-and-bones-logo {
  @include image-replacement-graphic("icons/icon-120x120.png", "icons/icon-120x120.png", 3rem, 3rem);
  @include size(3rem, 3rem);
  display: block;

  @media screen and (max-width: $small-tablet) {
    margin-left: 122px;
    display: none;
//    @include image-replacement-graphic("icons/icon-120x120.png", "icons/icon-120x120.png", 2rem, 2rem);
//    @include size(2rem, 2rem);
  }
}

@include color-fader("colorfader", $header-color-list);
