// nav
.primary-navigation {
  display: flex;
  flex-wrap: wrap;
}

.nav-link {
  font-size: 1.7rem;
  letter-spacing: .05em;
  text: {
    align: center;
    transform: lowercase;
  }
  width: 20%;

  @media screen and (min-width: $small-tablet) {
    display: flex;
  }

  a {
    display: block;
    padding: 1em 0;
    text-decoration: none;
    transition: background-color 250ms;

    &:link, &:visited {
      color: $color-white;
    }

    &:hover, &:active {
      background-color: $color-white;
      color: $color-true-black;
    }

    @media screen and (max-width: $small-tablet) {
      padding: .5em 0;
    }
  }
}

.secondary-navigation {
  display: flex;
  align-items: center;
  padding: $border-size-medium;
  border-bottom: 1px solid $color-gray-light;

  .archives-search-form {
    display: inline-block;
    width: 50%;

    a.advanced-search-link {
      color: $color-gray;
    }
  }

  .start-link {
    display: inline-block;
    width: 50%;
    @include bold();
    font-size: 1.5rem;
    text: {
      align: right;
      transform: uppercase;
      decoration: underline;
    }

    a {
      color: $color-true-black;

      &:link, &:visited {
        color: $color-true-black;
      }
    }
  }
}

// small viewports
.secondary-navigation {
  display: none;
}

@media screen and (max-width: $small-tablet) {
  .site-header nav {
    display: block;
    margin-top: .4em;
  }
}

// larger than $large-phone viewport
@media screen and (min-width: $small-tablet) {
  .site-header nav,
  .secondary-navigation {
    display: flex;
  }

  .site-header .nav-link {
    width: auto;

    a {
      padding: 1rem;
    }
  }
}
