// nav
.primary-navigation {
  display: flex;
}

.nav-link {
  background-color: $color-true-black;
  font-size: 1.7rem;
  text: {
    align: center;
    transform: uppercase;
  }
  width: 20%;
  width: 25%; // TODO TEMP until SHARE link comes back

  a {
    display: block;
    padding: 1em 0;
    text-decoration: none;
    transition: background-color 250ms;

    &:link, &:visited {
      color: $color-white;
    }

    &:hover, &:active {
      background-color: $color-white;
      color: $color-true-black;
    }
  }
}


.secondary-navigation {
  display: flex;
  align-items: center;
  padding: $border-size-medium;
  border-bottom: 1px solid $color-gray-light;

  .archives-search-form {
    display: inline-block;
    width: 50%;
  }

  .start-link {
    display: inline-block;
    width: 50%;
    @include bold();
    font-size: 1.5rem;
    text: {
      align: right;
      transform: uppercase;
      decoration: underline;
    }

    a {
      color: $color-true-black;

      &:link, &:visited {
        color: $color-true-black;
      }
    }
  }
}


// small viewports
.site-header nav[role=navigation],
.secondary-navigation {
  display: none;
}

// larger than $large-phone viewport
@media screen and (min-width: $small-tablet) {
  .site-header + nav[role=navigation] {
    display: none;
  }

  .site-header nav[role=navigation],
  .secondary-navigation {
    display: flex;
  }

  .site-header .nav-link {
    width: auto;

    a {
      padding: 1rem;
    }
  }
}
