.pinned-page {
  margin-top: $border-size-medium;
  padding: $border-size-large;
  color: black;

  iframe,
  video,
  img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.25em;
  }

  &.pinned-page-top {
    .dm-title {
      font: {
        size: 2.5rem;
        weight: lighter;
        weight: 300;
      }
      text-transform: uppercase;
    }

    .dm-subtitle {
      font: {
        size: 3rem;
        weight: bold;
      }
    }

    .p-name {
      margin-bottom: 1em;
    }

    .e-content {
      font-size:   1.75rem;
      line-height: 1.25em;

      p {
        margin-bottom: 1rem;
      }

      p:last-child a {
        font-weight: bolder;
        font-weight: 500;
        text-decoration: none;
        border-bottom: $border-size-xsmall solid $color-white;
      }
    }

    @media screen and (min-width: #{$small-tablet}) {
      .pinned-page-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      .u-photo {
        width: 33%;
        height: 0%;
        display: inline-block;
      }

      .e-content {
        width: 67%;
        display: inline-block;
        padding-left: $border-size-large;
      }
    }

    @media screen and (min-width: #{$large-tablet}) {
      .e-content {
        font-size: 1.25em;
      }
    }

    @media screen and (min-width: #{$small-laptop}) {
      .e-content {
        font-size: 1.5em;

        p {
          line-height: 1.5em;
        }
      }
    }
  }

  &.pinned-page-bottom {
    margin: $border-size-xlarge auto;

    .dm-title {
      font: {
        size: 3rem;
        weight: bold;
        weight: 800;
      }
      line-height: 1.25em;
    }

    .dm-subtitle {
      font: {
        size: 2rem;
        weight: lighter;
        weight: 300;
      }
      line-height: 1.25em;
    }

    .p-name {
      margin-bottom: 1em;
    }

  }
}
