#home           .categories,
#article header .categories {
  .label {
    display: none;
  }

  position: absolute;
  bottom:  10px;
  right:   10px;
  text-transform: uppercase;
  z-index: 20;

  li {
    display: inline-block;
    padding: $border-size-medium;
    background: $color-true-black;
  }

  a {
    text-decoration: none;
  }
}
