<h3 class="card-title">Bold and Italics</h3>

<p class="lead">
  Any text in any Markdown tag can be made bold or italicized.
</p>

<p>
  To embolden text, wrap it in double asterisks
  (<code>** **</code>).

  To italicize text, wrap it in underscores
  (<code>_ _</code>).
</p>

<pre class="border p-3">
Plain **Bold** _Italics_
</pre>

<hr>

<h4>Example Markdown</h4>

<pre class="border p-3">
A sentence with **bold** and _italics_ in it.
</pre>

<h4>Generated HTML</h4>

<pre class="border p-3">
A sentence with &lt;b&gt;bold&lt;/b&gt; and &lt;i&gt;italics&lt;/i&gt; in it.
</pre>

<h4>Rendered HTML</h4>

<div class="border p-3">
  A sentence with <b>bold</b> and <i>italics</i> in it.
</div>
