<h3 class="card-title">Horizontal Rules (Divider Lines)</h3>

<p class="lead">
  Horizontal rules are thin lines that can divide text into different sections
</p>

<p>
  Horizontal rules are made of a group three or more asterisks
  (<code>*</code>) on its own line.
</p>

<p>A horizontal rule should always have a blank line above and below it.</p>

<pre class="border p-3">
---
- - - - - -
--------------
</pre>

<hr>

<h4>Example Markdown</h4>

<pre class="border p-3">
---
</pre>

<h4>Generated HTML</h4>

<pre class="border p-3">
&lt;hr&gt;
</pre>

<h4>Rendered HTML</h4>

<div class="border p-3">
<hr>
</div>
