<article class="h-entry">
  <header>
    <h1>Arts Desk</h1>
    <h2>Submission Guidelines</h2>
  </header>

  <div class="row">
    <div class="column column-one-third meta">
      <%= image_tag "https://cloudfront.crimethinc.com/assets/pages/arts/submission-guidelines/submission-guidelines.gif", class: "u-photo" %>
    </div> <!-- .column -->

    <div class="column column-two-third">
      <div class="e-content">
        <h2 id="articles">Articles</h2>

        <p>Are there artists, aesthetic movements, or current trends that pique your interest enough to spend many thankless nights researching them, and many more explaining — in thoughtful, engaging prose — why the rest of us should care? Do you want to lionize some unsung hero of radical printmaking, reveal the secret radicalism of a famous writer, or explore the connection between an art form and a political current? If you&rsquo;re a first-time contributor, we ask that you send an abstract of your article and a brief writing sample before sending your finished essay. Articles are generally between 1500 and 3000 words.</p>

        <h2 id="artifacts">Artifacts</h2>

        <p>Share what you’re making! Fiction, video, music, and visual art of all kinds, in any way inspired by the life you’re living on the fringes with the rest of us. We only ask — no unsolicited poetry. Sorry, everybody.</p>

        <h2 id="reviews">Reviews</h2>

        <p>Tell us what you’re moved by, angry about, fixated on, or disturbingly seduced by. You can review all sorts of cultural artifacts, from novels and poetry to graffiti and street theater, from ancient history to current pop culture. Use your review as a point of departure to engage with the bigger questions and stranger implications of your subject.</p>

        <h2 id="attribution">Attribution</h2>

        <p>You can use your own name, a pseudonym, a heteronym, or no name at all! We don’t own anything you send us, but we do ask that whatever you send hasn’t been previously published on the web.</p>

        <p>Send all submissions to <a href="mailto:deluge@crimethinc.com">deluge@crimethinc.com</a>.</p>
      </div> <!-- .e-content -->
    </div> <!-- .column -->
  </div> <!-- .row -->

</article>
