<div>
  <header>
    <h1>Emergency Broadcast System</h1>
    <h2>A Selection of Videos from CrimethInc. Perpetual Motion Pictures</h2>
  </header>

  <div>
    <% @videos.in_groups_of(2).each do |row| %>

      <div class="row">
        <% row.each do |video| %>
          <div class="column column-half section h-entry">
            <% unless video.blank? %>
              <%#= image_tag video.image, alt: video.image_description, class: "u-image" %>
              <%= render "videos/video", video: video, linked: true %>
            <% end %>
          </div>
        <% end %>

      </div> <!-- .row -->
    <% end %>

  </div> <!-- .e-content -->
</div>
