<!-- Latest article -->
<section id='latest' class='py-5'>
  <p class='mb-2'><%= tt :latest_article %></p>

  <%= render_themed 'home/sections/article', article: article %>
</section>
<!-- /Latest article -->
