/* TODO: audit all checkboxes and ensure usage of bootstrap .form-check */
input[type="checkbox"] {
  margin-right: 0.5rem;
}

.table img {
  max-height: 100px;
}

img {
  max-width: 100%;
}

label {
  font-weight: bold;
}

.form-check label b {
  font-weight: normal;
}

// Border on this article (2017-08-23) indicates when the view counter started.
// Everything below it was published pre-counter.
.article-counter-genesis {
  border-bottom: 10px solid #666;
}

// helpers, extract to file when it makes sense
.rotated {
  transform: rotate(-2deg);
}
