// vendor library
@import 'bootstrap';

// text
@import 'steal-something-from-work-day/fonts';
@import 'steal-something-from-work-day/typography';

// header / hero
@import 'steal-something-from-work-day/header';

img { max-width: 100%; }

figure {
  @extend .my-5;

  img {
    @extend .rounded;
  }

  figcaption {
    @extend .mt-2;
    @extend .text-muted;
    @extend .form-text;
  }
}

// TODO: delete
dt {
  @include font-bold;
  @extend .lead;
}

// TODO: delete
dd + dt {
  @extend .mt-4;
}

// TODO: delete
dt + dd {
  @extend .mt-1;
}

blockquote {
  @extend .blockquote;
  @extend .text-secondary;
  font-style: italic;
}

main {
  img { width: 100%; }

  // TODO: delete
  header {
    @extend .mb-4;
    @extend .pb-2;
    @extend .border-bottom;
  }
}

// Section headings
header,
#faq,
#outreach-materials,
#interviews,
#narratives {
  h1 {
    @include font-black;
  }

  h2 {
    @include font-light;
  }
}

#introduction {
  h1 {
    @include font-light;
    @extend .text-muted;
    @extend .h2;
  }
  h2 {
    @include font-black;
    @extend .h1;
  }
}

#analysis,
#narratives {
  h1, h2 {
    @include font-black;
    @extend .h1;
  }

  h3 {
    @include font-light;
  }

  hr {
    @extend .my-5;
  }
}

// Acts as header
#introduction h2,
#faq h1,
#outreach-materials h1,
#interviews h1,
#interviews h3,
#analysis h1,
#analysis h3,
#analysis #yes-we-even-stole-from-work-under-socialism,
#analysis #beyond-stealing-from-work,
#narratives h1,
#narratives h3,
#narratives #steal-from-work-to-create-autonomous-zones,
#narratives #what-became-of-the-boxes,
#narratives #stealing-from-work-is-a-gamble,
#narratives #dont-beg-for-a-piece-of-the-pie,
#narratives #like-most-workplace-thieves {
  @extend .mb-4;
  @extend .pb-2;
  @extend .border-bottom;
}

.embed-responsive figcaption {
  padding-top: 125px;
}
