@import 'to_change_everything/common';

@import 'to_change_everything/english';
@import 'to_change_everything/espanol';
@import 'to_change_everything/espanol-america-latina';
@import 'to_change_everything/farsi';
@import 'to_change_everything/lietuvos';
@import 'to_change_everything/nihongo';
@import 'to_change_everything/portugues';
@import 'to_change_everything/quebecois';
@import 'to_change_everything/ภาษาไทย';
@import 'to_change_everything/한국어';
@import 'to_change_everything/turkce';
@import 'to_change_everything/malay';
