<h1>Profile</h1>

<% if @user.name.present? %>
  <h2><%= @user.name %></h2>
<% end %>

<h3><%= mail_to @user.email, @user.email %></h3>

<% if @user.avatar.present? %>
  <%= image_tag @user.avatar, style: "max-width: 200px" %>
<% end %>
