<%= render "admin/page_header", thing: @podcasts %>

<% @podcasts.each do |podcast| %>
  <%= render "admin/podcasts/podcast", podcast: podcast %>

  <hr>
<% end %>

<div class="pagination-container">
  <%= paginate @podcasts, views_prefix: "admin" %>
</div>
