/*
Hyperlinks
TODO: why isn't this working by changing --bs-link-decoration to "none"
*/

/* no underline for all links or buttons */
a,
.btn:hover,
.btn:active {
  text-decoration: none;
}

/* underline for all links */
a:hover,
a:active {
  text-decoration: underline;
}

/* underline and bolder for all links in the main content */
.underlined-links a {
  text-decoration: underline;
}
