// Header navbar links
a:hover, a:active, a { @extend .text-decoration-none; }
a:hover, a:active    { @extend .text-decoration-underline; }

header {
  a:hover, a:active { @extend .text-decoration-none; }
}

// Top of page cards
// toggle header cards from nav icons using CSS (:target), no JS
#about:target     #about-card     { display: block !important; }
#languages:target #languages-card { display: block !important; }
#search:target    #search-card    { display: block !important; }
#share:target     #share-card     { display: block !important; }