name: Ruby

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: ruby:2.6.4

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      # - name: Set up Ruby 2.6
      #   uses: actions/setup-ruby@v1
      #   with:
      #     ruby-version: '2.6.4'

      - name: Build and run tests with RSpec
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3
          bundle exec rspec spec
