on: [push]

name: Tests, System

jobs:
  run:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11.6-alpine
        ports: ["5432:5432"]
        env:
          PGUSER: postgres
          PGPASSWORD: ""
        # Ensure Postgres container passes a health check
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Install system libraries
        run: sudo apt-get -y install libpq-dev

      - name: Checkout repository
        uses: actions/checkout@main

      - name: Set up Ruby
        uses: ruby/setup-ruby@master
        with:
          bundler-cache: true

      - name: Configure database
        env:
          PGUSER: postgres
        run: bundle exec rails db:create

      - name: Run tests
        env:
          PGUSER: postgres
        run: bundle exec rspec spec/system
