on: [push]

name: Tests

jobs:
  run:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11.6-alpine
        ports: ['5432:5432']
        env:
          PGUSER: postgres
          PGPASSWORD: ''
        # Ensure Postgres container passes a health check
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Install system libraries
        run: |
          sudo apt-get -y install libpq-dev

      - name: Checkout repository
        uses: actions/checkout@master

      - name: Set up Ruby
        uses: ruby/setup-ruby@master

      - name: Cache bundled gems
        id: gem-cache
        uses: actions/cache@v1
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-

      - name: Install Ruby gems
        run: |
          gem install bundler
          bundle config set path 'vendor/bundle
          bundle install --jobs 4 --retry 3

      - name: Configure database
        env:
          PGUSER: postgres
        run: |
          bundle exec rails db:create

      - name: Run tests
        env:
          PGUSER: postgres
        run: |
          bundle exec rspec
