#languages {
  .subdomain-switcher {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    background: #fff3cd;
    border-color: #ffeeba;
    border-radius: 4px;

    p {
      margin: 0;
      padding: 0;
      display: inline;
    }
  }
}
