#podcast {
  main {
    /* On /podcasts and /podcasts/specific-podcast pages */
    .latest-episode {
      margin: calc(var(--border-size-xlarge) * 2) auto;

      h1 {
        font-weight: normal;
        font-size: 3rem;
        margin-bottom: var(--border-size-medium);
      }
    }

    /* On /podcasts/specific-podcast page */
    .other-episodes {
      h1 {
        font-weight: normal;
        font-size: 2rem;
      }
    }

    /* On an episode details page */
    .podcast-meta {
      text-align: right;

      /* TODO: remove as this comes in @base */
      img {
        max-width: 100%;
      }

      .p-name {
        margin-bottom: var(--border-size-large);
        text-align: left;
      }

      h1 {
        font-weight: bold;
        font-weight: 800;
        font-size: 2rem;
        line-height: 1.25em;
      }

      h2 {
        font-size: 1.5rem;
        line-height: 1.5em;
      }

      .podcast-contact-info {
        line-height: 1.25em;
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        text-align: left;
        word-break: keep-all;

        i {
          -webkit-hyphens: none;
             -moz-hyphens: none;
                  hyphens: none;
        }

        a {
          text-indent: 0 !important;
          margin: 0;
        }
      }
    }

    /* on all 3 podcast page types */
    .subscribe {
      margin: var(--border-size-xlarge) auto;
      text-align: center;

      a {
        display: inline-block;
        margin: 0 0 var(--border-size-small) var(--border-size-small);

        &:first-child {
          margin-left: 0;
        }
      }

      .h-feed {
        article {
          margin-bottom: var(--border-size-xlarge);
        }

        h1 {
          font-weight: normal;
          font-weight: 700;
          font-size: 2rem;
          margin-bottom: var(--border-size-medium);
        }

        .e-content {
          margin-bottom: var(--border-size-large);
        }
      }

      [class*="podcast-subscribe-"] {
        --podcast-sub-img:  url("podcast-subscribe-buttons/rss.png");

        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 110px;
        height: 40px;
        overflow: hidden;
        text-indent: -10000%;
        white-space: nowrap;
        background-image: var(--podcast-sub-img);
      }

      .podcast-subscribe-rss { --podcast-sub-img:  url("podcast-subscribe-buttons/rss.png"); }
      .podcast-subscribe-itunes { --podcast-sub-img:  url("podcast-subscribe-buttons/itunes.png"); }
      .podcast-subscribe-overcast { --podcast-sub-img:  url("podcast-subscribe-buttons/overcast.png"); }
      .podcast-subscribe-pocketcasts { --podcast-sub-img:  url("podcast-subscribe-buttons/pocketcasts.png"); }
    }

    .listen {
      small {
        color: var(--color-gray-medium);
        font-size: .75em;
      }
    }

    ul, ol {
      list-style-type: disc;
      padding-left: 2.5rem;
      margin-top:  1.5rem;
    }

    ol {
      list-style-type: decimal;
    }

    ul {
      list-style-type: square;
    }

    @media screen and (min-width: 800px) {
      .subscribe {
        margin: var(--border-size-small) auto;
        text-align: right;

        a {
          margin: 0 0 var(--border-size-small) var(--border-size-small);
          /* WHY is this necessary? :( */
          /* Answer: this is to visually hide text, but keep for screen
             readers. erb template can be update to add the .visually-hidden
             class on this element and then this can be removed */
          text-indent: 9999em !important;
        }
      }

      .latest-episode {
        margin-top: 0;
      }

      .meta {
        .p-name {
          text-align: right;
        }

        .podcast-contact-info {
          text-align: right;
        }
      }
    }
  }
}
