html#definitions {
  .h-entry.definition {

    margin-bottom: 10rem;

    .crumbtrail {
      margin-bottom: 2rem;

      a {
        text-decoration: underline;
      }
    }

    .e-content > * {
      max-width: var(--large-tablet);
    }

    #introduction {
      margin-top: 2rem;
      width: 66%;
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 1.33em;
    }

    .alphabet {
      font-size: 1.25em;
      margin-top: 6rem;
      text-align: center;
    }

  }
}
