<!DOCTYPE html>
<html dir="ltr" lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <title><%= @title %></title>
</head>
<body>
  <p>Text-Only CrimethInc. (go to <a href='/'>full version</a>)</p>
  <%= yield %>
</body>
</html>
