$color-white:       white;
$color-black:       #444;
$color-true-black:  black;
$color-green:       #008002;
$color-gray:        gray;
$color-gray-light:  #efefef;
$color-gray-medium: #666666;
$color-gray-dark:   #979797;
$color-blue:        #0293FF;
