$color-white:       white;
$color-black:       #444;
$color-true-black:  black;
$color-green:       #008002;
$color-gray:        gray;
$color-gray-light:  #efefef;
$color-gray-medium: #666666;
$color-gray-dark:   #979797;
$color-blue:        #0293FF;

<<<<<<< HEAD
$header-color-list: #76c261 #fdc345 #f89438 #e65453 #a759a8 #32afe2;
=======
// #110 ~ The colors will need to be changed to permanent choices
//        And it can be more or less than 6
$header-color-list: $color-true-black; //#fdc345 #f89438 #e65453 #a759a8 #32afe2;
>>>>>>> original/master
