$base-font-size: 1.6rem;

$family-system:	system, -apple-system, BlinkMacSystemFont, ‘Segoe UI’, Roboto, Oxygen, Ubuntu, Cantarell, ‘Open Sans’, ‘Helvetica Neue’, sans-serif;

$font-headings: $family-system;
$font-body:     $family-system;
