$base-font-size: 1.6rem;

$font-serif: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$font-sans-serif: "Century Gothic", "Gill Sans", CenturyGothic, "Gill Sans MT", Calibri, AppleGothic, sans-serif;

$font-headings: $font-serif;
$font-body: $font-sans-serif;
